{% extends "dashboard_organizer/base.html" %}
{% load static i18n get_theme_value get_user_primary_email crispy_forms_tags %}

{% block head_title %}{% trans "Create Event" %} - SocialPass{% endblock head_title %}

{% block navbar_title %}{% trans "Create Event" %}{% endblock navbar_title %}

{% block navbar_title_2 %}{% trans "Create Event" %}{% endblock navbar_title_2 %}

{% block content %}
<div class="mw-100 mx-auto mt-4 mb-3" style="width: 720px;">
	<h1 class="h3 mb-0">{% trans "Create Event" %}</h1>
	<p class="text-body-secondary mb-0">
		{% trans "The Fun Stuff &mdash; Name your event, add your cover image, and fill in the necessary details." %}
	</p>
</div>
<div class="card border-0 rounded-4 shadow-sm mb-3 mw-100 mx-auto" style="width: 720px;">
	{% include "dashboard_organizer/event_form.html" %}
</div>
{% endblock content %}

{% block extra_body %}
<script type="text/javascript">
	document.getElementById("id_timezone").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>
<script>
	var startDateInput = document.getElementById("id_start_date");
	var endDateInput = document.getElementById("id_end_date");
	var endDateExtraFeedback = document.getElementById("end-date-extra-feedback");

	function dateValidate(e) {
		var startDateVal = startDateInput.value;
		var endDateVal = endDateInput.value;

		endDateExtraFeedback.classList.add("d-none");
		endDateInput.classList.remove("is-invalid");

		if (startDateVal && endDateVal) {
			var startDate = new Date(startDateVal);
			var endDate = new Date(endDateVal);

			if (startDate >= endDate) {
				endDateExtraFeedback.classList.remove("d-none");
				endDateInput.classList.add("is-invalid");
			}
		}
	}

	startDateInput.addEventListener("change", dateValidate);
	endDateInput.addEventListener("change", dateValidate);
</script>
<script type="text/javascript">
	const coverImgPlaceholder = document.getElementById("cover-img-placeholder").value;
	const coverImgBg = document.getElementById("cover-img-bg");
	const coverImgPreview = document.getElementById("cover-img-preview");
	const coverImgInput = document.getElementById("id_cover_image");
	coverImgInput.addEventListener("change", function(event) {
		const [file] = coverImgInput.files;
		if (file) {
			coverImgBg.src = URL.createObjectURL(file);
			coverImgPreview.src = URL.createObjectURL(file);
		}
		else {
			coverImgBg.src = coverImgPlaceholder;
			coverImgPreview.src = coverImgPlaceholder;
		}
	});
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDChv6Fl3rYj_sbx3hEoLbJ1FNO3QAP8Ts&loading=async&callback=initialize&libraries=places,marker"></script>
<script type="text/javascript">
	// Form fields
	const geoAddress = document.getElementById("id_geo_address");
	const geoType = document.getElementById("id_geo_type");
	const geoPlaceId = document.getElementById("id_geo_place_id");
	const geoLatitude = document.getElementById("id_geo_latitude");
	const geoLongitude = document.getElementById("id_geo_longitude");
	const geoResetBtn = document.getElementById("reset_geo_form_btn")

	// Google maps initialization / handler
	const geoMap = document.getElementById("geo_map")
	function initialize() {
		const autocomplete = new google.maps.places.Autocomplete(geoAddress);
		autocomplete.addListener("place_changed", function () {
			// Set place info
			const place = autocomplete.getPlace();
			geoType.value = "GOOGLE";
			geoPlaceId.value = place.place_id;
			geoLatitude.value = place.geometry.location.lat().toFixed(6);
			geoLongitude.value = place.geometry.location.lng().toFixed(6);

			// Set map info
			geoMap.style.height = "250px";
			geoMap.style.width = "100%";
			var map = new google.maps.Map(geoMap, {
				mapId: "DEMO_MAP_ID"
			});
			map.setCenter(place.geometry.location);
			map.setZoom(15);
			var marker = new google.maps.marker.AdvancedMarkerElement({
				map: map,
				position: place.geometry.location,
			});

			// disable form
			geoAddress.disabled = true;
			geoResetBtn.classList.remove("invisible")
		});
	}
	function resetGeoForm(){
		// Reset form fields
		geoType.value = "MANUAL";
		geoPlaceId.value = "";
		geoLatitude.value = "";
		geoLongitude.value = "";
		geoAddress.value = "";

		// Hide map
		geoMap.style.height = "0px";
		geoMap.style.width = "0px";

		// set readonly -> false
		geoAddress.disabled = false;

		// hide button
		geoResetBtn.classList.add("invisible")
	}
	geoAddress.addEventListener("focusin", function() {
		// Reset form fields
		geoType.value = "MANUAL";
		geoPlaceId.value = "";
		geoLatitude.value = "";
		geoLongitude.value = "";

		// Hide map
		geoMap.style.height = "0px";
		geoMap.style.width = "0px";
	});
</script>
{% endblock %}
