{% load i18n %}

<div class="container-lg px-3 px-sm-4 d-none d-md-block">
    <ul class="nav nav-underline">
        <li class="nav-item">
            <a href="{% url 'dashboard_organizer:event_update' current_team.slug event.pk %}"
               class="nav-link px-lg-2 fw-bold antialiased {% if request.resolver_match.url_name == 'event_update' %}active{% endif %}"
               {% if request.resolver_match.url_name == 'event_update' %}aria-current="true"{% endif %}>
                {% trans "Overview" %}
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'dashboard_organizer:event_tickets' current_team.slug event.pk %}"
               class="nav-link px-lg-2 fw-bold antialiased {% if request.resolver_match.url_name == 'event_tickets' or request.resolver_match.url_name == 'ticket_tier_free_create' or request.resolver_match.url_name == 'ticket_tier_fiat_create' or request.resolver_match.url_name == 'ticket_tier_nft_create' or request.resolver_match.url_name == 'ticket_tier_update' or request.resolver_match.url_name == 'ticket_tier_delete' %}active{% endif %}"
               {% if request.resolver_match.url_name == 'event_tickets' or request.resolver_match.url_name == 'ticket_tier_free_create' or request.resolver_match.url_name == 'ticket_tier_fiat_create' or request.resolver_match.url_name == 'ticket_tier_nft_create' or request.resolver_match.url_name == 'ticket_tier_update' or request.resolver_match.url_name == 'ticket_tier_delete' %}aria-current="true"{% endif %}>
                {% trans "Ticketing" %}
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'dashboard_organizer:event_share' current_team.slug event.pk %}"
               class="nav-link px-lg-2 fw-bold antialiased {% if request.resolver_match.url_name == 'event_share' %}active{% endif %}"
               {% if request.resolver_match.url_name == 'event_share' %}aria-current="true"{% endif %}>
                {% trans "Sharing" %}
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'dashboard_organizer:waiting_queue' current_team.slug event.pk %}"
               class="nav-link px-lg-2 fw-bold antialiased {% if request.resolver_match.url_name == 'waiting_queue' %}active{% endif %}"
               {% if request.resolver_match.url_name == 'waiting_queue' %}aria-current="true"{% endif %}>
                {% trans "Waitlist" %}
            </a>
        </li>
        {% if current_team.allow_rsvp %}
            <li class="nav-item">
                <a href="{% url 'dashboard_organizer:rsvp_tickets' current_team.slug event.pk %}"
                   class="nav-link px-lg-2 fw-bold antialiased {% if request.resolver_match.url_name == 'rsvp_tickets' or request.resolver_match.url_name == 'rsvp_create_tickets' %}active{% endif %}"
                   {% if request.resolver_match.url_name == 'rsvp_tickets' or request.resolver_match.url_name == 'rsvp_create_tickets' %}aria-current="true"{% endif %}>
                    {% trans "RSVP" %}
                </a>
            </li>
        {% endif %}
        {% if current_team.allow_messaging %}
            <li class="nav-item">
                <a href="{% url 'dashboard_organizer:message_batches' current_team.slug event.pk %}"
                   class="nav-link px-lg-2 fw-bold antialiased {% if request.resolver_match.url_name == 'message_batches' or request.resolver_match.url_name == 'message_batch_create' %}active{% endif %}"
                   {% if request.resolver_match.url_name == 'message_batches' or request.resolver_match.url_name == 'message_batch_create' %}aria-current="true"{% endif %}>
                    {% trans "Messaging" %}
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="{% url 'dashboard_organizer:event_check_in_guests' current_team.slug event.pk %}"
               class="nav-link px-lg-2 fw-bold antialiased {% if request.resolver_match.url_name == 'event_check_in_guests' %}active{% endif %}"
               {% if request.resolver_match.url_name == 'event_check_in_guests' %}aria-current="true"{% endif %}>
                {% trans "Check-in Guests" %}
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'dashboard_organizer:event_stats' current_team.slug event.pk %}"
               class="nav-link px-lg-2 fw-bold antialiased {% if request.resolver_match.url_name == 'event_stats' %}active{% endif %}"
               {% if request.resolver_match.url_name == 'event_stats' %}aria-current="true"{% endif %}>
                {% trans "Stats" %}
            </a>
        </li>
    </ul>
</div>
<div class="container-lg px-3 px-sm-4 pb-2 d-md-none">
    <button type="button"
            class="btn btn-secondary d-flex align-items-center w-100"
            data-bs-toggle="collapse"
            data-bs-target="#tabs-collapse"
            aria-expanded="false"
            aria-controls="tabs-collapse">
        {% if request.resolver_match.url_name == 'event_update' %}
            {% trans "Overview" %}
        {% elif request.resolver_match.url_name == 'event_tickets' or request.resolver_match.url_name == 'ticket_tier_free_create' or request.resolver_match.url_name == 'ticket_tier_fiat_create' or request.resolver_match.url_name == 'ticket_tier_nft_create' or request.resolver_match.url_name == 'ticket_tier_update' or request.resolver_match.url_name == 'ticket_tier_delete' %}
            {% trans "Ticketing" %}
        {% elif request.resolver_match.url_name == 'event_share' %}
            {% trans "Sharing" %}
        {% elif request.resolver_match.url_name == 'waiting_queue' %}
            {% trans "Waitlist" %}
        {% elif request.resolver_match.url_name == 'rsvp_tickets' or request.resolver_match.url_name == 'rsvp_create_tickets' %}
            {% trans "RSVP" %}
        {% elif request.resolver_match.url_name == 'message_batches' or request.resolver_match.url_name == 'message_batch_create' %}
            {% trans "Messaging" %}
        {% elif request.resolver_match.url_name == 'event_check_in_guests' %}
            {% trans "Check-in Guests" %}
        {% elif request.resolver_match.url_name == 'event_stats' %}
            {% trans "Stats" %}
        {% endif %}
        <i class="fa-regular fa-angle-down ms-auto"></i>
    </button>
    <div class="collapse" id="tabs-collapse">
        <div class="mt-2">
            <ul class="list-unstyled text-body mb-0">
                <li class="mb-2"
                    {% if request.resolver_match.url_name == 'event_update' %}aria-current="true"{% endif %}>
                    <a href="{% url 'dashboard_organizer:event_update' current_team.slug event.pk %}"
                       class="text-reset text-decoration-none {% if request.resolver_match.url_name == 'event_update' %}text-primary-emphasis fw-bold antialiased{% endif %}">
                        {% trans "Overview" %}
                    </a>
                </li>
                <li class="mb-2"
                    {% if request.resolver_match.url_name == 'event_tickets' or request.resolver_match.url_name == 'ticket_tier_free_create' or request.resolver_match.url_name == 'ticket_tier_fiat_create' or request.resolver_match.url_name == 'ticket_tier_nft_create' or request.resolver_match.url_name == 'ticket_tier_update' or request.resolver_match.url_name == 'ticket_tier_delete' %}aria-current="true"{% endif %}>
                    <a href="{% url 'dashboard_organizer:event_tickets' current_team.slug event.pk %}"
                       class="text-reset text-decoration-none {% if request.resolver_match.url_name == 'event_tickets' or request.resolver_match.url_name == 'ticket_tier_free_create' or request.resolver_match.url_name == 'ticket_tier_fiat_create' or request.resolver_match.url_name == 'ticket_tier_nft_create' or request.resolver_match.url_name == 'ticket_tier_update' or request.resolver_match.url_name == 'ticket_tier_delete' %}text-primary-emphasis fw-bold antialiased{% endif %}">
                        {% trans "Ticketing" %}
                    </a>
                </li>
                <li class="mb-2"
                    {% if request.resolver_match.url_name == 'event_share' %}aria-current="true"{% endif %}>
                    <a href="{% url 'dashboard_organizer:event_share' current_team.slug event.pk %}"
                       class="text-reset text-decoration-none {% if request.resolver_match.url_name == 'event_share' %}text-primary-emphasis fw-bold antialiased{% endif %}">
                        {% trans "Sharing" %}
                    </a>
                </li>
                <li class="mb-2"
                    {% if request.resolver_match.url_name == 'waiting_queue' %}aria-current="true"{% endif %}>
                    <a href="{% url 'dashboard_organizer:waiting_queue' current_team.slug event.pk %}"
                       class="text-reset text-decoration-none {% if request.resolver_match.url_name == 'waiting_queue' %}text-primary-emphasis fw-bold antialiased{% endif %}">
                        {% trans "Waitlist" %}
                    </a>
                </li>
                {% if current_team.allow_rsvp %}
                    <li class="mb-2"
                        {% if request.resolver_match.url_name == 'rsvp_tickets' or request.resolver_match.url_name == 'rsvp_create_tickets' %}aria-current="true"{% endif %}>
                        <a href="{% url 'dashboard_organizer:rsvp_tickets' current_team.slug event.pk %}"
                           class="text-reset text-decoration-none {% if request.resolver_match.url_name == 'rsvp_tickets' or request.resolver_match.url_name == 'rsvp_create_tickets' %}text-primary-emphasis fw-bold antialiased{% endif %}">
                            {% trans "RSVP" %}
                        </a>
                    </li>
                {% endif %}
                {% if current_team.allow_messaging %}
                    <li class="mb-2"
                        {% if request.resolver_match.url_name == 'message_batches' or request.resolver_match.url_name == 'message_batch_create' %}aria-current="true"{% endif %}>
                        <a href="{% url 'dashboard_organizer:message_batches' current_team.slug event.pk %}"
                           class="text-reset text-decoration-none {% if request.resolver_match.url_name == 'message_batches' or request.resolver_match.url_name == 'message_batch_create' %}text-primary-emphasis fw-bold antialiased{% endif %}">
                            {% trans "Messaging" %}
                        </a>
                    </li>
                {% endif %}
                <li {% if request.resolver_match.url_name == 'event_check_in_guests' %}aria-current="true"{% endif %}>
                    <a href="{% url 'dashboard_organizer:event_check_in_guests' current_team.slug event.pk %}"
                       class="text-reset text-decoration-none {% if request.resolver_match.url_name == 'event_check_in_guests' %}text-primary-emphasis fw-bold antialiased{% endif %}">
                        {% trans "Check-in Guests" %}
                    </a>
                </li>
                <li class="mb-2"
                    {% if request.resolver_match.url_name == 'event_stats' %}aria-current="true"{% endif %}>
                    <a href="{% url 'dashboard_organizer:event_stats' current_team.slug event.pk %}"
                       class="text-reset text-decoration-none {% if request.resolver_match.url_name == 'event_stats' %}text-primary-emphasis fw-bold antialiased{% endif %}">
                        {% trans "Stats" %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
