{% extends "dashboard_organizer/base.html" %}
{% load static i18n get_user_primary_email crispy_forms_tags %}

{% block head_title %}{% trans "RSVP" %} | {{ event.title }} - SocialPass{% endblock head_title %}

{% block navbar_title %}<span class="text-primary-emphasis">{{ event.title }}</span>{% endblock navbar_title %}

{% block navbar_title_2 %}<span class="text-primary-emphasis">{{ event.title }}</span>{% endblock navbar_title_2 %}

{% block sticky_navbar_tabs %}
{% include "dashboard_organizer/event_details_tabs.html" %}
{% endblock sticky_navbar_tabs %}

{% block content %}
<div class="mw-100 mx-auto mt-4 mb-3" style="width: 720px;">
	<div class="mb-3 d-flex align-items-start">
		<div class="me-3">
			<h1 class="h3 mb-0">{% trans "RSVP" %}</h1>
			<p class="text-body-secondary mb-0">
				{% trans "Create and send tickets directly from the dashboard." %}
			</p>
		</div>
		<a href="{% url 'dashboard_organizer:rsvp_create_tickets' current_team.slug event.pk %}" class="btn btn-primary ms-auto flex-shrink-0">
		    {% trans "Create" %}
		    <i class="fa-solid fa-plus ms-1"></i>
		</a>
	</div>
	{% if rsvp_batches.count > 0 %}
		{% for rsvp_batch in rsvp_batches.all %}
			{% if rsvp_batch.success_list or rsvp_batch.failure_list %}
				<div class="card border-0 rounded-4 shadow-sm mb-3">
					<div class="card-body">
						<p class="text-body-secondary mb-0">
							<strong class="text-body">
								{% trans "ID" %}:
							</strong>
							{{ rsvp_batch.public_id }}
						</p>
						<p class="text-body-secondary">
							<strong class="text-body">
								{% trans "Created" %}:
							</strong>
							{{ rsvp_batch.created }}
						</p>
						<div class="mb-2">
							<div class="h1 d-inline-block text-primary-emphasis m-0">
								{{ rsvp_batch.checkoutsession_set.count }}
							</div>
							<p class="d-inline-block text-body-secondary m-0">
								{% trans "Ticket(s) Sent" %}
							</p>
						</div>
						<div class="mt-3 p-3 rounded bg-body-secondary overflow-y-auto" style="max-height: 200px;">
							<div class="fw-bold text-danger-emphasis">{% trans "Fail:" %}</div>
							<p class="text-body-secondary mb-2">
								{% if rsvp_batch.failure_list %}
									{{ rsvp_batch.failure_list }}
								{% else %}
									---
								{% endif %}
							</p>
							<div class="fw-bold text-success-emphasis">{% trans "Success:" %}</div>
							<p class="text-body-secondary mb-0">
								{% if rsvp_batch.success_list %}
									{{ rsvp_batch.success_list }}
								{% else %}
									---
								{% endif %}
							</p>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		<div class="card border-0 rounded-4 shadow-sm">
			<div class="card-body">
				<div class="mx-auto specific-w-200">
					<img src="{% static 'images/empty.png' %}" alt="empty" class="d-block img-fluid">
				</div>
				<div class="h4 text-center">{% trans "Nothing found" %}</div>
				<p class="text-body-secondary text-center specific-w-250 mw-100 mx-auto">
					{% trans "Could not find anything. Why not create RSVP tickets?" %}
				</p>
			</div>
		</div>
	{% endif %}
</div>
{% endblock content %}