{% extends 'bases/base.html' %}
{% load static %}

{% block body %}
<body>
<div id="root">
   <div class="content-wrapper">
	  <div class="page-wrapper">
		 <div class="content-wrapper ws-600 mw-100 min-vh-100 mx-auto d-flex flex-column">
			<nav class="d-flex align-items-center px-20 my-5 mx-10 bg-content rounded-3 shadow-lg">
			   <a href="#" class="d-flex align-items-center link-reset text-decoration-none fw-bold user-select-none">
				  <div class="ws-75">
					  <img src="{% static 'images/SocialPass-Icon.svg' %}" class="w-100 pe-none" alt="SocialPass Logo">
				  </div>
				  <div class="text-strong ms-10">
					 <div class="fs-base-p4">SocialPass</div>
					 <div class="fs-base-n4 lh-1 fw-normal">Ticket Scanner</div>
				  </div>
			   </a>
			   <button type="button" class="btn btn-sm btn-square btn-rounded ms-auto" data-hm-toggle="dark-mode"><i class="fa-solid fa-moon"></i><span class="visually-hidden">Toggle dark mode</span></button>
			</nav>
			<div class="mt-auto">
			   <div class="card text-base rounded-4 shadow-lg border-transparent fs-base-p2">
				  <h1 class="fw-700 text-center fs-base-p10 mt-0">test</h1>
				  <div class="fw-700 text-primary mt-30"><i class="fa-regular fa-clock me-5"></i> Date:</div>
				  <div>{{object.event.start_date}}</div>
				  <div class="fw-700 text-primary mt-15"><i class="fa-regular fa-location-dot me-5"></i> Venue:</div>
				  <div>{{object.event.localized_address_display}}</div>
			   </div>
			</div>
			<div class="content"><a href="{% url 'dashboard_organizer:scanner2' object.public_id %}" class="btn btn-secondary btn-block rounded-3 shadow btn-lg py-15 fs-base-p4"><strong class="antialiased">Start Scanning</strong></a></div>
			<div class="content text-center mt-auto mb-10"><span class="fs-base-n2 opacity-75"> © 2022, SP Tech Inc. All rights reserved </span></div>
		 </div>
	  </div>
   </div>
   <div style="position: fixed; z-index: 9999; inset: 16px; pointer-events: none;"></div>
</div>
<script type="module" src="/src/main.tsx"></script>
</body>
{% endblock %}