{% extends 'bases/base_scanner.html' %}
{% load static %}

{% block content %}
<div class="mt-auto">
	<div class="content position-relative bg-content rounded-3 overflow-hidden shadow-lg">
		<div id="qr-reader" class="w-100 h-auto" style="min-height: 100px;"></div>
		<a href="{% url 'dashboard_organizer:scanner' object.scanner_id %}" class="btn btn-square btn-rounded border-transparent shadow position-absolute top-0 start-0 m-10">
			<i class="fa-solid fa-arrow-left"></i>
			<span class="visually-hidden">Go Back</span>
		</a>
		<div id="results">
			<div class="px-20 py-10 bg-gray-very-light-lm bg-darkgray-very-dim-dm text-center">
				<i class="fa-regular fa-barcode-read fa-beat-fade me-5"></i>
				<strong>Scanning...</strong>
			</div>
		</div>
	</div>
	<form
		class="card rounded-3 shadow-lg border-0 p-20"
		hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
		hx-post="{% url 'dashboard_organizer:scanner2' object.scanner_id %}"
		hx-target="#results"
	>
		<label class="form-label" for="qr-reader-input">QR Reader Input</label>
		<div class="input-group">
			<input
				type="text"
				name="embed_code"
				id="qr-reader-input"
				class="form-control"
				placeholder="QR Reader Input"
				required
			>
			<button id="qr-submit" type="submit" class="btn btn-primary fw-bold antialiased">Submit</button>
		</div>
	</form>
	<div class="content text-on-primary">
		<h1 class="fw-700 fs-base-p10 mt-0">
			{{ object.title }}
		</h1>
		<div class="mt-10">
			<i class="fa-regular fa-clock me-5"></i> {{ object.start_date }}
		</div>
	</div>
	<div class="content">
		<div class="row">
			<div class="col-6 pe-5">
				<div class="bg-secondary text-on-secondary rounded-3 px-15 py-10 h-100">
					<strong class="antialiased">Attendees: <br class="d-sm-none" />{{ object.quantity_total_sold }}</strong>
				</div>
			</div>
			<div class="col-6 ps-5">
				<div class="bg-secondary text-on-secondary rounded-3 px-15 py-10 h-100">
					<strong class="antialiased">Check-Ins: <br class="d-sm-none" />{{ object.quantity_total_redeemed }}</strong>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_body %}
<!-- TODO: USE LOCAL COPY -->
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="https://unpkg.com/htmx.org@1.9.2" integrity="sha384-L6OqL9pRWyyFU3+/bjdSri+iIphTN/bvYyM37tICVyOJkWZLpP2vGn6VUEXgzg6h" crossorigin="anonymous"></script>
<script>
	// get elements
	const qrInput = document.getElementById("qr-reader-input");
	const qrSubmit = document.getElementById("qr-submit");

	// update element and submit
	const qrCodeSuccessCallback = (decodedText, decodedResult) => {
		qrInput.value = decodedText;
		qrSubmit.click();
	};

	const qrScanner = new Html5Qrcode("qr-reader", false);
	const config = { fps: 1 };
    const didStart = qrScanner
		.start({ facingMode: "user" }, config, qrCodeSuccessCallback)
		.then(() => true);

</script>
{% endblock %}
