{% extends "dashboard_organizer/base.html" %}
{% load static i18n get_user_primary_email crispy_forms_tags %}

{% block head_title %}{% trans "Update Team" %} - SocialPass{% endblock head_title %}

{% block navbar_title %}{% trans "Update" %} <span class="text-primary-emphasis">{% trans "Team" %}</span>{% endblock navbar_title %}

{% block navbar_title_2 %}{% trans "Update" %} <span class="text-primary-emphasis">{% trans "Team" %}</span>{% endblock navbar_title_2 %}

{% block content %}
<!-- Team form start -->
<div class="row mt-4 mb-3">
	<div class="col-lg-8 mx-auto">
		<div class="d-flex align-items-center mb-3">
			<a href="{% url 'dashboard_organizer:team_detail' current_team.slug %}" aria-label="Go Back">
				<i class="fa-solid fa-arrow-left h4 m-0"></i>
			</a>
			<div class="ps-4">
				<h1 class="h3 mb-0">{% trans "Update Team" %}</h1>
				<p class="text-body-secondary mb-0">
					{% trans "Use the following form to update your team information." %}
				</p>
			</div>
		</div>
		<div class="card border-0 rounded-4 shadow-sm">
			<div class="card-body px-lg-5 py-lg-4">
				<form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							<ul class="mb-0">
								{% for error in form.non_field_errors %}
									<li>{{ error|escape }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% for input in form.hidden_fields %}
						{{ input }}
					{% endfor %}
					<h4 class="h5">{% trans "Team Name" %}</h4>
					<div class="mb-3">
						{% with form.name as input %}
							{% include "forms/input.html" %}
						{% endwith %}
					</div>
					<br />
					<h4 class="h5">{% trans "Description & Image (Optional)" %}</h4>
					<div class="mb-3">
						{% with form.description as input %}
							{% include "forms/textarea.html" %}
						{% endwith %}
					</div>
					{% with form.image as input %}
						{{ input|as_crispy_field }}
					{% endwith %}
					<div class="text-end mt-3">
						<button type="submit" class="btn btn-primary">{% trans "Update Team" %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Team form end -->
{% endblock content %}