{% extends "dashboard_organizer/base.html" %}
{% load static i18n get_theme_value get_user_primary_email crispy_forms_tags %}

{% block head_title %}{% trans "Create Free Ticket Tier" %} - SocialPass{% endblock head_title %}

{% block navbar_title %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Create Free Ticket Tier" %}{% endblock navbar_title %}

{% block navbar_title_2 %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Create Free Ticket Tier" %}{% endblock navbar_title_2 %}

{% block content %}
{% include "components/event_flow_header.html" with step="2" %}
<!-- Ticket tier form start -->
<div class="row mt-4 mb-3">
	<div class="col-lg-8 mx-auto">
		<div class="d-flex align-items-center mb-3">
			<a href="{% url 'dashboard_organizer:ticket_tier_create' current_team.slug event.pk %}" aria-label="Go Back">
				<i class="fa-solid fa-arrow-left h4 m-0"></i>
			</a>
			<div class="ps-4">
				<h1 class="h3 mb-0">{% trans "Create Free Ticket Tier" %}</h1>
				<p class="text-body-secondary mb-0">
					{% trans "Creating ticket tier" %} &mdash; <strong>{{ event.title }}</strong>
				</p>
			</div>
		</div>
		<div class="card border-0 rounded-4 shadow-sm">
			<div class="card-body px-lg-5 py-lg-4">
				<form method="POST">
					{% csrf_token %}

					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							<ul class="mb-0">
								{% for error in form.non_field_errors %}
									<li>{{ error|escape }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

					{% for input in form.hidden_fields %}
						{{ input }}
					{% endfor %}

					<h4 class="mb-lg-4">{% trans "Ticket Details" %}</h4>
					<div class="mb-3">
						{% with form.ticket_type as input %}
							{% include "forms/input.html" %}
						{% endwith %}
					</div>
					<div class="row g-3">
						<div class="col-lg-6">
							{% with form.capacity as input %}
								{% include "forms/input.html" %}
							{% endwith %}
						</div>
						<div class="col-lg-6">
							{% with form.max_per_person as input %}
								{% include "forms/input.html" %}
							{% endwith %}
						</div>
					</div>

					<br /><br />
					<h4 class="mb-lg-4">{% trans "Allowed Guests (per ticket)" %}</h4>
					<div class="row g-3">
						<div class="col-lg-6">
							{% with form.allowed_guests as input %}
								{% include "forms/input.html" %}
							{% endwith %}
						</div>
					</div>

					<br /><br />
					<h4>{% trans "Total # of Allowed Guests" %}</h4>
					<p class="text-body-secondary mb-lg-4">
						{% trans "When set, our system will make sure that the total number of guests allowed for this tier (via issued tickets) does not exceed this number." %}
					</p>
					<div class="row g-3">
						<div class="col-lg-6">
							{% with form.guest_supply as input %}
								{% include "forms/input.html" %}
							{% endwith %}
						</div>
					</div>
					{% if event.total_capacity %}
						<div class="alert alert-primary mt-3" role="alert">
							<div>
								<strong class="text-primary-emphasis">
									{% trans "Event Venue Capacity: " %}
								</strong>
								<strong>{{ event.total_capacity }}</strong>
							</div>
							<div>
								<strong class="text-primary-emphasis">
									{% trans "Allotted for this Tier: " %}
								</strong>
								<span id="allotted-for-tier">
									<span class="opacity-50">{% trans "Set Capacity & Guest Supply to calculate" %}</span>
								</span>
							</div>
						</div>
					{% endif %}

					<br /><br />
					<h4 class="mb-lg-4">{% trans "Extra Information" %}</h4>
					<div class="mt-3">
						{% with form.additional_information as input %}
							{% include "forms/textarea.html" %}
						{% endwith %}
					</div>
					<div class="sp-checkbox-container mt-3">
						{{ form.hidden | as_crispy_field }}
					</div>

					<div class="text-end mt-3">
						<button type="submit" class="btn btn-primary">{% trans "Create Ticket Tier" %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Ticket tier form end -->
{% endblock content %}

{% if event.total_capacity %}
	{% block extra_body %}
	<script type="text/javascript">
		const capacity = document.getElementById("id_capacity");
		const guestSupply = document.getElementById("id_guest_supply");
		const allottedForTier = document.getElementById("allotted-for-tier");
		function updateAllotment(event) {
			if (capacity.value && guestSupply.value) {
				var allotment = Number(capacity.value) + Number(guestSupply.value);
				allottedForTier.innerHTML = "<strong>" + allotment + "</strong>";
			}
			else {
				allottedForTier.innerHTML = '<span class="opacity-50">Set Capacity & Guest Supply to calculate</span>';
			}
		}
		capacity.addEventListener("input", updateAllotment);
		guestSupply.addEventListener("input", updateAllotment);
	</script>
	{% endblock extra_body %}
{% endif %}