{% extends "dashboard_organizer/base.html" %}

{% load static i18n get_user_primary_email %}

{% block head_title %}
    {% trans "Delete Ticket Tier" %} | {{ event.title }} - SocialPass
{% endblock head_title %}
{% block navbar_title %}
    <span class="text-primary-emphasis">{{ event.title }}</span>
{% endblock navbar_title %}
{% block navbar_title_2 %}
    <span class="text-primary-emphasis">{{ event.title }}</span>
{% endblock navbar_title_2 %}
{% block sticky_navbar_tabs %}
    {% include "dashboard_organizer/event_details_tabs.html" %}
{% endblock sticky_navbar_tabs %}
{% block content %}
    <div class="mw-100 mx-auto mt-4 mb-3" style="width: 720px;">
        <div class="mb-3 d-flex align-items-start">
            <a href="{% url 'dashboard_organizer:event_tickets' current_team.slug event.pk %}"
               class="text-decoration-none flex-shrink-0"
               aria-label="Go Back">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            <div class="ms-3">
                <h1 class="h3 mb-0">{% trans "Delete Ticket Tier" %}</h1>
                <p class="text-body-secondary mb-0">
                    {% trans "Please confirm the deletion of your ticket tier." %}
                </p>
            </div>
        </div>
        <div class="card border-0 rounded-4 shadow-sm">
            <div class="card-body p-lg-4">
                {% if has_sales %}
                    <div class="rounded-circle d-flex align-items-center justify-content-center text-warning-emphasis bg-warning-subtle flex-shrink-0 specific-w-75 specific-h-75 mx-auto">
                        <i class="fa-light fa-ban h4 m-0"></i>
                    </div>
                    <div class="specific-w-300 mw-100 mx-auto mt-3 text-center">
                        <p class="text-body-secondary">
                            {% trans "This ticket tier cannot be deleted. Tickets have been issued, or there are sessions in the waitlist with this tier." %}
                        </p>
                        <p>
                            <strong class="text-primary-emphasis">{{ object.name }}</strong> &mdash; <strong>{{ object.event.title }}</strong>
                        </p>
                        <div class="text-center">
                            {% if object.hidden_from_public %}
                                <a href="{% url 'dashboard_organizer:event_tickets' current_team.slug object.event.pk %}#ticket-tiers"
                                   class="btn btn-secondary">{% trans "Go back" %}</a>
                            {% else %}
                                <a href="{% url 'dashboard_organizer:ticket_tier_update' current_team.slug object.event.pk object.pk %}#extra-information-toggle"
                                   class="btn btn-secondary">{% trans "Edit to hide from public" %}</a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="rounded-circle d-flex align-items-center justify-content-center text-warning-emphasis bg-warning-subtle flex-shrink-0 specific-w-75 specific-h-75 mx-auto">
                        <i class="fa-light fa-trash-can h4 m-0"></i>
                    </div>
                    <div class="specific-w-300 mw-100 mx-auto mt-3 text-center">
                        <p class="text-body-secondary">
                            {% trans "You're about to delete the following ticket tier. Please note, once this action is confirmed, it cannot be undone." %}
                        </p>
                        <p>
                            <strong class="text-primary-emphasis">{{ object.name }}</strong> &mdash; <strong>{{ object.event.title }}</strong>
                        </p>
                        <form class="text-center" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <a href="{% url 'dashboard_organizer:event_tickets' current_team.slug object.event.pk %}#ticket-tiers"
                               class="btn btn-secondary me-2">{% trans "Cancel" %}</a>
                            <button type="submit" class="btn btn-danger ms-2 px-3">
                                {% trans "Delete" %}
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
