{% extends "dashboard_organizer/base.html" %}
{% load static i18n get_theme_value get_user_primary_email crispy_forms_tags format_to_event_timezone %}

{% block head_title %}{% trans "Waiting Queue" %} - SocialPass{% endblock head_title %}

{% block navbar_title %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Waiting Queue" %}{% endblock navbar_title %}

{% block navbar_title_2 %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Waiting Queue" %}{% endblock navbar_title_2 %}

{% block content %}
<div class="row mt-4 mb-3">
	<div class="col-lg-8 mx-auto">
		<h1 class="h3 mb-0">{% trans "Waiting Queue" %}</h1>
		<p class="text-body-secondary">
			{% trans "Checkout sessions on the waiting queue" %} &mdash; <strong>{{ event.title }}</strong>
		</p>
		<form class="mb-3">
			<div class="input-group">
				<input type="text" name="search" class="form-control" value="{{ request.GET.search }}" placeholder="Search using name or email">
				<button type="submit" class="btn btn-primary">{% trans "Search" %}</button>
			</div>
		</form>
		{% if waiting_queue.count > 0 %}
			{% for checkout_session in waiting_queue %}
				<div class="card border-0 rounded-4 mb-3 waiting-queue-card">
					<div class="card-body">
						<div class="d-flex align-items-center mb-3">
							{% if checkout_session.tx_type == "FIAT" %}
								<span class="px-3 py-2 rounded-pill fw-bold bg-success-subtle text-success-emphasis me-3">
									<i class="fa-light fa-money-check-dollar me-1"></i>
									{% trans "Paid" %}
								</span>
							{% endif %}
							{% if checkout_session.tx_type == "FREE" %}
								<span class="px-3 py-2 rounded-pill fw-bold bg-warning-subtle text-warning-emphasis me-3">
									<i class="fa-light fa-gift me-1"></i>
									{% trans "Free" %}
								</span>
							{% endif %}
							{% if checkout_session.tx_type == "ASSET_OWNERSHIP" %}
								<span class="px-3 py-2 rounded-pill fw-bold bg-info-subtle text-info-emphasis me-3">
									<i class="fa-light fa-hexagon-vertical-nft me-1"></i>
									{% trans "NFT-Gated" %}
								</span>
							{% endif %}
							{% if checkout_session.tx_status == "FULFILLED" %}
								<div class="ms-auto">
									<span class="btn btn-secondary d-block specific-w-100 disabled pe-none wq-fulfilled">
										{% trans "Fulfilled" %}
									</span>
								</div>
							{% elif checkout_session.tx_type == "FIAT" and checkout_session.skip_validation %}
								<div class="ms-auto">
									<span class="btn btn-secondary d-block specific-w-100 disabled pe-none wq-waiting">
										{% trans "Waiting..." %}
									</span>
									<div class="specific-w-100 text-center text-primary-emphasis fw-bold mt-1" style="font-size: 10px;">{% trans "Payment link sent" %}</div>
								</div>
							{% else %}
								<form
									class="ms-auto"
									hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
									hx-post="{% url 'dashboard_organizer:waiting_queue_post' current_team.slug event.pk checkout_session.pk %}"
									hx-trigger="submit"
								>
									<button type="submit" class="btn btn-primary d-block specific-w-100 wq-fulfill-button">
										<i class="fa-solid fa-tickets me-1"></i>
										{% trans "Fulfill" %}
									</button>
								</form>
							{% endif %}
						</div>
						<div class="fw-bold">
							{% trans "Customer:" %}
							<span class="fw-normal">{{ checkout_session.name }} | <a href="mailto:{{ checkout_session.email }}" class="text-decoration-none">{{ checkout_session.email }}</a></span>
						</div>
						<div class="fw-bold text-body-secondary" style="font-size: var(--bs-font-size-sm);">
							{% trans "ID:" %}
							<span class="fw-normal">{{ checkout_session.public_id }}</span>
						</div>
						<div class="fw-bold text-body-secondary" style="font-size: var(--bs-font-size-sm);">
							{% trans "Created:" %}
							<span class="fw-normal">{{ checkout_session.created }}</span>
						</div>
						<hr />
						<div>
							<div class="text-primary-emphasis h6">
								<i class="fa-light fa-cart-shopping me-1"></i>
								{% trans "Checkout Data:" %}
							</div>
							{% for item in checkout_session.checkoutitem_set.all %}
								<!-- Order item start -->
								<div class="{% if not forloop.last %}border-bottom border-secondary border-opacity-25 pb-2 mb-2{% endif %}" style="font-size: var(--bs-font-size-sm);">
									<div class="fw-bold d-flex align-items-center">
										<span>{{ item.ticket_tier.ticket_type }}</span>
										<span class="ms-auto ps-1 fw-normal">
											&times; {{ item.quantity }}
										</span>
									</div>
									{% if checkout_session.tx_type == "FIAT" %}
										<div>
											{% trans "Price" %} &times; 1 &mdash; {{ event.currency_symbol }}{{ item.ticket_tier.tier_fiat.price_per_ticket  }}
										</div>
									{% endif %}
									<div class="text-body-secondary">
										{% trans "Allowed Guest(s):" %}
										{{ item.extra_party }}
									</div>
								</div>
								<!-- Order item end -->
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
			<!-- Pagination start -->
			<div class="mb-3 mt-auto d-flex align-items-center">
				<div>
					{% if page_obj.has_previous %}
					<a class="btn btn-link" href="?page={{ page_obj.previous_page_number }}&state={{ request.GET.state }}">{% trans "Prev" %}</a>
					{% else %}
					<button class="btn btn-link" disabled>{% trans "Prev" %}</button>
					{% endif %}
				</div>
				<div class="ms-auto">
					{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
				</div>
				<div class="ms-auto">
					{% if page_obj.has_next %}
					<a class="btn btn-link" href="?page={{ page_obj.next_page_number }}&state={{ request.GET.state }}">{% trans "Next" %}</a>
					{% else %}
					<button class="btn btn-link" disabled>{% trans "Next" %}</button>
					{% endif %}
				</div>
			</div>
			<!-- Pagination end -->
		{% else %}
			<div class="card border-0 rounded-4 shadow-sm">
				<div class="card-body">
					<div class="mx-auto specific-w-200">
						<img src="{% static 'images/empty.png' %}" alt="empty" class="d-block img-fluid">
					</div>
					<p class="text-body-secondary text-center">
						{% trans "Nothing found." %}
					</p>
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock content %}

{% block extra_body %}
<script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
<script type="text/javascript">
	let fulfillButtons = document.querySelectorAll(".wq-fulfill-button");
	for (let i = 0; i < fulfillButtons.length; i++) {
		fulfillButtons[i].addEventListener("click", (e) => {
			if (document.activeElement === e.target) {
				document.activeElement.blur();
			}
			e.target.classList.add("disabled");
			e.target.classList.add("pe-none");
			e.target.setAttribute("tabindex", "-1");
			e.target.innerHTML = "<i class='fa-light fa-circle-notch fa-spin'></i>";
		});
	}
</script>
{% endblock %}