{% extends 'bases/base_primary.html' %}
{% load static get_theme_value i18n crispy_forms_tags %}

{% block head_title %}
{% if request.resolver_match.url_name == 'event_create' %}
	Create Event
{% else %}
	{{ event.title }}
{% endif %} - {% get_theme_value "brand_name" %}
{% endblock head_title %}

{% block navbar_breadcrumb %}
{% if url_name == 'event_create' %}
	Create Event
{% else %}
	Event Details
{% endif %}
{% endblock %}

{% block content %}
<!-- Header start -->
{% include 'components/event_details_page_header.html' %}
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
	<!-- Card header start -->
	{% include 'components/event_details_card_header.html' %}
	<!-- Card header end -->

	<!-- Main content start -->
	<div class="row">
		<div class="col-lg-9 col-xl-7 mx-auto">
			<div class="content">
				{% if event.tickettier_set.count > 0 %}
					<div class="d-flex align-items-center">
						<h3 class="fs-base-p4 m-0 d-flex align-items-center">
							<span class="ws-25 me-10 text-primary">
								<i class="fa-light fa-list-check"></i>
							</span>
							Tickets
						</h3>
						<div class="ps-20 ms-auto">
							<a href="#" class="btn btn-primary">
								<i class="fa-solid fa-plus"></i>
		                   		<span class="ms-5 d-none d-sm-inline">Create</span>
							</a>
						</div>
					</div>
					<p class="text-muted fs-base-n2 mt-5">
						Given below is a list of tickets for your event.
					</p>
					{% for ticket_tier in event.tickettier_set.all %}
						<div class="my-20 border rounded">
							<div class="p-15 p-sm-20">
								<div class="d-flex align-items-center mb-20">
									<div>
										<h6 class="m-0 fs-base-p2">{{ ticket_tier.ticket_type }}</h6>
										<div>
											{% if ticket_tier.tier_fiat %}
												<span class="badge badge-success badge-pill fs-base-n2 lh-sm border-transparent mt-5 me-5">
													<i class="fa-regular fa-check"></i>
													Fiat
												</span>
											{% else %}
												<span class="badge badge-pill fs-base-n2 lh-sm text-base bg-gray-very-light-lm bg-darkgray-dim-dm border-transparent mt-5 me-5">
													<i class="fa-regular fa-times"></i>
													Fiat
												</span>
											{% endif %}
											{% if ticket_tier.tier_blockchain %}
												<span class="badge badge-success badge-pill fs-base-n2 lh-sm border-transparent mt-5 me-5">
													<i class="fa-regular fa-check"></i>
													Crypto
												</span>
											{% else %}
												<span class="badge badge-pill fs-base-n2 lh-sm text-base bg-gray-very-light-lm bg-darkgray-dim-dm border-transparent mt-5 me-5">
													<i class="fa-regular fa-times"></i>
													Crypto
												</span>
											{% endif %}
											{% if ticket_tier.tier_asset_ownership %}
												<span class="badge badge-success badge-pill fs-base-n2 lh-sm border-transparent mt-5 me-5">
													<i class="fa-regular fa-check"></i>
													NFTs
												</span>
											{% else %}
												<span class="badge badge-pill fs-base-n2 lh-sm text-base bg-gray-very-light-lm bg-darkgray-dim-dm border-transparent mt-5 me-5">
													<i class="fa-regular fa-times"></i>
													NFTs
												</span>
											{% endif %}
										</div>
									</div>
									<div class="ps-20 ms-auto">
										<a href="{% url 'dashboard:ticket_tier_delete' current_team.public_id ticket_tier.event.pk ticket_tier.pk %}" class="btn btn-danger btn-sm">
											<i class="fa-solid fa-trash-can"></i>
											<span class="visually-hidden">Delete</span>
										</a>
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col-6 col-sm-3 text-truncate">
										<strong>Capacity</strong>
										<br />
										{{ ticket_tier.capacity }}
									</div>
									<div class="col-6 col-sm-3 mt-10 mt-sm-0 text-truncate">
										<strong>Qty. Sold</strong>
										<br />
										{{ ticket_tier.quantity_sold }}
									</div>
									<div class="col-6 col-sm-3 mt-10 mt-sm-0 text-truncate">
										<strong>Max per person</strong>
										<br />
										{{ ticket_tier.max_per_person }}
									</div>
								</div>
							</div>
							{% if ticket_tier.tier_asset_ownership %}
								<div class="collapse-group collapse-group-flush border-top">
									<details class="collapse-panel">
										<summary class="collapse-header">
											<strong>Blockchain information</strong>
											<br />
											<span class="text-muted fs-base-n2">Click to show/hide</span>
										</summary>
										<div class="collapse-content">
											Work in progress ...
										</div>
									</details>
								</div>
							{% endif %}
						</div>
					{% endfor %}
					<div class="text-center">
						Total {{ event.tickettier_set.count }} ticket(s) found
					</div>
				{% else %}
					<div class="text-center">
						<div class="ws-200 mw-100 mx-auto">
							<img src="{% static 'images/illustrations/empty.svg' %}" alt="empty" class="w-100 h-auto">
						</div>
						<div class="ws-400 mw-100 mx-auto">
							<p>
								No tickets have been created for this event. You will need to create one first before going live with your event.
							</p>
							<div>
								<a href="#" class="btn btn-primary">
									<i class="fa-solid fa-plus me-5"></i>
	                    			Create Ticket
								</a>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- Main content end -->

	<!-- Card footer start -->
	<div class="px-card py-10 border-top text-muted fs-base-n2">
		Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" target="_blank" class="fw-bold">contact us</a> and let us know if you need help managing your event.
	</div>
	<!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock %}
