{% extends 'bases/base_primary.html' %}
{% load static get_theme_value i18n crispy_forms_tags %}

{% block head_title %}
{% if request.resolver_match.url_name == 'event_create' %}
	Create Event
{% else %}
	{{ event.title }}
{% endif %} - {% get_theme_value "brand_name" %}
{% endblock head_title %}

{% block navbar_breadcrumb %}
{% if url_name == 'event_create' %}
	Create Event
{% else %}
	Event Details
{% endif %}
{% endblock %}

{% block content %}
<!-- Header start -->
{% include 'components/event_details_page_header.html' %}
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
	<!-- Card header start -->
	{% include 'components/event_details_card_header.html' %}
	<!-- Card header end -->

	<!-- Main content start -->
	<div class="row">
		<div class="col-lg-9 col-xl-7 mx-auto">
			<div class="content">
				{% if event.state == event.StateStatus.LIVE %}
					<h3 class="fs-base-p4 mb-0 d-flex align-items-center">
						<span class="ws-25 me-10 text-primary">
							<i class="fa-solid fa-circle-small fa-beat-fade text-success me-5 fs-base-p18"></i>
						</span>
						Event is Live!
					</h3>
					<p class="mt-5">
						Your event is live. Given below are the next steps.
					</p>
					<h3 class="fs-base-p4 mb-0 d-flex align-items-center mt-30">
						<span class="ws-25 me-10 text-primary">
							<i class="fa-light fa-qrcode"></i>
						</span>
						Check-in Your Guests
					</h3>
					<div class="row mt-10">
						<div class="col-sm-4 text-center text-sm-start align-self-center">
							<img src="{% static 'images/illustrations/qr_code.svg' %}" alt="qr_code" class="ws-250 w-sm-100 h-auto">
						</div>
						<div class="col-sm-8 align-self-center">
							You can use the following link to scan your guests' tickets and let them in to the event venue.
							<div class="text-truncate p-10 bg-gray-very-light-lm bg-darkgray-very-dim-dm rounded my-10 lh-1">
								{% with event_scanner_url=event.scanner_url %}
									<a href="{{ event_scanner_url }}" class="fw-bold antialiased" target="_blank">
										<i class="fa-regular fa-external-link"></i>
										<span class="content-to-copy ms-5">{{ event_scanner_url }}</span>
									</a>
								{% endwith %}
							</div>
						</div>
					</div>
					<p>
						Please note, you can also find this link from the events list page (in red):
					</p>
					<div class="pe-none rounded-3 p-15 border bg-gray-very-light-lm bg-darkgray-very-dim-dm">
						<div class="text-muted">
							<span class="fw-bold antialiased">{{ event.title }}</span>
						</div>
						<div class="fs-base-n2 mt-5 text-muted">
							<strong>Date: </strong>
							<span class="text-muted">{{ event.start_date }}</span>
						</div>
						<div class="fs-base-n2 text-muted">
							<strong>Location: </strong>
							<span class="text-muted">{{ event.localized_address_display }}</span>
						</div>
						<div class="mt-5">
							<span class="btn btn-sm text-muted lh-1 bg-gray-very-light-lm bg-darkgray-very-dim-dm">
								<i class="fa-regular fa-external-link"></i>
								<strong class="antialiased ms-5">Public Page</strong>
							</span>
							<span class="btn btn-sm text-base lh-1" style="box-shadow: 0 0 0 0.2rem red;">
								<i class="fa-regular fa-qrcode"></i>
								<strong class="antialiased ms-5">Check-In</strong>
							</span>
							<span class="btn btn-sm text-muted lh-1 bg-gray-very-light-lm bg-darkgray-very-dim-dm">
								<i class="fa-regular fa-rectangle-code"></i>
								<strong class="antialiased ms-5">Embed</strong>
							</span>
						</div>
					</div>
					<h3 class="fs-base-p4 mb-0 d-flex align-items-center mt-30">
						<span class="ws-25 me-10 text-primary">
							<i class="fa-light fa-sack-dollar"></i>
						</span>
						Event Stats
					</h3>
					<p class="mt-5">
						Attendees can now buy tickets for this event from the checkout page. You can get a detailed breakdown on the stats page.
					</p>
					<div class="text-center">
						<a href="{% url 'dashboard:event_stats' current_team.public_id event.pk %}" class="btn btn-lg text-base fs-base fw-bold">
							<i class="fa-regular fa-sack-dollar me-5"></i>
							See Stats
						</a>
					</div>
				{% else %}
					<h3 class="fs-base-p4 mb-0 d-flex align-items-center">
						<span class="ws-25 me-10 text-primary">
							<i class="fa-light fa-bullhorn"></i>
						</span>
						Go Live
					</h3>
					<p class="text-muted fs-base-n2 mt-5">
						Use the controls on this page to go live with your event. Once live, your attendees will be able to buy tickets and start making plans.
					</p>
					<div class="ws-150 mw-100 mx-auto mt-40">
						<img src="{% static 'images/illustrations/go_live.svg' %}" alt="go_live" class="w-100 h-auto">
					</div>
					<div class="text-center">
						<h5 class="mb-0">Let's go live with this event!</h5>
						<p class="mt-5">
							Your event is currently a draft. If you're done setting up, you can make it go live by clicking on the following button.
						</p>
						<form method="post">
							{% csrf_token %}
							<button type="submit" class="btn btn-primary btn-lg fs-base fw-bold antialiased">
								<i class="fa-solid fa-circle-small fa-beat-fade me-5"></i>
								Go Live!
							</button>
						</form>
					</div>
				{% endif %}
				<!--
				<h3 class="fs-base-p4 mb-0 d-flex align-items-center">
					<span class="ws-25 me-10 text-primary">
						<i class="fa-light fa-bullhorn"></i>
					</span>
					Go Live
				</h3>
				<p class="text-muted fs-base-n2 mt-5">
					Use the controls on this page to go live with your event. Once live, your attendees will be able to buy tickets and start making plans.
				</p>
				{% if event.has_ended %}
					<div class="text-center mt-40">
						<div class="ws-150 mw-100 mx-auto">
							<img src="{% static 'images/illustrations/event_ended.svg' %}" alt="event_ended" class="w-100 h-auto">
						</div>
						<h5 class="mb-0">Event has ended</h5>
						<p class="mt-5">
							This event has ended. If you never went live with it, please consider <a href="{% url 'dashboard:event_update' current_team.public_id event.pk %}#date-and-time" class="fw-bold antialiased">changing the dates</a> and then come back to this page.
						</p>
					</div>
				{% else %}
					<div class="ws-150 mw-100 mx-auto mt-40">
						<img src="{% static 'images/illustrations/go_live.svg' %}" alt="go_live" class="w-100 h-auto">
					</div>
					{% if event.state == event.StateStatus.LIVE %}
						<div class="text-center">
							<h5 class="mb-0">
								<i class="fa-solid fa-circle-small fa-beat-fade text-success me-5"></i>
								Event is live!
							</h5>
							<p class="mt-5">
								Your event is currently live. Attendees can now buy tickets for this event from the checkout page. You can get a detailed breakdown on the stats page.
							</p>
							<div>
								<a href="{% url 'dashboard:event_stats' current_team.public_id event.pk %}" class="btn btn-lg text-base fs-base fw-bold">
									<i class="fa-regular fa-sack-dollar me-5"></i>
									See Stats
								</a>
							</div>
						</div>
					{% else %}
						<div class="text-center">
							<h5 class="mb-0">Let's go live with this event!</h5>
							<p class="mt-5">
								Your event is currently a draft. If you're done setting up, you can make it go live by clicking on the following button.
							</p>
							<form method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-primary btn-lg fs-base fw-bold antialiased">
									<i class="fa-solid fa-circle-small fa-beat-fade me-5"></i>
									Go Live!
								</button>
							</form>
						</div>
					{% endif %}
				{% endif %}
				-->
				<br />
				<h3 class="fs-base-p4 mb-0 d-flex align-items-center">
					<span class="ws-25 me-10 text-primary">
						<i class="fa-light fa-list"></i>
					</span>
					Event Summary
				</h3>
				<p class="text-muted fs-base-n2 mt-5">
					Given below is a summary of the event.
				</p>
				<table class="table table-no-outer-padding">
					<tbody>
						<tr>
							<th>Name</th>
							<td>{{ event.title }}</td>
						</tr>
						<tr>
							<th>Date</th>
							<td>{{ event.start_date }}</td>
						</tr>
						<tr>
							<th>Location</th>
							<td>{{ event.localized_address_display }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Main content end -->

	<!-- Card footer start -->
	<div class="px-card py-10 border-top text-muted fs-base-n2">
		Please <a href="#" data-hm-toggle="modal" data-hm-target="discord-support-ticket-modal" target="_blank" class="fw-bold antialiased">contact us</a> and let us know if you need help managing your event.
	</div>
	<!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock %}

{% block extra_body %}
	{% if event.state == event.StateStatus.LIVE and request.GET.is_success == "True" %}
		<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
		<script type="text/javascript">
		    setTimeout(function() {
		        confetti({
		            particleCount: 100,
		            spread: 70,
		            origin: { y: 0.6 }
		        });
		    }, 1000);
		    setTimeout(function() {
		        confetti({
		            particleCount: 100,
		            spread: 70,
		            origin: { x: 0.2, y: 0.9 }
		        });
		    }, 1500);
		    setTimeout(function() {
		        confetti({
		            particleCount: 100,
		            spread: 70,
		            origin: { x: 0.8, y: 0.9 }
		        });
		    }, 2000);
		</script>
	{% endif %}
{% endblock %}
