{% extends "bases/base_primary.html" %}
{% load static get_user_primary_email %}

{% block head_title %}Event Checkout{% endblock head_title %}

{% block navbar_breadcrumb %}Event Checkout{% endblock %}

{% block content %}
<!-- Header start -->
<div class="border-bottom">
  <div class="p-content row g-1 justify-content-between">
    <div class="col-12 col-lg-8 align-self-center">
      <h1 class="content-title m-0 fs-base-p6">Checkout: {{event.title}}</h1>
      <p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
        Please, confirm the information of the Event before heading to checkout.
        <br/>
        All this information, with exception of the capacity may be edited later.
      </p>
    </div>
    <div class="col-12 col-lg-3 d-flex flex-wrap justify-content-end">
      <div class="ms-auto align-self-center">
        <a href="{% url 'event_update' current_team.public_id event.pk %}" class="btn btn-block text-primary">
        <i class="fa-regular fa-edit"></i>
        <span class="ms-5 d-none d-sm-inline">Update Event</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
  <!-- Card header start -->
  <div class="px-card py-10 border-bottom">
  <span class="bg-primary-very-light-lm bg-primary-very-dim-dm border-start border-primary border-2 px-10 py-5 fs-base-n2 ">
    Event Checkout
  </span>
  </div>
  <!-- Card header end -->

  <div class="row">
  <!-- Main content start -->
  <div class="col-lg-6 border-lg-end">
    <div class="content">
    <!-- Event cover_image and name start -->
    <div class="d-flex align-items-center">
      {% if event.cover_image %}
      <div class="ws-50 hs-50 ws-sm-75 hs-sm-75 rounded-2 d-flex align-items-center justify-content-center flex-shrink-0 overflow-hidden">
        <img src="{{ event.cover_image.url }}" class="img-fluid" alt="{{ event.title }} cover_image">
      </div>
      {% else %}
      <div class="ws-50 hs-50 ws-sm-75 hs-sm-75 rounded-2 d-flex align-items-center justify-content-center bg-gray-very-light-lm bg-darkgray-very-dim-dm border flex-shrink-0">
        <span class="text-uppercase fsr-3 ">{{ event.title|slice:"0:1" }}</span>
      </div>
      {% endif %}
      <div class="ps-20 overflow-hidden">
      <p class="text-muted m-0 mb-5 text-truncate">{{ event.team.name }}</p>
      <h2 class="fsr-3 fw-700 m-0 text-truncate">{{ event.title }}</h2>
      </div>
    </div>
    <!-- Event cover_image and name end -->

    <!-- Event dates start -->
    <p class="mb-5">
      <strong>Created: </strong> <span class="text-muted">{{ event.created }}</span>
    </p>
    <p class="mt-5">
      <strong>Updated: </strong> <span class="text-muted">{{ event.modified }}</span>
    </p>
    <!-- Event dates end -->


    <!-- Event Info table start -->
    <div class="table-responsive scroll-shadow-content-x">
      <table class="table list-table">
        <tbody>
          <tr>
            <td class=" ps-0">
              Start Date
            </td>
            <td>
              {{ event.start_date.date }}
            </td>
          </tr>
          {% if event.end_date %}
          <tr>
            <td class=" ps-0">
              End Date
            </td>
            <td>
              {{ event.end_date.date }}
            </td>
          </tr>
          {% endif %}
          <tr>
            <td class=" ps-0">
              Location
            </td>
            <td>
              {{ event.location }}
            </td>
          </tr>
          <tr>
            <td class=" ps-0">
              Capacity
            </td>
            <td>
              {{ event.capacity }}
            </td>
          </tr>
          {% if event.categories.count > 0 %}
          <tr>
            <td class=" ps-0">
              Categories
            </td>
            <td>
              {{ event.categories }}
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      </div>
      <!-- Event Info table end -->

    <!-- Blockchain Requirements start -->
    <h3 class="card-title fs-base-p4 mt-40 mb-0">Blockchain Requirements</h3>
    <div class="text-muted text-xs mb-3">
      The following must be fulfilled in order to access this event.
    </div>
    {% if event.requirements %}
    <pre class="bg-light p-0"><br />{% for item in event.requirements %}Requirement {{ forloop.counter }}<br />-------------<br />{% for k, v in item.items %}<span class="text-primary ">{{ k }}</span>: {{ v }}<br />{% endfor %}<br />{% endfor %}</pre>
    {% else %}
    <pre class="bg-light rounded">No Requirements</pre>
    {% endif %}
    <!-- Blockchain Requirements end -->
    </div>
  </div>
  <!-- Main content end -->



  <!-- Event Links start -->
  <div class="col-lg-6">
    <div class="content w-100">
      <h1 class="content-title m-0 fs-base-p6">Checkout Summary</h1>
      <p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
      Review your event below before continuing to checkout
      </p>
      <div>
        <p class="mb-0">Event Ticketing Costs: <strong>{{event.price}}</strong></p>
        <small>({{event.capacity}} tickets x {{event.pricing_rule.price_per_ticket}})</small>
        <form method="post" class="mt-10">
          {% csrf_token %}
          <input type="submit" class="btn btn-lg btn-primary m-0" value="Launch Event" />
        </form>
      </div>
      </div>
    </div>
  </div>
  <!-- Event links end -->

  <!-- Card footer start -->
  <div class="px-card py-10 border-top text-muted fs-base-n2">
  Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" target="_blank" class="">contact us</a> and let us know if you think something is wrong.
  </div>
  <!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock content %}
