{% extends "bases/base_primary.html" %}
{% load static get_theme_value get_user_primary_email %}

{% block head_title %}Event Details - {% get_theme_value "brand_name" %}{% endblock head_title %}

{% block navbar_breadcrumb %}Event Details{% endblock %}

{% block content %}
<!-- Header start -->
<div class="border-bottom hs-md-100">
  <div class="p-content d-flex h-100">
  <div class="pe-15 align-self-center">
    <h1 class="content-title m-0 fs-base-p6">Event Details</h1>
    <p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
    Detailed breakdown of your team's event
    </p>
  </div>
  <div class="ms-auto align-self-center">
    <a href="{% url 'event_update' current_team.public_id event.pk %}" class="btn text-primary ">
    <i class="fa-regular fa-edit"></i>
    <span class="ms-5 d-none d-sm-inline">Update Event</span>
    </a>
  </div>
  </div>
</div>
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
  <!-- Card header start -->
  <div class="px-card py-10 border-bottom">
  <span class="bg-primary-very-light-lm bg-primary-very-dim-dm border-start border-primary border-2 px-10 py-5 fs-base-n2 ">
    Event Details
  </span>
  </div>
  <!-- Card header end -->

  <div class="row">
  <!-- Main content start -->
  <div class="col-lg-6 border-lg-end">
    <div class="content">
    <!-- Event cover_image and name start -->
    <div class="d-flex align-items-center">
      {% if event.cover_image %}
      <div class="ws-50 hs-50 ws-sm-75 hs-sm-75 rounded-2 d-flex align-items-center justify-content-center flex-shrink-0 overflow-hidden">
        <img src="{{ event.cover_image.url }}" class="img-fluid" alt="{{ event.title }} cover_image">
      </div>
      {% else %}
      <div class="ws-50 hs-50 ws-sm-75 hs-sm-75 rounded-2 d-flex align-items-center justify-content-center bg-gray-very-light-lm bg-darkgray-very-dim-dm border flex-shrink-0">
        <span class="text-uppercase fsr-3 ">{{ event.title|slice:"0:1" }}</span>
      </div>
      {% endif %}
      <div class="ps-20 overflow-hidden">
      <p class="text-muted m-0 mb-5 text-truncate">{{ event.team.name }}</p>
      <h2 class="fsr-3 fw-700 m-0 text-truncate">{{ event.title }}</h2>
      </div>
    </div>
    <!-- Event cover_image and name end -->

    <!-- Event dates start -->
    <p class="mb-5">
      <strong>Created: </strong> <span class="text-muted">{{ event.created }}</span>
    </p>
    <p class="mt-5">
      <strong>Updated: </strong> <span class="text-muted">{{ event.modified }}</span>
    </p>
    <!-- Event dates end -->


    <!-- Event Info table start -->
    <div class="table-responsive scroll-shadow-content-x">
      <table class="table list-table">
        <tbody>
          <tr>
            <td class=" ps-0">
              Start Date
            </td>
            <td>
              {{ event.start_date.date }}
            </td>
          </tr>
          {% if event.end_date %}
          <tr>
            <td class=" ps-0">
              End Date
            </td>
            <td>
              {{ event.end_date.date }}
            </td>
          </tr>
          {% endif %}
          <tr>
            <td class=" ps-0">
              Location
            </td>
            <td>
              {{ event.location }}
            </td>
          </tr>
          <tr>
            <td class=" ps-0">
              Capacity
            </td>
            <td>
              {{ event.capacity }}
            </td>
          </tr>
          {% if event.categories.count > 0 %}
          <tr>
            <td class=" ps-0">
              Categories
            </td>
            <td>
              {{ event.categories }}
            </td>
          </tr>
          {% endif %}
        </tbody>
      </table>
      </div>
      <!-- Event Info table end -->

    <!-- Blockchain Requirements start -->
    <h3 class="card-title fs-base-p4 mt-40 mb-0">Blockchain Requirements</h3>
    <div class="text-muted text-xs mb-3">
      The following must be fulfilled in order to access this event.
    </div>
    {% if event.requirements %}
    <pre class="bg-light p-0"><br />{% for item in event.requirements %}Requirement {{ forloop.counter }}<br />-------------<br />{% for k, v in item.items %}<span class="text-primary ">{{ k }}</span>: {{ v }}<br />{% endfor %}<br />{% endfor %}</pre>
    {% else %}
    <pre class="bg-light rounded">No Requirements</pre>
    {% endif %}
    <!-- Blockchain Requirements end -->
    </div>
  </div>
  <!-- Main content end -->


  <!-- Event Links start -->
  <div class="col-lg-6">
    <div class="content w-100">
      <h1 class="content-title m-0 fs-base-p6">Event Links</h1>
      <p class="text-muted mt-5 mb-0 fs-base-n2">
      Use these links to get started hosting your event
      </p>

      {% if event.visibility == 'PUBLIC' %}
      <div>
        <h6>Event Page</h6>
        <p>Share with your potential attendees</p>
        <div class="d-flex flex-direction-row align-items-center justify-content-start gap-20">
          <a target="_blank" href="https://twitter.com/share?url={{ request.get_host }}{{event.discovery_url}}">
            <i class="fab fa-twitter text-secondary fa-lg"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}{{event.discovery_url}}">
            <i class="fab fa-facebook text-secondary fa-lg"></i>
          </a>
          <a href="mailto:?body={{ request.get_host }}{{event.discovery_url}}">
            <i class="fa fa-envelope text-secondary fa-lg"></i>
          </a>
          <a aria-label="copy link" id="copy-link" href="#!" type="button" onclick="copyToClipboard('{{ request.get_host }}{{event.discovery_url}}')">
            <i class="fas fa-copy text-secondary fa-lg"></i>
          </a>
        </div>
      </div>
      {% else %}
      <div>
        <h6>Checkout Portal</h6>
        <p>Link to share with your potential attendees</p>
        <a href="{{event.checkout_portal_url}}" target="_blank">Checkout Portal</a>
      </div>
      {% endif %}

      <hr>

      {% with scanner_url=event.ticket_redemption_keys.first.scanner_url %}
      <div>
        <h6>Ticket Scanner</h6>
        <p>Link to scan the tickets for this event at the entrance</p>
        <a href="{{scanner_url}}" target="_blank">
          Ticket Scanner
        </a>
      </div>
      {% endwith %}
      </div>

    </div>
  </div>
  <!-- Event links end -->


  <!-- Card footer start -->
  <div class="px-card py-10 border-top text-muted fs-base-n2">
  Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" target="_blank" class="">contact us</a> and let us know if you think something is wrong.
  </div>
  <!-- Card footer end -->
</div>
<!-- Content card end -->
<script>
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text);
    let href = document.getElementById('copy-link');
    href.innerHTML = 'Link copied'
    setTimeout(function(){
       href.innerHTML = '<i class="fas fa-copy text-secondary fa-lg"></i>'
    }, 1000);
    /* Copy text into clipboard */

  }
</script>
{% endblock content %}
