{% extends "bases/base_primary.html" %}
{% load static get_user_primary_email format_address %}

{% block head_title %}Events - SocialPass{% endblock head_title %}

{% block navbar_breadcrumb %}Events{% endblock %}

{% block content %}
<!-- Header start -->
<div class="border-bottom hs-md-100">
  <div class="p-content d-flex h-100">
    <div class="pe-15 align-self-center">
      <h1 class="content-title m-0 fs-base-p6">Events</h1>
      <p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
        List of events created by <strong>{{ current_team.name }}</strong>.
      </p>
    </div>
    <div class="ms-auto align-self-center">
      <a href="{% url 'event_create' current_team.public_id %}" class="btn text-primary fw-bold">
        <i class="fa-regular fa-party-bell"></i>
        <span class="ms-5 d-none d-sm-inline">Host an Event</span>
      </a>
    </div>
  </div>
</div>
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">

  <!-- Card header start -->
  <div class="row border-bottom">
    <div class="col-lg-6">
      <div class="px-card py-10">
        <span class="bg-primary-very-light-lm bg-primary-very-dim-dm border-start border-primary border-2 px-10 py-5 fs-base-n2 fw-bold">
          Events - # Total {{ events.count }}
        </span>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Start search form -->
      <form method="GET" class="d-flex align-items-center px-card py-5">
        <input type="text" class="form-control form-control-sm" name="title" placeholder="Search by title" value="{{ request.GET.title }}">
        <button class="btn btn-link btn-sm px-2 ms-3 my-0" type="submit">Search</button>
      </form>
      <!-- End Search Form -->
    </div>
  </div>

  <!-- Card header end -->

  <!-- Main content start -->
  {% if events.count > 0 %}
    <div class="table-responsive scroll-shadow-content-x">
      <table class="table list-table">
        <thead>
          <tr class="fs-base-n2">
            <th>Title</th>
            <th>Status</th>
            <th>Start Date</th>
            <th>Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
            <tr>
              <td class="fw-bold">{{ event.title }}</td>
              <td class="fw-bold"> <span class="badge bg-info">{{ event.state }} </span></td>
              <td class="fs-base-n2">{{ event.start_date }}</td>
              <td class="fs-base-n2">{{ event.location }}</td>
              <td class="align-middle px-4">
                <div class="d-flex flex-row justify-content-between">
                  <a class="btn btn-sm col btn" href="{% url 'event_update' current_team.public_id event.pk %}">
                  Edit
                  </a>
                  {% if event.state == "Live" %}
                  <a class="btn btn-sm col btn-primary" href="{% url 'event_stats' current_team.public_id event.pk %}">
                  Stats
                  </a>
                  {% endif %}
                  {% if event.state == "Ready for Checkout" %}
                  <a class="btn btn-sm col btn-primary" href="{% url 'event_checkout' current_team.public_id event.pk %}">
                  Checkout
                  </a>
                  {% endif %}
                  </div>
              </td>
              </tr>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="content text-center">
      <div class="ws-200 mw-100 mx-auto">
        <img src="{% static 'images/illustrations/empty.svg' %}" alt="empty" class="w-100 h-auto">
      </div>
      <div class="ws-400 mw-100 mx-auto">
        <h5>Nothing found</h5>
        <p>
          Looks like no events have been created yet
        </p>
      </div>
    </div>
  {% endif %}
  <!-- Main content end -->

  <!-- Card footer start -->
  <div class="px-card py-10 border-top fs-base-n2 d-flex align-items-center">
    <div>
            {% if page_obj.has_previous %}
             <a class="btn btn-sm text-primary fw-bold" href="?page={{ page_obj.previous_page_number }}">Prev</a>
            {% else %}
              <button class="btn btn-sm fw-bold" disabled="disabled">Prev</button>
            {% endif %}
        </div>
        <div class="ms-auto">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        <div class="ms-auto">
            {% if page_obj.has_next %}
             <a class="btn btn-sm text-primary fw-bold" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% else %}
              <button class="btn btn-sm fw-bold" disabled="disabled">Next</button>
            {% endif %}
        </div>
  </div>
  <!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock content %}
