{% extends 'bases/base_primary.html' %}
{% load static get_theme_value i18n crispy_forms_tags %}

{% block head_title %}
{% if request.resolver_match.url_name == 'event_create' %}
	Create Event
{% else %}
	{{ event.title }}
{% endif %} - {% get_theme_value "brand_name" %}
{% endblock head_title %}

{% block navbar_breadcrumb %}
{% if url_name == 'event_create' %}
	Create Event
{% else %}
	Event Details
{% endif %}
{% endblock %}

{% block content %}
<!-- Header start -->
{% include 'components/event_details_page_header.html' %}
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
	<!-- Card header start -->
	{% include 'components/event_details_card_header.html' %}
	<!-- Card header end -->

	<!-- Main content start -->
	<div class="row">
		<div class="col-lg-9 col-xl-7 mx-auto">
			<div class="content">
				<div class="d-flex align-items-center">
					<h3 class="fs-base-p4 m-0 d-flex align-items-center">
						<span class="ws-25 me-10 text-primary">
							<i class="fa-light fa-ticket"></i>
						</span>
						Ticket Tiers
					</h3>
					<div class="ps-20 ms-auto">
						<a href="{% url 'dashboard:ticket_tier_create' current_team.public_id event.pk %}" class="btn btn-primary btn-sm">
							<i class="fa-solid fa-plus"></i>
		                   	<span class="ms-5 d-none d-sm-inline">Create</span>
						</a>
					</div>
				</div>
				<p class="text-muted fs-base-n2 mt-5">
					Given below is a list of ticket tiers for your event.
				</p>
				{% if event.tickettier_set.count > 0 %}
					{% for ticket_tier in event.tickettier_set.all %}
						<div class="my-20 border rounded">
							<div class="p-15 p-sm-20">
								<div class="d-flex align-items-center mb-20">
									<div>
										<div class="text-muted fs-base-n2">
											Name of Ticket Tier:
										</div>
										<h6 class="m-0 fs-base-p2 mt-5">
											{{ ticket_tier.ticket_type }}
											{% if ticket_tier.is_guest_tier %}
												<span class="d-inline-block px-10 py-5 rounded-pill bg-gray-very-light-lm bg-darkgray-dim-dm fs-base-n2">
													For Guests
												</span>
											{% endif %}
										</h6>
									</div>
									<div class="ps-20 ms-auto">
										<a href="{% url 'dashboard:ticket_tier_update' current_team.public_id ticket_tier.event.pk ticket_tier.pk %}" class="btn btn-primary btn-sm">
											<i class="fa-solid fa-edit"></i>
											<span class="visually-hidden">Update</span>
										</a>
										<a href="{% url 'dashboard:ticket_tier_delete' current_team.public_id ticket_tier.event.pk ticket_tier.pk %}" class="btn btn-danger btn-sm">
											<i class="fa-solid fa-trash-can"></i>
											<span class="visually-hidden">Delete</span>
										</a>
									</div>
								</div>
								<div class="mb-20">
									<div class="text-muted fs-base-n2">
										Checkout Methods:
									</div>
									<div>
										{% if ticket_tier.tier_fiat %}
											<span class="badge badge-success badge-pill fs-base-n2 lh-sm border-transparent mt-5 me-5">
												<i class="fa-regular fa-check"></i>
												Fiat
											</span>
										{% else %}
											<span class="badge badge-pill fs-base-n2 lh-sm text-base bg-gray-very-light-lm bg-darkgray-dim-dm border-transparent mt-5 me-5">
												<i class="fa-regular fa-times"></i>
												Fiat
											</span>
										{% endif %}
										{% if ticket_tier.tier_blockchain %}
											<span class="badge badge-success badge-pill fs-base-n2 lh-sm border-transparent mt-5 me-5">
												<i class="fa-regular fa-check"></i>
												Crypto
											</span>
										{% else %}
											<span class="badge badge-pill fs-base-n2 lh-sm text-base bg-gray-very-light-lm bg-darkgray-dim-dm border-transparent mt-5 me-5">
												<i class="fa-regular fa-times"></i>
												Crypto
											</span>
										{% endif %}
										{% if ticket_tier.tier_asset_ownership %}
											<span class="badge badge-success badge-pill fs-base-n2 lh-sm border-transparent mt-5 me-5">
												<i class="fa-regular fa-check"></i>
												NFTs
											</span>
										{% else %}
											<span class="badge badge-pill fs-base-n2 lh-sm text-base bg-gray-very-light-lm bg-darkgray-dim-dm border-transparent mt-5 me-5">
												<i class="fa-regular fa-times"></i>
												NFTs
											</span>
										{% endif %}
									</div>
								</div>
								<hr />
								<div class="row">
									<div class="col-6 col-sm-4 text-truncate">
										<strong>Capacity</strong>
										<br />
										{{ ticket_tier.capacity }}
									</div>
									<div class="col-6 col-sm-4 text-truncate">
										<strong>Qty. Sold</strong>
										<br />
										{{ ticket_tier.quantity_sold }}
									</div>
									<div class="col-12 col-sm-4 mt-10 mt-sm-0 text-truncate">
										<strong>Max per person</strong>
										<br />
										{{ ticket_tier.max_per_person }}
									</div>
								</div>
							</div>
							{% if ticket_tier.tier_asset_ownership %}
								<div class="collapse-group collapse-group-flush border-top">
									<details class="collapse-panel">
										<summary class="collapse-header">
											<strong>Asset Ownership (for NFTs)</strong>
											<br />
											<span class="text-muted fs-base-n2">Click to show/hide</span>
										</summary>
										<div class="collapse-content p-15 p-sm-20">
											<div class="row">
												<div class="col-6 text-truncate">
													<strong>Blockchain</strong>
													<br />
													{{ ticket_tier.tier_asset_ownership.blockchain }}
												</div>
												<div class="col-6 text-truncate">
													<strong>Network</strong>
													<br />
													{{ ticket_tier.tier_asset_ownership.get_network_display }}
												</div>
											</div>
											<div class="row mt-10">
												<div class="col-6 text-truncate">
													<strong>Asset Type</strong>
													<br />
													{{ ticket_tier.tier_asset_ownership.asset_type }}
												</div>
												<div class="col-6 text-truncate">
													<strong>Token Address</strong>
													<br />
													{{ ticket_tier.tier_asset_ownership.token_address }}
												</div>
											</div>
											{% if ticket_tier.tier_asset_ownership.token_id %}
												<div class="mt-10 text-truncate">
													<strong>Token ID(s)</strong>
													<br />
													{{ ticket_tier.tier_asset_ownership.token_id |join:", "}}
												</div>
											{% endif %}
										</div>
									</details>
								</div>
							{% endif %}
						</div>
					{% endfor %}
					<div class="text-center">
						Total {{ event.tickettier_set.count }} ticket tier(s) found
					</div>
				{% else %}
					<div class="text-center mt-30">
						<div class="ws-200 mw-100 mx-auto">
							<img src="{% static 'images/illustrations/empty.svg' %}" alt="empty" class="w-100 h-auto">
						</div>
						<div class="ws-400 mw-100 mx-auto">
							<p>
								No ticket tiers have been created for this event. You will need to <a href="{% url 'dashboard:ticket_tier_create' current_team.public_id event.pk %}" class="fw-bold antialiased">create one</a> first before going live.
							</p>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	<!-- Main content end -->

	<!-- Card footer start -->
	<div class="px-card py-10 border-top text-muted fs-base-n2">
		Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSdEw1zowks1E9K6xDFiBn00auyWV06zvJUwKzeo7miBzdpA6w/viewform" target="_blank" class="fw-bold antialiased">contact us</a> and let us know if you need help managing your event.
	</div>
	<!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock %}
