{% extends 'bases/base_primary.html' %}
{% load static get_theme_value i18n crispy_forms_tags %}

{% block head_title %}
{% if request.resolver_match.url_name == 'event_create' %}
	Create Event
{% else %}
	{{ event.title }}
{% endif %} - {% get_theme_value "brand_name" %}
{% endblock head_title %}

{% block navbar_breadcrumb %}
{% if url_name == 'event_create' %}
	Create Event
{% else %}
	Event Details
{% endif %}
{% endblock %}

{% block content %}
<!-- Header start -->
{% include 'components/event_details_page_header.html' %}
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
	<!-- Card header start -->
	{% include 'components/event_details_card_header.html' %}
	<!-- Card header end -->

	<!-- Main form start -->
	<form class="row" enctype="multipart/form-data" method="post" id="event-form">
		{% csrf_token %}
		<!-- Main content start -->
		<div class="col-lg-9 col-xl-7 mx-auto">
			<div class="content">
				{% if form.non_field_errors %}
					<div class="alert alert-danger text-danger px-15 py-10 subpixel-antialiased" role="alert">
						<ul class="unordered-list bullet-reset m-0">
							{% for error in form.non_field_errors %}
								<li>{{ error|escape }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}

				{% if form.errors %}
					<div class="alert alert-danger text-danger px-15 py-10 subpixel-antialiased" role="alert">
						Please complete the form below.
					</div>
				{% endif %}

				{% for input in form.hidden_fields %}
					{{ input }}
				{% endfor %}

				<!-- Basic information start -->
				<h3 class="fs-base-p4 mb-0 d-flex align-items-center" id="basic-information">
					<span class="ws-25 me-10 text-primary">
						<i class="fa-light fa-ballot-check"></i>
					</span>
					Basic Information
				</h3>
				<p class="text-muted fs-base-n2 mt-5">
					Name your event and tell event-goers why they should come. Add details that highlight what makes it unique.
				</p>
				{% with form.title as input %}
					{% include 'components/forms_inputs/input.html' %}
				{% endwith %}
				{% with input=form.organizer %}
					{% include 'components/forms_inputs/input.html' %}
				{% endwith %}
				{% with form.description as input %}
					{% include 'components/forms_inputs/textarea.html' %}
				{% endwith %}
				<!-- Basic information end -->

				<!-- Location start -->
				<br />
				<h3 class="fs-base-p4 mb-0 d-flex align-items-center" id="location">
					<span class="ws-25 me-10 text-primary">
						<i class="fa-light fa-location-dot"></i>
					</span>
					Location
				</h3>
				<p class="text-muted fs-base-n2 mt-5">
					Help people in the area discover your event and let attendees know where to show up.
				</p>
				{% with placeChangedCallback="onPlaceChangedCallback" initialPlace=form.instance.initial_place %}
					<script>
					    function onPlaceChangedCallback(place){
					    // TODO: Use in appromixmating timezone
					    // document.getElementById("id_timezone_offset").value = place.utc_offset_minutes

					    // Set latitude and longitude hidden field
					    lat = place.geometry.location.lat();
					    long = place.geometry.location.lng();
					    document.getElementById("id_lat").value = lat.toFixed(6)
					    document.getElementById("id_long").value = long.toFixed(6)

					    // Loop over places object for setting fields
					    // set fields based on available places components
					    var gmaps = {};
					    for (var i = 0; i < place.address_components.length; i++) {
					    var c = place.address_components[i];
					    gmaps[c.types[0]] = c;
					    }

					    if (gmaps['postal_code']){
					    if (gmaps['postal_code_suffix']){
					    document.getElementById("id_postal_code").value = `${gmaps['postal_code']['long_name']}-${gmaps['postal_code_suffix']['long_name']}`
					    }
					    else {
					    document.getElementById("id_postal_code").value = `${gmaps['postal_code']['long_name']}`
					    }
					    }

					    let locality = gmaps['locality'] ? gmaps['locality']['long_name'] : gmaps['administrative_area_level_2']['long_name'];
					    let street_number = gmaps['street_number'] ? `${gmaps['street_number']['short_name']} ` : '';
					    let address_1 = `${street_number}${gmaps['route']['short_name']}`;
					    let address_2 = gmaps['subpremise'] ? gmaps['subpremise']['long_name'] : null;

					    document.getElementById("id_initial_place").value = place.name;
					    document.getElementById("id_city").value = locality;
					    document.getElementById("id_address_1").value = address_1;
					    document.getElementById("id_address_2").value = address_2;
					    document.getElementById("id_localized_address_display").value = place.formatted_address;
					    document.getElementById("id_country").value = gmaps['country']['short_name'];
					    document.getElementById("id_region").value = gmaps['administrative_area_level_1']['short_name'];
					    }
					</script>
					{% include 'components/forms_inputs/gmaps_location.html' %}
					{% if form.initial_place.help_text %}
						<div class="form-text">
						    {{ form.initial_place.help_text }}
						</div>
					{% endif %}
				{% endwith %}
				<!-- Location end -->

				<!-- Date and time start -->
				<br />
				<h3 class="fs-base-p4 mb-0 d-flex align-items-center" id="date-and-time">
					<span class="ws-25 me-10 text-primary">
						<i class="fa-light fa-clock"></i>
					</span>
					Date and Time
				</h3>
				<p class="text-muted fs-base-n2 mt-5">
					Tell event-goers when your event starts and ends so they can make plans to attend.
				</p>
				{% with input=form.start_date %}
					{% include 'components/forms_inputs/input.html' %}
			  	{% endwith %}
				{% with input=form.end_date %}
			  		{% include 'components/forms_inputs/input.html' %}
			  		<div class="invalid-feedback mb-20 d-none" id="end-date-extra-feedback">
						The end date must come after the start date.
			  		</div>
				{% endwith %}
				<div class="form-group">
			  		{{ form.timezone|as_crispy_field }}
				</div>
				<!-- Date and time end -->

				<!-- Main event image start -->
				<br />
				<h3 class="fs-base-p4 mb-0 d-flex align-items-center" id="main-event-image">
					<span class="ws-25 me-10 text-primary">
						<i class="fa-light fa-image"></i>
					</span>
					Main Event Image
				</h3>
				<p class="text-muted fs-base-n2 mt-5">
					Use this image to showcase your event. This will be the banner image attendees will se when purchasing the tickets.
				</p>
				<div class="form-group">
					{{ form.cover_image|as_crispy_field }}
				</div>
				<!-- Main event image end -->

				<!-- Submit button start -->
				<hr />
				<div class="form-group text-end">
					<button type="submit" class="btn btn-primary">Save Event</button>
				</div>
				<!-- Submit button end -->
			</div>
		</div>
		<!-- Main content end -->
	</form>
	<!-- Main form end -->

	<!-- Card footer start -->
	<div class="px-card py-10 border-top text-muted fs-base-n2">
		Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" target="_blank" class="fw-bold">contact us</a> and let us know if you need help creating/updating an event.
	</div>
	<!-- Card footer end -->
</div>
<!-- Content card end -->

<!-- Date Validation Script -->
<script>
	var startDateInput = document.getElementById("id_start_date");
	var endDateInput = document.getElementById("id_end_date");
	var endDateExtraFeedback = document.getElementById("end-date-extra-feedback");

	function dateValidate(e) {
		var startDateVal = startDateInput.value;
		var endDateVal = endDateInput.value;

		endDateExtraFeedback.classList.add("d-none");
		endDateInput.classList.remove("is-invalid");

		if (startDateVal && endDateVal) {
			var startDate = new Date(startDateVal);
			var endDate = new Date(endDateVal);

			if (startDate >= endDate) {
				endDateExtraFeedback.classList.remove("d-none");
				endDateInput.classList.add("is-invalid");
			}
		}
	}

	startDateInput.addEventListener("change", dateValidate);
	endDateInput.addEventListener("change", dateValidate);
</script>

{% if url_name == 'event_create' %}
	<!-- Set Default Timezone Script -->
	<script>
		try {
			document.getElementById(
				"id_timezone"
			).value = Intl.DateTimeFormat().resolvedOptions().timeZone;
		} catch (error) {
			console.log(error);
		}
	</script>
{% endif %}
{% endblock %}
