{% extends "bases/base_primary.html" %}
{% load static get_theme_value get_user_primary_email format_address %}

{% block head_title %}Tickets - {% get_theme_value "brand_name" %}{% endblock head_title %}

{% block navbar_breadcrumb %}Tickets{% endblock %}

{% block content %}
<!-- Header start -->
<div class="border-bottom hs-md-100">
	<div class="p-content d-flex h-100">
		<div class="pe-15 align-self-center">
			<h1 class="content-title m-0 fs-base-p6">Tickets</h1>
			<p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
				List of tickets issued for <strong>{{ current_gate.title }}</strong>.
			</p>
		</div>
		<div class="ms-auto align-self-center">
			<a href="{{ current_gate.event_portal_url }}" target="_blank" class="btn text-primary fw-bold">
				<i class="fa-regular fa-store"></i>
				<span class="ms-5 d-none d-sm-inline">Ticket Store</span>
			</a>
		</div>
	</div>
</div>
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
	<!-- Card header start -->
	<div class="px-card py-10 border-bottom">
		<span class="bg-primary-very-light-lm bg-primary-very-dim-dm border-start border-primary border-2 px-10 py-5 fs-base-n2 fw-bold">
			Tickets - # Total {{ tickets.count }}
		</span>
	</div>
	<!-- Card header end -->

	<!-- Main content start -->
	{% if tickets.count > 0 %}
		<div class="table-responsive scroll-shadow-content-x">
			<table class="table list-table">
				<thead>
					<tr class="fs-base-n2">
						<th>Address</th>
						<th>Issued At</th>
						<th>Redeemed</th>
					</tr>
				</thead>
				<tbody>
					{% for ticket in tickets %}
						<tr>
							<td class="fw-bold">{% format_address ticket.blockchain_ownership.wallet_address %}</td>
							<td class="fs-base-n2">{{ ticket.created }}</td>
							<td class="fs-base-n2 d-flex align-items-center">
								{% if ticket.redeemed %}
									<span class="ws-25">
										<i class="fa-solid fa-check text-success-dim-lm text-success-light-dm"></i>
									</span>
									<span>Yes</span>
								{% else %}
									<span class="ws-25">
										<i class="fa-solid fa-times text-danger"></i>
									</span>
									<span>No</span>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<div class="content text-center">
			<div class="ws-200 mw-100 mx-auto">
				<img src="{% static 'images/illustrations/empty.svg' %}" alt="empty" class="w-100 h-auto">
			</div>
			<div class="ws-400 mw-100 mx-auto">
				<h5>Nothing found</h5>
				<p>
					Looks like no tickets have been created for the <strong>{{ current_gate.title }}</strong> event yet.
				</p>
			</div>
		</div>
	{% endif %}
	<!-- Main content end -->

	<!-- Card footer start -->
	<div class="px-card py-10 border-top fs-base-n2 d-flex align-items-center">
		<div>
          	{% if page_obj.has_previous %}
       			<a class="btn btn-sm text-primary fw-bold" href="?page={{ page_obj.previous_page_number }}">Prev</a>
          	{% else %}
          		<button class="btn btn-sm fw-bold" disabled="disabled">Prev</button>
          	{% endif %}
        </div>
        <div class="ms-auto">
        	Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </div>
        <div class="ms-auto">
          	{% if page_obj.has_next %}
       			<a class="btn btn-sm text-primary fw-bold" href="?page={{ page_obj.next_page_number }}">Next</a>
          	{% else %}
          		<button class="btn btn-sm fw-bold" disabled="disabled">Next</button>
          	{% endif %}
        </div>
	</div>
	<!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock content %}
