{% extends "bases/base_primary.html" %}
{% load static get_theme_value get_user_primary_email %}

{% block head_title %}Manage Members - {% get_theme_value "brand_name" %}{% endblock head_title %}

{% block navbar_breadcrumb %}Manage Members{% endblock %}

{% block content %}
<!-- Header start -->
<div class="border-bottom hs-md-100">
	<div class="p-content d-flex h-100">
		<div class="align-self-center">
			<h1 class="content-title m-0 fs-base-p6">Manage Members</h1>
			<p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
				Manage the members of your team.
			</p>
		</div>
	</div>
</div>
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
	<!-- Card header start -->
	<div class="px-card py-10 border-bottom">
		<span class="bg-primary-very-light-lm bg-primary-very-dim-dm border-start border-primary border-2 px-10 py-5 fs-base-n2 fw-bold">
			Member Manager
		</span>
	</div>
	<!-- Card header end -->

	<div class="row">
		<!-- Main content start -->
		<div class="col-lg-6 border-lg-end">
			<div class="content">
				<p class="fs-base-n2">
					You're managing members as...<br />
					<strong>{{ request.user.username }}</strong> - <a href="mailto:{% get_user_primary_email %}" target="_blank" class="fw-bold">{% get_user_primary_email %}</a>
				</p>

				<!-- Team members start -->
				<h2 class="card-title fs-base-p4 mt-20 mb-0">Team Members</h2>
				<p class="text-muted fs-base-n2 mt-5">
					The following member(s) are in your team right now.
				</p>
				<div class="border-top">
					{% for member in memberships %}
						<div class="d-flex align-items-center border-bottom p-10">
							<p class="m-0 text-truncate">
								<i class="fa-solid fa-user text-primary me-5"></i>
								{{ member.user.email }}
							</p>
							<div class="d-flex align-items-center ps-15 ms-auto">
								{% if member.user != request.user %}
									<a href="{% url 'team_member_delete' team_public_id=current_team.public_id member_pk=member.id %}" class="btn btn-sm btn-square text-danger" data-hm-toggle="tooltip" data-hm-placement="start" data-hm-breakpoint="md" data-hm-title="Remove member from your team">
										<i class="fa-solid fa-times"></i>
										<span class="visually-hidden">Remove</span>
									</a>
								{% else %}
									<span class="fs-base-n2">(You)</span>
								{% endif %}
							</div>
						</div>
					{% endfor %}
					{% for invite in current_team.invite_set.all %}
						{% if invite.accepted != True %}
							<div class="d-flex align-items-center border-bottom p-10 bg-warning-very-light-lm bg-warning-very-dim-dm">
								<p class="m-0 text-truncate">
									<i class="fa-regular fa-user me-5"></i>
									{{ invite.email }}
								</p>
								<div class="ps-15 ms-auto">
									<span class="fs-base-n2">Pending</span>
								</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<!-- Team members end -->

				<!-- Form start -->
				<h2 class="card-title fs-base-p4 mt-40 mb-0" id="add-member">Add Team Member</h2>
				<p class="text-muted fs-base-n2 mt-5">
					Use the following form to add a new member to your team. We'll send them an invitation via email.
				</p>
				<form method="POST">
					{% csrf_token %}

					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							<ul class="invalid-feedback">
								{% for error in form.non_field_errors %}
									<li>{{ error|escape }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

					{% for input in form.hidden_fields %}
						{{ input }}
					{% endfor %}

					{% for input in form.visible_fields %}
						<div class="form-group">
							<div class="input-group position-relative">
								<input
									type="{{ input.field.widget.input_type }}"
									name="{{ input.name }}"
									value="{{ input.value|default_if_none:'' }}"
									{% if input.field.widget.input_type != "hidden" %}
										class="ps-40 form-control {% if input.errors %}is-invalid{% endif %}"
										id="{{ input.auto_id }}"
									{% endif %}
									{% if input.field.required %}
										required="required"
									{% endif %}
									{% for k,v in input.field.widget.attrs.items %}
										{{ k }}="{{ v }}"
									{% endfor %}
									placeholder="E-mail address"
								/>
								<label class="position-absolute top-50 start-0 translate-y-middle ps-15 opacity-25 z-10" for="{{ input.id_for_label }}">
									<i class="fa-regular fa-envelope"></i>
									<span class="visually-hidden">Email</span>
								</label>
								<button class="btn btn-primary" name="action_add" type="submit">
									<i class="fa-regular fa-paper-plane"></i>
									<span class="visually-hidden d-sm-none">Submit</span>
									<span class="ms-5 d-none d-sm-inline">Submit</span>
								</button>
							</div>

							{% if input.errors %}
								<ul class="invalid-feedback">
									{% for error in input.errors %}
										<li>{{ error }}</li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
					{% endfor %}
				</form>
				<!-- Form end -->
			</div>
		</div>
		<!-- Main content end -->

		<!-- Illustration start -->
		<div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center ">
			<div class="content w-100">
				<img src="{% static 'images/illustrations/manage_members.svg' %}" class="d-block w-100" alt="manage_members">
			</div>
		</div>
		<!-- Illustration end -->
	</div>

	<!-- Card footer start -->
	<div class="px-card py-10 border-top text-muted fs-base-n2">
		Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" target="_blank" class="fw-bold">contact us</a> and let us know if you need help managing your team members.
	</div>
	<!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock content %}
