{% extends "bases/base_primary.html" %}
{% load static get_theme_value get_user_primary_email %}

{% block head_title %}Delete Member - {% get_theme_value "brand_name" %}{% endblock head_title %}

{% block navbar_breadcrumb %}Delete Member{% endblock %}

{% block content %}
<!-- Header start -->
<div class="border-bottom hs-md-100">
	<div class="p-content d-flex h-100">
		<div class="align-self-center">
			<h1 class="content-title m-0 fs-base-p6">Delete Member</h1>
			<p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
				Use the following form to confirm the removal of your team member.
			</p>
		</div>
	</div>
</div>
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
	<!-- Card header start -->
	<div class="px-card py-10 border-bottom">
		<span class="bg-primary-very-light-lm bg-primary-very-dim-dm border-start border-primary border-2 px-10 py-5 fs-base-n2 fw-bold">
			Delete Member
		</span>
	</div>
	<!-- Card header end -->

	<div class="row">
		<!-- Main content start -->
		<div class="col-lg-6 border-lg-end">
			<div class="content">
				<p class="fs-base-n2">
					You're managing members as...<br />
					<strong>{{ request.user.username }}</strong> - <a href="mailto:{% get_user_primary_email %}" target="_blank" class="fw-bold">{% get_user_primary_email %}</a>
				</p>

				<!-- Team member deletion form start -->
				<h2 class="card-title fs-base-p4 mt-20 mb-0">Delete Team Member</h2>
				<p>
					You're about to remove <a href="malto:{{ object.user.email }}" class="fw-bold">{{object.user.email}}</a> from <strong>{{object.team.name}}</strong>. Once this action is confirmed, it cannot be undone.
				</p>
				<form class="form" method="post">
					{% csrf_token %}
					{{ form }}
					<div class="form-group">
						<input type="submit" value="Confirm Deletion" class="btn btn-danger">
					</div>
				</form>
				<!-- Team member deletion form end -->
			</div>
		</div>
		<!-- Main content end -->

		<!-- Illustration start -->
		<div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center ">
			<div class="content w-100">
				<img src="{% static 'images/illustrations/manage_members.svg' %}" class="d-block w-100" alt="manage_members">
			</div>
		</div>
		<!-- Illustration end -->
	</div>

	<!-- Card footer start -->
	<div class="px-card py-10 border-top text-muted fs-base-n2">
		Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" target="_blank" class="fw-bold">contact us</a> and let us know if you need help managing your team members.
	</div>
	<!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock content %}
