{% extends 'dashboard/base.html' %}
{% load static i18n get_chain_name %}

{% block title %}{{ current_team.name }} - SocialPass {% endblock %}

{% block navbar_page_name_1 %}Team Info {% endblock %}
{% block navbar_page_name_2 %}Team Info{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10 col-md-8 mx-auto">
    <div class="card mb-4">
      <div class="card-header py-0">
        <div class="d-flex align-items-center py-3">
          <div class="pe-2">
            <h6 class="m-0">Team Detail</h6>
            <div class="text-muted text-xs mb-3">
              Details of a particular team.
            </div>
          </div>
          <a href="{% url 'team_update' view.kwargs.team_pk %}" class="btn bg-gradient-primary btn-sm ms-auto my-0">Edit</a>
        </div>
      </div>
      <div class="card-body py-2">
        <div>
          <h1 class="fw-bold fs-3">{{ current_team.name }}</h1>
          <div class="text-muted text-xs mb-3">
            <div>
              Created: {{ current_team.created }}
            </div>
            <div class="mt-1">
              Modified: {{ current_team.modified }}
            </div>
          </div>
          {% if current_team.details %}
          <p class="text-muted">{{ current_team.details }}</p>
          {% else %}
          <p class="text-muted">Description not set.</p>
          {% endif %}
        </div>
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <tbody>
              <tr>
                <td class="align-middle fw-bold">
                  Name
                </td>
                <td class="align-middle">
                  {{ current_team.name }}
                </td>
              </tr>
              <tr>
                <td class="align-middle fw-bold">
                  Description
                </td>
                <td class="align-middle">
                  {{ current_team.details }}
                </td>
              </tr>
              <tr>
                <td class="align-middle fw-bold">
                  Website URL
                </td>
                <td class="align-middle">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
