{% extends "bases/base_primary.html" %}
{% load static get_theme_value get_user_primary_email %}

{% block head_title %}Team Details - {% get_theme_value "brand_name" %}{% endblock head_title %}

{% block navbar_breadcrumb %}Team Details{% endblock %}

{% block content %}
<!-- Header start -->
<div class="border-bottom hs-md-100">
	<div class="p-content d-flex h-100">
		<div class="pe-15 align-self-center">
			<h1 class="content-title m-0 fs-base-p6">Team Details</h1>
			<p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
				Detailed breakdown of your team's information.
			</p>
		</div>
		<div class="ms-auto align-self-center">
			<a href="{% url 'team_update' current_team.public_id %}" class="btn text-primary fw-bold">
				<i class="fa-regular fa-edit"></i>
				<span class="ms-5 d-none d-sm-inline">Update</span>
			</a>
		</div>
	</div>
</div>
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
	<!-- Card header start -->
	<div class="px-card py-10 border-bottom">
		<span class="bg-primary-very-light-lm bg-primary-very-dim-dm border-start border-primary border-2 px-10 py-5 fs-base-n2 fw-bold">
			Team Details
		</span>
	</div>
	<!-- Card header end -->

	<div class="row">
		<!-- Main content start -->
		<div class="col-lg-6 border-lg-end">
			<div class="content">
				<!-- Team image and name start -->
				<div class="d-flex align-items-center">
					{% if current_team.image %}
						<div class="ws-50 hs-50 ws-sm-75 hs-sm-75 rounded-2 d-flex align-items-center justify-content-center flex-shrink-0 overflow-hidden">
							<img src="{{ current_team.image.url }}" class="img-fluid" alt="{{ current_team.name }} image">
						</div>
					{% else %}
						<div class="ws-50 hs-50 ws-sm-75 hs-sm-75 rounded-2 d-flex align-items-center justify-content-center bg-gray-very-light-lm bg-darkgray-very-dim-dm border flex-shrink-0">
							<span class="text-uppercase fsr-3 fw-bold">{{ current_team.name|slice:"0:1" }}</span>
						</div>
					{% endif %}
					<div class="ps-20 overflow-hidden">
						<p class="text-muted m-0 mb-5 text-truncate">My Team</p>
						<h2 class="fsr-3 fw-700 m-0 text-truncate">{{ current_team.name }}</h2>
					</div>
				</div>
				<!-- Team image and name end -->

				<!-- Team dates start -->
				<p class="mb-5">
					<strong>Created: </strong> <span class="text-muted">{{ current_team.created }}</span>
				</p>
				<p class="mt-5">
					<strong>Updated: </strong> <span class="text-muted">{{ current_team.modified }}</span>
				</p>
				<!-- Team dates end -->

				<!-- Team description start -->
				<div>
					{% if current_team.description %}
						<p class="mb-0">
							{{ current_team.description }}
						</p>
					{% else %}
						<p class="mb-0 text-muted">
							Your team does not have a description.
						</p>
					{% endif %}
					<p class="mt-5 fs-base-n2">
						<a class="fw-bold" href="{% url 'team_update' current_team.public_id %}">Update Information <i class="fa-regular fa-angle-right ms-5"></i></a>
					</p>
				</div>
				<!-- Team description end -->

				<!-- Team members start -->
				<h3 class="card-title fs-base-p4 mt-40 mb-0">Team Members</h3>
				<p class="mb-0">
					Your team currently has <strong class="fw-700">{{ current_team.members.count }}</strong> member(s).
				</p>
				<p class="mt-5 fs-base-n2">
					<a class="fw-bold" href="{% url 'dashboard:team_members' current_team.public_id %}">Manage Members <i class="fa-regular fa-angle-right ms-5"></i></a>
				</p>
				<!-- Team members end -->
			</div>
		</div>
		<!-- Main content end -->

		<!-- Illustration start -->
		<div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center ">
			<div class="content w-100">
				<img src="{% static 'images/illustrations/team_details.svg' %}" class="d-block w-100" alt="team_details">
			</div>
		</div>
		<!-- Illustration end -->
	</div>

	<!-- Card footer start -->
	<div class="px-card py-10 border-top text-muted fs-base-n2">
		Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" target="_blank" class="fw-bold">contact us</a> and let us know if you think something is wrong.
	</div>
	<!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock content %}
