{% extends 'dashboard/base.html' %}
{% load static i18n get_chain_name %}

{% block title %}{{ tokengate.title }} - SocialPass {% endblock %}

{% block navbar_page_name_1 %}Ticket Gate Detail{% endblock %}
{% block navbar_page_name_2 %}Ticket Gate Detail{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-10 col-md-8 mx-auto">
		<div class="card mb-4">
			<div class="card-header py-0">
				<div class="d-flex align-items-center py-3">
					<div class="pe-2">
						<h6 class="m-0">Ticket Gate Detail</h6>
						<div class="text-muted text-xs mb-3">
							Details of a particular token gate.
						</div>
					</div>
					<a href="{% url 'ticketgate_update' view.kwargs.team_pk tokengate.pk %}" class="btn bg-gradient-primary btn-sm ms-auto my-0">Edit</a>
				</div>
			</div>
			<div class="card-body py-2">
				<div>
					<h1 class="fw-bold fs-3">{{ tokengate.title }}</h1>
					<div class="text-muted text-xs mb-3">
						<div>
							Created: {{ tokengate.created }}
						</div>
						<div class="mt-1">
							Modified: {{ tokengate.modified }}
						</div>
					</div>
					{% if tokengate.description %}
					<p class="text-muted">{{ tokengate.description }}</p>
					{% else %}
					<p class="text-muted">Description not set.</p>
					{% endif %}
				</div>
				<div class="table-responsive p-0">
					<table class="table align-items-center mb-0">
						<tbody>
							<tr>
								<td class="align-middle fw-bold">
									Date
								</td>
								<td class="align-middle">
									{{ tokengate.date.date }}
								</td>
							</tr>
							<tr>
								<td class="align-middle fw-bold">
									Location
								</td>
								<td class="align-middle">
									{{ tokengate.location }}
								</td>
							</tr>
							<tr>
								<td class="align-middle fw-bold">
									Capacity
								</td>
								<td class="align-middle">
									{{ tokengate.capacity }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="my-3 mb-lg-4">
					<h5 class="fw-bold fs-5">Requirements</h5>
					<div class="text-muted text-xs mb-3">
						The following must be fulfilled in order to access this token gate.
					</div>
					{% if tokengate.requirements %}
					<pre class="bg-light px-4 rounded"><br />{% for item in tokengate.requirements %}Requirement {{ forloop.counter }}<br />-------------<br />{% for k, v in item.items %}<span class="text-primary fw-bold">{{ k }}</span>: {{ v }}<br />{% endfor %}<br />{% endfor %}</pre>
					{% else %}
					<pre class="bg-light p-3 rounded">No Requirements</pre>
					{% endif %}
				</div>
				<div class="my-3 mb-lg-4">
					<h5 class="fw-bold fs-5">Links</h5>
					<div class="text-muted text-xs mb-3">
						Below you can find:
						<ul>
							<li><strong>Ticket Store</strong> link to share with your potential attendees;</li>
							<li><strong>Scanner</strong> link to scan the tickets for this event at the entrance.</li>
						</ul>
					</div>
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<tbody>
								<tr>
									<td class="align-middle fw-bold">
										Checkout Portal
									</td>
									<td class="align-middle">
										<a href="{{tokengate.checkout_portal_url}}" target="_blank">{{tokengate.checkout_portal_url}}</a>
									</td>
								</tr>
								<tr>
									<td class="align-middle fw-bold">
										Ticket Scanner
									</td>
									<td class="align-middle">
										<a href="{{tokengate.ticket_redemption_keys.first.scanner_url}}" target="_blank">{{tokengate.ticket_redemption_keys.first.scanner_url}}</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
