{% extends "bases/base_primary.html" %}
{% load static get_user_primary_email %}

{% block head_title %}Events - SocialPass{% endblock head_title %}

{% block navbar_breadcrumb %}Events{% endblock %}

{% block content %}
<!-- Header start -->
<!-- Header start -->
<div class="border-bottom hs-md-100">
  <div class="p-content d-flex h-100">
    <div class="pe-15 align-self-center">
      <h1 class="content-title m-0 fs-base-p6">Events</h1>
      <p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
       List of events created by your team
      </p>
    </div>
    <div class="ms-auto align-self-center">
      <a href="{% url 'ticketgate_create' current_team.public_id %}" class="btn text-primary fw-bold">
        <i class="fa-regular fa-plus"></i>
        <span class="ms-5 d-none d-sm-inline">Create</span>
      </a>
    </div>
  </div>
</div>
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
  <!-- Card header start -->
  <div class="px-card py-10 border-bottom">
    <span class="bg-primary-very-light-lm bg-primary-very-dim-dm border-start border-primary border-2 px-10 py-5 fs-base-n2 fw-bold">
      Events List
    </span>
  </div>
  <!-- Card header end -->

  <div class="row">
    <!-- Main content start -->
    <div class="col-lg-12 border-lg-end">
      <div class="content">


        <!-- Start search form -->
        <form method="GET" class="d-flex align-items-center">
          <input type="text" class="form-control form-control-sm" name="title" placeholder="Search by title" value="{{ request.GET.title }}">
          <button class="btn btn-link btn-sm px-2 ms-3 my-0" type="submit">Search</button>
        </form>
        <!-- End Search Form -->

        <!-- Start Events List -->
        {% if tokengates.count > 0 %}
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="">Title</th>
                <th class="ps-2">Date</th>
                <th class="ps-2">Location</th>
                <th class="ps-2">Capacity</th>
                   <th class="ps-2">Ticketed</th>
                   <th class="ps-2">Payment Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for tokengate in tokengates %}
              <tr>
                <td class="align-middle">
                  <h6 class="m-0">{{ tokengate.title }}</h6>
                </td>
                <td class="align-middle">
                  {{ tokengate.start_date.date }}
                </td>
                <td class="align-middle">
                  {{ tokengate.location }}
                </td>
                <td class="align-middle">
                  {{ tokengate.capacity }}
                </td>
                <td class="align-middle">
                  {{ tokengate.tickets.all.count }}
                </td>
                <td class="align-middle">
                  {{ tokengate.payments.last.status }}
                </td>
                <td class="align-middle px-4">
                  {% if tokengate.has_pending_checkout %}
                    <a class="btn btn-sm btn-primary" href="{% url 'ticketgate_checkout' view.kwargs.team_pk tokengate.id %}">
                      Checkout
                    </a>
                  {% else %}
                    <div class="d-flex flex-row-reverse justify-content-between">
                      <a class="btn btn-sm btn-primary" href="{% url 'ticketgate_update' view.kwargs.team_pk tokengate.id %}">
                        Edit
                      </a>
                      <a class="btn btn-sm btn-primary" href="{% url 'ticketgate_stats' view.kwargs.team_pk tokengate.id %}">
                        Stats
                      </a>
                      <a class="btn btn-sm btn-primary" href="{% url 'ticketgate_detail' view.kwargs.team_pk tokengate.id %}">
                        Details
                      </a>
                      </div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <div class="text-center p-5">
          <img src="{% static 'images/empty-folder.svg' %}" alt="empty" height="80" class="d-block mx-auto">
          <p class="mt-3 mb-0 text-xs">Nothing found.</p>
        </div>
        {% endif %}
        <!-- End Events List -->

        <!-- Start Pagination Buttons -->
        {% if tokengates.count > 0 %}
        <div class="card-footer d-flex align-items-center">
          <div>
            {% if page_obj.has_previous %}
            <a class="btn btn-sm btn-secondary" href="?page={{ page_obj.previous_page_number }}">Prev</a>
            {% else %}
            <button class="btn btn-sm btn-secondary" disabled="disabled">Prev</button>
            {% endif %}
          </div>
          <span class="current text-xs ms-auto">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
          <div class="ms-auto">
            {% if page_obj.has_next %}
            <a class="btn btn-sm btn-secondary" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% else %}
            <button class="btn btn-sm btn-secondary" disabled="disabled">Next</button>
            {% endif %}
          </div>
        </div>
        {% endif %}
        <!-- End Pagination Buttons -->



      </div>
    </div>
    <!-- Main content end -->
  </div>

  <!-- Card footer start -->
  <div class="px-card py-10 border-top text-muted fs-base-n2">
    Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" target="_blank" class="fw-bold">contact us</a> and let us know if you have any trouble with your team's events page
  </div>
  <!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock content %}
