{% extends "bases/base_primary.html" %}
{% load static get_theme_value get_user_primary_email crispy_forms_tags %}

{% block head_title %}
{% if request.resolver_match.url_name == 'event_create' %}
	Create Event
{% else %}
	{{ event.title }}
{% endif %} - {% get_theme_value "brand_name" %}
{% endblock head_title %}

{% block navbar_breadcrumb %}
{% if url_name == 'event_create' %}
	Create Event
{% else %}
	Event Details
{% endif %}
{% endblock %}

{% block content %}
<!-- Header start -->
{% include 'components/event_details_page_header.html' %}
<!-- Header end -->

<!-- Content card start -->
<div class="card rounded-0 border-top-transparent border-start-0 border-end-0 p-0 m-0">
	<!-- Card header start -->
	{% include 'components/event_details_card_header.html' %}
	<!-- Card header end -->

	<!-- Main content start -->
	<div class="row">
		<div class="col-lg-9 col-xl-7 mx-auto">
			<div class="content">
				<div class="alert alert-primary d-flex align-items-center mb-30" role="alert">
					<i class="fa-regular fa-info-circle me-10"></i>
					<span>
						The ticket tier you're updating is: <strong>{{ object.ticket_type }}</strong>. Once a tier has been created, you can only edit the basic information.
					</span>
				</div>

				<!-- Form start -->
				<form method="POST">
					{% csrf_token %}

					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							<ul class="invalid-feedback">
								{% for error in form.non_field_errors %}
									<li>{{ error|escape }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

					{% for input in form.hidden_fields %}
						{{ input }}
					{% endfor %}

					<!-- Information start -->
					<h3 class="fs-base-p4 mb-0 d-flex align-items-center" id="information">
						<span class="ws-25 me-10 text-primary">
							<i class="fa-light fa-ballot-check"></i>
						</span>
						Information
					</h3>
					<p class="text-muted fs-base-n2 mt-5">
						Name your ticket tier and add in capacity numbers.
					</p>
					{% with form.ticket_type as input %}
						{% include 'components/forms_inputs/input.html' %}
					{% endwith %}
					{% with form.capacity as input %}
						{% include 'components/forms_inputs/input.html' %}
					{% endwith %}
					{% with form.max_per_person as input %}
						{% include 'components/forms_inputs/input.html' %}
					{% endwith %}
					<div class="form-group p-10 border border-dotted rounded">
						<label class="form-label">For Guests</label>
						<div class="form-check">
							{{	form.is_guest_tier|as_crispy_field	}}
						</div>
						<div class="form-text m-0">
							Please select this if this ticket tier is for guests. Guest ticket tiers are marked clearly on the checkout application and generally given less priority.
						</div>
					</div>
					<!-- Information end -->

					<!-- Submit button start -->
					<hr />
					<div class="form-group text-end">
						<button type="submit" class="btn btn-primary">Save Ticket Tier</button>
					</div>
					<!-- Submit button end -->
				</form>
				<!-- Form end -->
			</div>
		</div>
	</div>
	<!-- Main content start -->

	<!-- Card footer start -->
	<div class="px-card py-10 border-top text-muted fs-base-n2">
		Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSdEw1zowks1E9K6xDFiBn00auyWV06zvJUwKzeo7miBzdpA6w/viewform" target="_blank" class="fw-bold antialiased">contact us</a> and let us know if you need help managing your event.
	</div>
	<!-- Card footer end -->
</div>
<!-- Content card end -->
{% endblock content %}
