{% extends 'dashboard/base.html' %}
{% load static i18n get_chain_name %}

{% block title %}Ticket Gates - SocialPass {% endblock %}

{% block navbar_page_name_1 %}Ticket Gates{% endblock %}
{% block navbar_page_name_2 %}Ticket Gates{% endblock %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="card mb-4">
			<div class="card-header py-0">
				<div class="d-flex align-items-center py-3">
					<div class="pe-2">
						<h6 class="m-0">Ticket Gates</h6>
						<div class="text-muted text-xs">List of gates created by your team</div>
					</div>
					<a href="{% url 'ticketgate_create' view.kwargs.team_pk %}" class="btn bg-gradient-primary btn-sm ms-auto my-0">Create</a>
				</div>
				<form method="GET" class="d-flex align-items-center">
					<input type="text" class="form-control form-control-sm" name="title" placeholder="Search by title" value="{{ request.GET.title }}">
					<button class="btn btn-link btn-sm px-2 ms-3 my-0" type="submit">Search</button>
				</form>
			</div>
			<div class="card-body px-0 py-2">
				{% if tokengates.count > 0 %}
				<div class="table-responsive p-0">
					<table class="table align-items-center mb-0">
						<thead>
							<tr>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Location</th>
								<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Capacity</th>
               					<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ticketed</th>
               					<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Payment Status</th>
								<th class="text-secondary opacity-7"></th>
							</tr>
						</thead>
						<tbody>
							{% for tokengate in tokengates %}
							<tr>
								<td class="align-middle">
									<div class="ps-3">
										<h6 class="mb-0">{{ tokengate.title }}</h6>
									</div>
								</td>
								<td class="align-middle">
									<span class="text-secondary text-xs font-weight-bold">
                                    {{ tokengate.start_date.date }}
                                    </span>
								</td>
								<td class="align-middle">
									<span class="text-secondary text-xs font-weight-bold">
                                    {{ tokengate.location }}
                                    </span>
								</td>
								<td class="align-middle">
									<span class="text-secondary text-xs font-weight-bold">
									{{ tokengate.capacity }}
									</span>
								</td>
                				<td class="align-middle">
									<span class="text-secondary text-xs font-weight-bold">
									{{ tokengate.tickets.all.count }}
									</span>
								</td>
								<td class="align-middle">
									<span class="text-secondary text-xs font-weight-bold">
									{{ tokengate.payments.last.status }}
									</span>
								</td>
								<td class="align-middle px-4">
									{% if tokengate.has_pending_checkout %}
										<a href="{% url 'ticketgate_checkout' view.kwargs.team_pk tokengate.id %}" class="btn btn-link btn-sm m-0 px-0">
											Checkout
										</a>
									{% else %}
										<div class="d-flex flex-row-reverse justify-content-between">
											<a href="{% url 'ticketgate_update' view.kwargs.team_pk tokengate.id %}" class="btn btn-link btn-sm m-0 px-0">
												Edit
											</a>
											<a href="{% url 'ticketgate_stats' view.kwargs.team_pk tokengate.id %}" class="btn btn-link btn-sm m-0 me-3 px-0">
												Stats
											</a>
											<a href="{% url 'ticketgate_detail' view.kwargs.team_pk tokengate.id %}" class="btn btn-link btn-sm m-0 me-3 px-0">
												Details
											</a>
    	              					</div>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
				<div class="text-center p-5">
					<img src="{% static 'images/empty-folder.svg' %}" alt="empty" height="80" class="d-block mx-auto">
					<p class="mt-3 mb-0 text-xs">Nothing found.</p>
				</div>
				{% endif %}
			</div>
			{% if tokengates.count > 0 %}
			<div class="card-footer d-flex align-items-center">
				<div>
					{% if page_obj.has_previous %}
					<a class="btn btn-sm btn-link px-0 m-0" href="?page={{ page_obj.previous_page_number }}">Prev</a>
					{% else %}
					<button class="btn btn-sm btn-link px-0 m-0" disabled="disabled">Prev</button>
					{% endif %}
				</div>
				<span class="current text-xs ms-auto">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
				</span>
				<div class="ms-auto">
					{% if page_obj.has_next %}
					<a class="btn btn-sm btn-link px-0 m-0" href="?page={{ page_obj.next_page_number }}">Next</a>
					{% else %}
					<button class="btn btn-sm btn-link px-0 m-0" disabled="disabled">Next</button>
					{% endif %}
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
