{% extends "event_discovery/base.html" %}

{% load static %}

{% block head_title %}Browse Events - SocialPass{% endblock head_title %}

{% block content %}
<section>
    <div class="container-xl">
        <!-- Heading, subtitle, and search bar start -->
        <div class="content my-0">
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <h1 class="display-6 fw-700 text-strong my-0">
                        Browse Events
                    </h1>
                    <p class="text-muted mt-5 mb-0">
                        Find awesome events on SocialPass
                    </p>
                </div>
                <div class="col-md-6 align-self-center">
                    <!-- Search form start -->
                    <form class="position-relative mt-20">
                        {% if request.GET.search %}
                            <a href="{{ request.path }}" class="position-absolute top-50 start-0 translate-y-middle btn btn-link btn-lg btn-square btn-rounded bg-transparent text-base">
                                <i class="fa-regular fa-times"></i>
                                <span class="visually-hidden">Reset</span>
                            </a>
                        {% endif %}
                        <input type="text" name="search" class="form-control form-control-lg fs-base rounded-pill {% if request.GET.search %}ps-50{% else %}ps-20{% endif %} pe-50" placeholder="Search for events by name" value="{{ request.GET.search }}">
                        <button type="submit" class="position-absolute top-50 end-0 translate-y-middle btn btn-link btn-lg btn-square btn-rounded bg-transparent">
                        	<i class="fa-regular fa-search"></i>
                        	<span class="visually-hidden">Search</span>
                        </button>
                    </form>
                    <!-- Search form end -->

                    <p class="text-muted fs-base-n2 text-start text-md-end mt-5">
                        Case insensitive. For best results, please include keywords only
                    </p>
                </div>
            </div>
            <p class="mt-30 mb-0">
                Found 41 event(s) in total
            </p>
        </div>
        <!-- Heading, subtitle, and search bar end -->

        {% if events.count > 0 %}
            <!-- Event cards start -->
            <div class="row g-content">
                {% include "event_discovery/components/event_cards.html" with events=events %}
            </div>
            <!-- Event cards end -->

            <!-- Pagination start -->
            <div class="content py-20 my-0 border-top d-flex align-items-center">
                <div>
                    {% if page_obj.has_previous %}
    	                <a class="btn btn-rounded text-primary fw-bold" href="?page={{ page_obj.previous_page_number }}">
    	                	<i class="fa-regular fa-angle-left me-5"></i>
    	                	Prev
    	                </a>
                    {% else %}
                    	<button class="btn btn-rounded fw-bold" disabled="disabled">
                    		<i class="fa-regular fa-angle-left me-5"></i>
                    		Prev
                    	</button>
                    {% endif %}
                </div>
                <div class="ms-auto">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </div>
                <div class="ms-auto">
                    {% if page_obj.has_next %}
    	                <a class="btn btn-rounded text-primary fw-bold" href="?page={{ page_obj.next_page_number }}">
    	                	Next
    	                	<i class="fa-regular fa-angle-right ms-5"></i>
    	                </a>
                    {% else %}
    	                <button class="btn btn-rounded fw-bold" disabled="disabled">
    	                	Next
    	                	<i class="fa-regular fa-angle-right ms-5"></i>
    	                </button>
                    {% endif %}
                </div>
            </div>
            <!-- Pagination end -->
        {% else %}
            <div class="content py-20 my-0">
                <div class="ws-400 mw-100 mx-auto text-center">
                    <img src="{% static 'images/illustrations/empty.svg' %}" alt="empty" class="d-block w-100 h-auto">
                    <h5 class="fsr-3 text-strong">Nothing Found</h5>
                    <p>
                        Sorry, we could not find any event to show you at this moment.{% if request.GET.search %} Try changing up the search query to be more specific.{% endif %}
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock content %}