{% extends "event_discovery/base.html" %}

{% load static %}

{% block head_title %}{{ event.title }} - SocialPass{% endblock head_title %}

{% block modals %}
<div class="modal" tabindex="-1" id="checkout-app-modal" aria-labelledby="checkout-app-modal-toggle" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content border-transparent ws-860 hs-860 mw-100 mh-100 p-0">
            <div class="d-flex align-items-center hs-50 px-20 text-strong border-bottom">
                <strong>Claim Ticket</strong>
                <a href="#" type="button" class="d-block lh-1 link-reset text-decoration-none ms-auto" aria-label="Close" data-hm-dismiss="modal">
                    <i class="fa-light fa-times fs-base-p6"></i>
                </a>
            </div>
            <div class="w-100 h-100" id="checkout-app-root"></div>
        </div>
    </div>
</div>
{% endblock modals %}

{% block content %}
<!-- Hero section start -->
<section>
    <div class="container-xl py-lg-20">
        <div class="row row-eq-spacing-lg">
            <!-- First column start -->
            <div class="col-lg-6 offset-lg-1 align-self-center order-lg-last">
                <div class="content">
                    <h1 class="display-5 fw-700 text-strong mt-0">
                        {{ event.title }}
                    </h1>
                    <div class="fsr-6 d-flex align-items-center mt-20">
                        <div class="ws-25 flex-shrink-0">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                        <div class="ms-10 text-truncate">
                            {{ event.start_date }}
                        </div>
                    </div>
                    <div class="fsr-6 d-flex align-items-center mt-10">
                        <div class="ws-25 flex-shrink-0">
                            <i class="fa-regular fa-location-dot"></i>
                        </div>
                        <div class="ms-10 text-truncate">
                            {{ event.localized_address_display }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- First column end -->

            <!-- Second column start -->
            <div class="col-lg-5 align-self-center order-lg-first">
                <!-- Event cover image start -->
                <div class="content d-flex align-items-center justify-content-center rounded overflow-hidden pe-none">
                    <!-- Backwards compatibility -->
                    {% if not event.cover_image %}
                      <img src="" class="w-auto h-100" alt="{{ event.title }} cover image">
                    {% else %}

                      {% if event.cover_image.height > event.cover_image.width %}
                        <!-- Portrait -->
                        <img src="{{ event.cover_image.url }}" class="w-auto h-100" alt="{{ event.title }} cover image">
                      {% else %}
                        <!-- Landscape -->
                        <img src="{{ event.cover_image.url }}" class="w-100 h-auto" alt="{{ event.title }} cover image">
                      {% endif %}
                    {% endif %}
                </div>
                <!-- Event cover image end -->
            </div>
            <!-- Second column end -->
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- Information section start -->
<section>
    <div class="container-xl">
        <div class="row">
            <div class="col-md-8">
                <div class="content">
                    <h2 class="fsr-4 fw-700 text-strong mb-0">
                        General Admission
                    </h2>
                    <p class="fsr-6 mt-10">
                        {{ event.start_date.date }}
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 offset-lg-1">
                <div class="p-content position-md-sticky top-0 start-0">
                    <button type="button" class="btn btn-secondary btn-lg btn-block fsr-6" data-hm-toggle="modal" data-hm-target="checkout-app-modal" id="checkout-app-modal-toggle">
                        <strong class="antialiased">Claim Ticket</strong>
                    </button>
                    <p class="text-muted fs-base-n2 text-center">
                        Please note, you're agreeing to our <a href="https://drive.google.com/file/d/1mulvB8lIEl3AZghIBqlISBI-jdNk25W5/view?usp=sharing" target="_blank" class="fw-bold">Terms & Conditions</a> when claiming a ticket.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Information section end -->

<!-- Marketing section start -->
<section class="pt-md-30 pb-30">
    <div class="container-xl">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="content text-center">
                    <h5 class="display-6 fw-700 text-strong">
                        {{ event.title }} is powered by SocialPass.
                    </h5>
                    <p class="fsr-6 text-muted text-justify">
                        SocialPass is the go-to events platform, powered by Web3, NFT's and
                        <a target="_blank" href="https://socialpass.gitbook.io/socialpass/">more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Marketing section end -->
{% endblock content %}

{% block extra_body %}
<script src="{{checkoutportal_base_url}}/checkoutportal-embedded.js"></script>
<script type="text/javascript">
    const uuid = `{{event.public_id}}`;
    const domain = `{{checkoutportal_base_url}}`;
    var frame = new CheckoutPortalWidget(
      uuid,
      domain
    )
    frame.mount("checkout-app-root")
</script>
{% endblock extra_body %}
