{% extends "event_discovery/base.html" %}

{% load static %}

{% block head_title %}{{ event.title }} - SocialPass{% endblock head_title %}

{% block content %}
<div class="container text-center">
	<div class="row">
		<div class="col-sm-10 col-md-8 col-lg-6 mx-auto">
			<div class="content mt-50 mb-0">
				<h1 class="text-strong fw-700 fsr-4 m-0">
					<i class="fa-regular fa-circle-notch fa-spin me-5"></i>
					Loading Event ...
				</h1>
				<p>
					Please wait while we load this event and redirect you. You will be able to purchase tickets for it very soon! In case the redirect does not work for you automatically, please click on the following button.
				</p>
				<div class="hs-200">
					<a href="{{ event.checkout_portal_url }}" class="btn btn-secondary" id="redirect-btn">
						<strong class="antialiased">Go To Event</strong>
						<i class="fa-regular fa-arrow-right ms-5"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(event) {
		setTimeout(function(){
			document.getElementById("redirect-btn").click();
		}, 1000);
	});
</script>
{% endblock extra_body %}