{% extends "event_discovery/base.html" %}

{% load static %}

{% block content %}
<!-- Hero section start -->
<section>
    <div class="container-xl">
        <div class="row row-eq-spacing-lg">
            <!-- First column start -->
            <div class="col-lg-7 align-self-center">
                <div class="content">
                    <h1 class="display-4 fw-700 text-strong mt-0">
                        Hosting the Next Generation of Events
                    </h1>
                    <p class="fsr-5 text-muted">
                        SocialPass is the go-to events platform, powered by Web3.
                    </p>
                    <div class="mt-20">
                        <a href="#" class="btn btn-secondary btn-lg fsr-6 py-sm-15 px-sm-20 mt-10 me-5">
                            <strong class="antialiased">Explore</strong> <i class="fa-regular fa-angle-right ms-5"></i>
                        </a>
                        <a href="{% url 'dashboard_redirect' %}" class="btn btn-lg fsr-6 text-primary-dim-lm text-primary-light-dm py-sm-15 px-sm-20 mt-10">
                            <strong class="antialiased">Host an Event</strong>
                        </a>
                    </div>
                </div>
            </div>
            <!-- First column end -->

            <!-- Second column start -->
            <div class="col-lg-5 align-self-center">
                <div class="content">
                    <img src="{% static 'images/eventportal.png' %}" class="d-block ws-600 h-auto rounded-5 mw-100 mx-auto my-10 my-sm-20" alt="Hero image">
                </div>
            </div>
            <!-- Second column end -->
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- Featured events section start -->
{% if not featured_events.count > 0 %}
    <section>
        <div class="container-xl">
            <!-- Header start -->
            <div class="content d-flex align-items-center border-bottom pb-15 mb-0">
                <h2 class="fsr-1 fw-700 text-strong lh-base m-0">
                    Featured Events
                </h2>
                <a href="#" class="fw-bold ms-auto">
                    See More <i class="fa-regular fa-angle-right ms-5"></i>
                </a>
            </div>
            <!-- Header end -->

            <!-- Event cards start -->
            <div class="row g-content">
                {% include "event_discovery/components/event_cards.html" with events=featured_events from="featured_events" %}
            </div>
            <!-- Event cards end -->
        </div>
    </section>
{% endif %}
<!-- Featured events section end -->

<!-- Host an event section start -->
<section>
    <div class="container-xl">
        <!-- Header start -->
        <div class="content d-flex align-items-center border-bottom pb-15 mb-0">
            <h2 class="fsr-1 fw-700 text-strong lh-base m-0">
                Host an Event
            </h2>
            <a href="{% url 'dashboard_redirect' %}" class="fw-bold ms-auto">
                Let's Go <i class="fa-regular fa-angle-right ms-5"></i>
            </a>
        </div>
        <!-- Header end -->

        <!-- Row start -->
        <div class="row g-content mt-40">
            <!-- Column start -->
            <div class="col-sm-6 col-xl-3">
                <div class="content text-center">
                    <div class="ws-100 hs-100 bg-primary text-on-primary mx-auto d-flex align-items-center justify-content-center fs-base-p18 rounded-circle">
                        <i class="fa-duotone fa-ticket"></i>
                    </div>
                    <h3 class="fsr-3 fw-700 text-strong mt-40 mb-0">
                        Lorem Ipsum
                    </h3>
                    <p class="fsr-6 mt-10 mb-30">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <!-- Column end -->

            <!-- Column start -->
            <div class="col-sm-6 col-xl-3">
                <div class="content text-center">
                    <div class="ws-100 hs-100 bg-primary text-on-primary mx-auto d-flex align-items-center justify-content-center fs-base-p18 rounded-circle">
                        <i class="fa-duotone fa-film"></i>
                    </div>
                    <h3 class="fsr-3 fw-700 text-strong mt-40 mb-0">
                        Lorem Ipsum
                    </h3>
                    <p class="fsr-6 mt-10 mb-30">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <!-- Column end -->

            <!-- Column start -->
            <div class="col-sm-6 col-xl-3">
                <div class="content text-center">
                    <div class="ws-100 hs-100 bg-primary text-on-primary mx-auto d-flex align-items-center justify-content-center fs-base-p18 rounded-circle">
                        <i class="fa-duotone fa-party-horn"></i>
                    </div>
                    <h3 class="fsr-3 fw-700 text-strong mt-40 mb-0">
                        Lorem Ipsum
                    </h3>
                    <p class="fsr-6 mt-10 mb-30">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <!-- Column end -->

            <!-- Column start -->
            <div class="col-sm-6 col-xl-3">
                <div class="content text-center">
                    <div class="ws-100 hs-100 bg-primary text-on-primary mx-auto d-flex align-items-center justify-content-center fs-base-p18 rounded-circle">
                        <i class="fa-duotone fa-gift"></i>
                    </div>
                    <h3 class="fsr-3 fw-700 text-strong mt-40 mb-0">
                        Lorem Ipsum
                    </h3>
                    <p class="fsr-6 mt-10 mb-30">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <!-- Column end -->
        </div>
        <!-- Row end -->
    </div>
</section>
<!-- Host an event section end -->

<!-- Attend an event section start -->
<section>
    <div class="container-xl">
        <!-- Header start -->
        <div class="content d-flex align-items-center border-bottom pb-15 mb-0">
            <h2 class="fsr-1 fw-700 text-strong lh-base m-0">
                Attend an Event
            </h2>
            <a href="#" class="fw-bold ms-auto">
                Browse <i class="fa-regular fa-angle-right ms-5"></i>
            </a>
        </div>
        <!-- Header end -->

        <!-- Row start -->
        <div class="row g-content mt-40">
            <!-- Column start -->
            <div class="col-sm-6 col-xl-3">
                <div class="content text-center">
                    <div class="ws-100 hs-100 bg-secondary text-on-secondary mx-auto d-flex align-items-center justify-content-center fs-base-p18 rounded-circle">
                        <i class="fa-duotone fa-ticket"></i>
                    </div>
                    <h3 class="fsr-3 fw-700 text-strong mt-40 mb-0">
                        Lorem Ipsum
                    </h3>
                    <p class="fsr-6 mt-10 mb-30">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <!-- Column end -->

            <!-- Column start -->
            <div class="col-sm-6 col-xl-3">
                <div class="content text-center">
                    <div class="ws-100 hs-100 bg-secondary text-on-secondary mx-auto d-flex align-items-center justify-content-center fs-base-p18 rounded-circle">
                        <i class="fa-duotone fa-film"></i>
                    </div>
                    <h3 class="fsr-3 fw-700 text-strong mt-40 mb-0">
                        Lorem Ipsum
                    </h3>
                    <p class="fsr-6 mt-10 mb-30">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <!-- Column end -->

            <!-- Column start -->
            <div class="col-sm-6 col-xl-3">
                <div class="content text-center">
                    <div class="ws-100 hs-100 bg-secondary text-on-secondary mx-auto d-flex align-items-center justify-content-center fs-base-p18 rounded-circle">
                        <i class="fa-duotone fa-party-horn"></i>
                    </div>
                    <h3 class="fsr-3 fw-700 text-strong mt-40 mb-0">
                        Lorem Ipsum
                    </h3>
                    <p class="fsr-6 mt-10 mb-30">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <!-- Column end -->

            <!-- Column start -->
            <div class="col-sm-6 col-xl-3">
                <div class="content text-center">
                    <div class="ws-100 hs-100 bg-secondary text-on-secondary mx-auto d-flex align-items-center justify-content-center fs-base-p18 rounded-circle">
                        <i class="fa-duotone fa-gift"></i>
                    </div>
                    <h3 class="fsr-3 fw-700 text-strong mt-40 mb-0">
                        Lorem Ipsum
                    </h3>
                    <p class="fsr-6 mt-10 mb-30">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <!-- Column end -->
        </div>
        <!-- Row end -->
    </div>
</section>
<!-- Attend an event section end -->
{% endblock content %}