<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<button id="connect-wallet">Conect Wallet</button>
	<form>
		{{ nft_checkout_form.as_p }}
		<button type="submit" id="submit-btn">Continue</button>
	</form>
	<script type="text/javascript">
		localStorage.clear();
		const testData = [
			{
				"id": 1,
				"name": "tier_1",
				"quantity": 1,
				"guests": 1
			},
			{
				"id": 2,
				"name": "tier_2",
				"quantity": 1,
				"guests": 0
			},
		]
		window.localStorage.setItem("nft_tt_data", JSON.stringify(testData));
		let data = window.localStorage.getItem("nft_tt_data");
		document.getElementById("id_ticket_tier_data").value = data;
	</script>
</body>
</html>