{% extends "checkout/base.html" %}
{% load static i18n %}

{% block head_title %}{{ object.event.title }} - {% if organizer_team.whitelabel.brand_name %}{{ organizer_team.whitelabel.brand_name }}{% else %}SocialPass{% endif %}{% endblock head_title %}

{% block content %}
<div class="card border-0 rounded-4 shadow-sm overflow-hidden my-3 my-sm-4">
	<!-- Cover image start -->
	<div class="position-relative overflow-hidden d-flex align-items-center justify-content-center specific-h-250">
		<img src="{{ object.event.cover_image_url }}" alt="{{ object.event.title }} background image" class="position-absolute top-50 start-50 translate-middle opacity-50" style="width: 200%; height: auto; filter: blur(1.5rem);">
		<img src="{{ object.event.cover_image_url }}" class="img-fluid position-relative z-1" alt="{{ object.event.title }} cover image">
		<div class="position-absolute top-0 start-0 z-1 text-white w-100 h-100 d-flex flex-column justify-content-start p-3 p-sm-4" style="background-image: linear-gradient(transparent, black);">
			<div>
				<a href="{% url 'checkout:checkout_one' object.event.team.slug object.event.slug %}?name={{ object.name }}&email={{ object.email }}" class="btn btn-secondary rounded-pill w-auto">
					<i class="fa-light fa-arrow-left me-1"></i>
					{% trans "Go Back" %}
				</a>
			</div>
			<h2 class="mt-auto mb-0">{{ object.event.title }}</h2>
			<h6 class="m-0">{% trans "By" %} {{ object.event.team.name }}</h6>
		</div>
	</div>
	<!-- Cover image start -->

	<!-- Checkout start -->
	<div class="p-3 p-sm-4 mt-3">
		<div class="container-fluid overflow-hidden">
			<div class="row g-3">
				<div class="col-lg-7 mx-auto">
					<h1 class="text-body-emphasis display-6 m-0 text-break">
						{% trans "Complete Checkout" %}
					</h1>
					<p class="mt-2">
						{% trans "Please complete the payment to get your ticket(s)." %}
					</p>
					<div class="bg-secondary-subtle p-3 border border-secondary border-opacity-25" style="border-style: dotted !important;">
						<div class="d-flex align-items-center">
							<h6 class="m-0">{% trans "Summary" %}</h6>
							<div class="ms-auto">
								<a href="{% url 'checkout:checkout_one' object.event.team.slug object.event.slug %}?name={{ object.name }}&email={{ object.email }}">{% trans "Edit" %}</a>
							</div>
						</div>
						{% for item in checkout_items %}
							<!-- Order item start -->
							<div class="pt-3 mt-3 border-top">
								<h6 class="m-0 d-flex align-items-center">
									<span>{{ item.ticket_tier.name }}</span>
									<span class="ms-auto ps-1 fw-normal">
										&times; {{ item.quantity }}
									</span>
								</h6>
								<div>
									{% trans "Price" %} &times; 1 &mdash;
									{{ object.event.currency_symbol }}
									{{ item.ticket_tier.price_per_ticket  }}
								</div>
								<div class="mt-1 text-body-secondary" style="font-size: var(--bs-font-size-sm);">
									{% trans "Allowed Guest(s):" %}
									{{ item.extra_party }}
								</div>
							</div>
							<!-- Order item end -->
						{% endfor %}
					</div>
					<div class="bg-primary-subtle p-3 border border-secondary border-opacity-25" style="border-style: dotted !important;">
						<strong>{% trans "Total Price" %}</strong>
						&mdash;
						{{ object.event.currency_symbol }}{{ object.total_price }}
					</div>
					<h6 class="mt-4 mb-0">
						{% trans "Confirm Order" %}
					</h6>
					<p class="mt-1">
						<i class="fa-light fa-lock me-1"></i> {% trans "Payment secured by" %} <strong>Stripe</strong>
					</p>
					<hr>
					<form class="checkout-form my-3" method="POST">
						{% csrf_token %}
						<div class="mb-3">
							{% with form.name as input %}
								{% include "forms/input.html" %}
							{% endwith %}
						</div>
						<div class="mb-3">
							{% with form.email as input %}
								{% include "forms/input.html" %}
							{% endwith %}
						</div>
						<button
							type="submit"
							class="btn btn-primary btn-lg d-block w-100"
							onclick="post(event)"
						>
							<i class="fa-brands fa-stripe-s me-1"></i>
							{% trans "Continue on" %} Stripe
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Checkout end -->
</div>
{% endblock content %}

{% block extra_body %}
<script src="{% static 'js/dist/bundle.js' %}"></script>
<script>
	const message = `{{object.tx_asset_ownership.unsigned_message}}`
</script>
{% endblock extra_body %}