{% extends "checkout/base.html" %}
{% load static get_theme_value %}

{% block head_title %}{{ object.event.title }} - {% get_theme_value "brand_name" %}{% endblock head_title %}

{% block content %}
<!-- Header start -->
<div class="w-100 hs-200 position-relative">
	<!-- Event cover image start -->
	<div class="d-flex align-items-center justify-content-center w-100 h-100 bg-gray-very-light-lm bg-darkgray-very-dim-dm overflow-hidden pe-none">
		<img src="{{ object.event.cover_image.url }}" class="w-100 h-auto" alt="Cover image">
	</div>
	<!-- Event cover image end -->

	<!-- Back button start -->
	<div class="position-absolute z-1 bottom-0 start-0 px-content py-20">
		<a href="{% url 'discovery:checkout_one' object.event.id object.event.slug %}" class="btn btn-rounded ps-5 d-flex align-items-center">
			<div class="ws-25 hs-25 bg-secondary text-on-secondary rounded-circle d-flex align-items-center justify-content-center">
				<i class="fa-regular fa-arrow-left"></i>
			</div>
			<strong class="text-strong antialiased ms-10">Go Back</strong>
		</a>
	</div>
	<!-- Back button end -->
</div>
<!-- Header end -->

<!-- Event and team name start -->
<div class="px-content pt-20">
	<p class="text-muted mt-5 mb-0">
		By {{ object.event.organizer }}
	</p>
	<h2 class="text-strong fs-base-p2 fw-700 m-0">
		{{ object.event.title }}
	</h2>
</div>
<!-- Event and team name end -->

<!-- Payment content start -->
<div class="row">
	<!-- Information section start -->
	<div class="col-md-7">
		<div class="content mt-20 mb-0 me-md-0">
			<h1 class="text-strong fw-700 fsr-4 m-0">
				Complete Checkout
			</h1>
			{% if object.tx_type == "FREE" %}
				<p class="mt-10">
					You are about to checkout with FREE ticket(s) only. Please take note of the following:
				</p>
				<ul class="unordered-list">
					<li>
						FREE tickets require no payment/verfication. The only constraint is the	availability at checkout.
					</li>
					<li>
						Due to the above point, event organizers <em>may</em> give less priority to free tickets in the case of capacity issues.
					</li>
				</ul>
				<p>
					If all of that sounds good, please click on the <strong>Continue</strong> button to get your ticket(s).
				</p>
			{% elif object.tx_type == "ASSET_OWNERSHIP" %}
				<p class="mt-10">
					Please select from one of the checkout options below.
				</p>
				<h6 class="fw-700 fsr-6 mt-20">
					Checkout Options
				</h6>
				<div class="alert alert-primary text-base pe-none user-select-none" role="alert">
					<h6 class="alert-heading fw-700 m-0">
						<i class="fa-light fa-check-square text-primary me-5"></i>
						Proof of NFT ownership
					</h6>
					<p class="mt-5 mb-0">
						Select from the Crypto wallet options below.
					</p>
				</div>

				<!-- Connect wallet button start -->
				<button type="button" class="btn btn-lg btn-block p-15 text-base text-start d-flex align-items-center my-20">
					<i class="fa-light fa-wallet text-primary fs-base-p16 flex-shrink-0 ws-50"></i>
					<div>
						<div class="fw-700 antialiased fs-base-p4">Connect Wallet</div>
						<div class="fs-base-n2 text-muted">Click to connect your crypto wallet</div>
					</div>
				</button>
				<!-- Connect wallet button end -->

				<p class="fs-base-n2 text-muted d-flex">
					<i class="fa-light fa-info-circle me-10 mt-5 flex-shrink-0"></i>
					Please note, you only need to prove the ownership of the required digital asset(s). This is not a trade, but only a verification.
				</p>
			{% endif %}
		</div>
	</div>
	<!-- Information section end -->

	<!-- Order summary start -->
	<div class="col-md-5">
		<div class="px-content pt-md-20 position-md-sticky top-0 start-0">
			<div class="bg-gray-very-light-lm bg-darkgray-very-dim-dm px-15 py-20 border border-dotted">
				<div class="d-flex align-items-center mb-10">
					<h6 class="fw-700 fsr-6 m-0">
						Summary
					</h6>

					<!-- Edit button start -->
					<div class="ms-auto">
						<a href="{% url 'discovery:checkout_one' object.event.id object.event.slug %}" class="fw-bold antialiased">Edit</a>
					</div>
					<!-- Edit button end -->
				</div>
				{% for item in checkout_items %}
					<!-- Order item start -->
					<div class="pt-10 border-top">
						<h6 class="fw-700 m-0 fs-base d-flex align-items-center">
							<span>{{ item.ticket_tier.ticket_type }}</span>
							<span class="ms-auto ps-10 fw-normal">
								&times; {{ item.quantity }}
							</span>
						</h6>
						<div class="fs-base-n2 mt-5 text-muted">
							Allowed Guest(s): 
							{{ item.ticket_tier.allowed_guests }}
						</div>
					</div>
					<!-- Order item end -->
				{% endfor %}
			</div>
			<form class="checkout-form mt-40 mb-20">
				{% csrf_token %}
				{% with form.name as input %}
					{% include 'components/forms_inputs/input.html' %}
				{% endwith %}
				{% with form.email as input %}
					{% include 'components/forms_inputs/input.html' %}
				{% endwith %}
				<button type="submit" class="btn btn-secondary btn-lg fsr-6 btn-block mt-15">
					<strong class="antialiased">Get Tickets</strong>
				</button>
			</form>
			<hr />
			<p class="text-muted fs-base-n2">
				If you need help placing your order, please
				<a href="#" data-hm-toggle="modal" data-hm-target="discord-support-ticket-modal" class="fw-bold"
				>contact us</a>
				and let us know
			</p>
		</div>
	</div>
	<!-- Order summary end -->
</div>
<!-- Payment content end -->
{% endblock content %}

{% block extra_body %}
<script type="text/javascript">
	if (document.getElementById("desc-cont").scrollHeight > document.getElementById("desc-cont").clientHeight) {
		document.getElementById("desc-read").classList.remove("d-none");
	}
</script>
{% endblock extra_body %}