{% extends "checkout/base.html" %}
{% load static get_theme_value %}

{% block head_title %}{{ object.event.title }} - {% get_theme_value "brand_name" %}{% endblock head_title %}

{% block content %}
<!-- Header start -->
<div class="w-100 hs-200 position-relative">
	<!-- Event cover image start -->
	<div class="d-flex align-items-center justify-content-center w-100 h-100 bg-gray-very-light-lm bg-darkgray-very-dim-dm overflow-hidden pe-none">
		<img src="{{ object.event.cover_image.url }}" class="w-100 h-auto" alt="Cover image">
	</div>
	<!-- Event cover image end -->

	<!-- Back button start -->
	<div class="position-absolute z-1 bottom-0 start-0 px-content py-20">
		<a href="{% url 'checkout:checkout_one' object.event.slug %}?name={{ object.name }}&email={{ object.email }}" class="btn btn-rounded ps-5 d-flex align-items-center">
			<div class="ws-25 hs-25 bg-secondary text-on-secondary rounded-circle d-flex align-items-center justify-content-center">
				<i class="fa-regular fa-arrow-left"></i>
			</div>
			<strong class="text-strong antialiased ms-10">Go Back</strong>
		</a>
	</div>
	<!-- Back button end -->
</div>
<!-- Header end -->

<!-- Event and team name start -->
<div class="row">
	<div class="col-md-8 mx-auto">
		<div class="px-content pt-20">
			<p class="text-muted mt-5 mb-0">
				By {{ object.event.team.name }}
			</p>
			<h2 class="text-strong fs-base-p2 fw-700 m-0">
				{{ object.event.title }}
			</h2>
		</div>
	</div>
</div>
<!-- Event and team name end -->

<!-- Messages start -->
<div class="px-content">
	{% include "checkout/messages.html" %}
</div>
<!-- Messages end -->

<!-- Payment content start -->
<div class="row">
	<div class="col-md-8 mx-auto">
		<div class="content mt-20 mb-0 me-md-0">
			<h1 class="text-strong fw-700 fsr-4 m-0">
				Complete Checkout
			</h1>
			<p class="mt-5 fs-base-n2">
				Please complete the payment to get your ticket(s)
			</p>
			<div class="bg-gray-very-light-lm bg-darkgray-very-dim-dm p-20 pb-0 border border-dotted">
				<div class="d-flex align-items-center mb-10">
					<h6 class="fw-700 fsr-6 m-0">
						Summary
					</h6>

					<!-- Edit button start -->
					<div class="ms-auto">
						<a href="{% url 'checkout:checkout_one' object.event.slug %}?name={{ object.name }}&email={{ object.email }}" class="fw-bold antialiased">Edit</a>
					</div>
					<!-- Edit button end -->
				</div>
				{% for item in checkout_items %}
					<!-- Order item start -->
					<div class="py-15 border-top">
						<h6 class="fw-700 m-0 fs-base d-flex align-items-center">
							<span>{{ item.ticket_tier.ticket_type }}</span>
							<span class="ms-auto ps-10 fw-normal">
								&times; {{ item.quantity }}
							</span>
						</h6>
						<div>
							Price &times; 1 &mdash; {{ object.event.currency_symbol }}{{ item.ticket_tier.tier_fiat.price_per_ticket  }}
						</div>
						<div class="fs-base-n2 mt-5 text-muted">
							Allowed Guest(s):
							{{ item.extra_party }}
						</div>
					</div>
					<!-- Order item end -->
				{% endfor %}
			</div>
			<div class="bg-primary-very-light-lm bg-primary-very-dim-dm p-20 border border-dotted border-top-0">
				<strong>Total Price</strong>
				&mdash;
				{{ object.event.currency_symbol }}{{ object.total_price }}
			</div>
			<h6 class="fw-700 fsr-6 mt-40 mb-0">
				Confirm Order
			</h6>
			<p class="mt-5 fs-base-n2">
				<i class="fa-light fa-lock me-5"></i> Payment secured by <strong>Stripe</strong>
			</p>
			<form class="checkout-form my-20" method="POST">
				{% csrf_token %}
				{% with form.name as input %}
					{% include 'components/forms_inputs/input.html' %}
				{% endwith %}
				{% with form.email as input %}
					{% include 'components/forms_inputs/input.html' %}
				{% endwith %}
				<button
					type="submit"
					class="btn btn-primary btn-lg fs-base btn-block"
					style="
						--button-primary-bg-color: #5433ff;
						--button-primary-bg-color-hover: #5433ff;
						--button-primary-bg-color-active: #5433ff;
						--button-primary-text-color: #fff;
						--button-primary-text-color-hover: #fff;
						--button-primary-text-color-active: #fff;
					"
					onclick="post(event)"
				>
					<i class="fa-brands fa-stripe-s me-5"></i>
					Continue on Stripe
				</button>
			</form>
			<p class="text-muted fs-base-n2">
				If you need help placing your order, please
				<a href="#" data-hm-toggle="modal" data-hm-target="discord-support-ticket-modal" class="fw-bold"
				>contact us</a>
				and let us know
			</p>
		</div>
	</div>
</div>
<!-- Payment content end -->
{% endblock content %}

{% block extra_body %}
<script type="text/javascript">
	function post(event) {
		event.target.classList.add("disabled");
		event.target.innerHTML = [
	        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`,
	        `<span class="ms-5">Processing...</span>`,
		].join("");
	}
</script>
{% endblock extra_body %}