{% extends "checkout/base.html" %}
{% load static get_theme_value %}

{% block head_title %}{{ event.title }} - {% get_theme_value "brand_name" %}{% endblock head_title %}

{% block content %}
<!-- Header start -->
<div class="w-100 hs-200 position-relative">
	<!-- Event cover image start -->
	<div class="d-flex align-items-center justify-content-center w-100 h-100 bg-gray-very-light-lm bg-darkgray-very-dim-dm overflow-hidden pe-none">
		<img src="{{ event.cover_image.url }}" class="w-100 h-auto" alt="Cover image">
	</div>
	<!-- Event cover image end -->

	<!-- Team image start -->
	<div class="position-absolute z-1 top-100 start-50 translate-middle px-content">
		<div class="ws-75 hs-75 rounded-circle border border-5 border-blend d-flex align-items-center justify-content-center overflow-hidden">
			<img src="{{ event.team.image.url }}" class="d-block w-100 h-auto" alt="Team image">
		</div>
	</div>
	<!-- Team image end -->
</div>
<!-- Header end -->

<!-- Team name start -->
<div class="px-content pt-40 text-center">
	<p class="text-muted mt-5 mb-0">
		Hosted By
	</p>
	<h6 class="text-strong fs-base fw-700 m-0">
		{{ event.team.name }}
		{% if event.team.is_verified %}<i class="fa-solid fa-badge-check text-primary ms-5"></i>{% endif %}
	</h6>
</div>
<!-- Team name end -->

<div class="row">
	<!-- Title and description start -->
	<div class="col-md-7">
		<div class="content mt-20 mb-0">
			<h1 class="text-strong fw-700 display-6 m-0 text-break">{{ event.title }}</h1>
			<div id="desc-cont" class="my-20 overflow-hidden position-relative max-h-250">
				{{ event.description_html | safe }}
				<div id="desc-read" class="d-none position-absolute bottom-0 start-0 w-100 text-center pb-10">
					<button 
						type="button"
						class="btn btn-rounded"
						onclick="(function(){
							document.getElementById('desc-cont').classList.remove('overflow-hidden');
							document.getElementById('desc-cont').classList.remove('max-h-250');
							document.getElementById('desc-read').classList.add('d-none');
							return false;
						})();return false;"
					>
						Read More
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Title and description end -->

	<!-- Date and location start -->
	<div class="col-md-5">
		<div class="content pt-10 pt-md-30 my-0 position-md-sticky top-0 start-0">
			<div class="d-flex align-items-center">
				<div class="ws-25 flex-shrink-0">
					<i class="fa-light fa-calendars"></i>
				</div>
				<div class="fw-bold">
					Date &mdash; {{ event.timezone }}
				</div>
			</div>
			<p class="text-muted mt-5 mb-0">
				<strong class="text-base">Start:</strong> {{ event.start_date }}
			</p>
			{% if event.end_date %}
				<p class="text-muted mt-5 mb-0">
					<strong class="text-base">End:</strong> {{ event.end_date }}
				</p>
			{% endif %}
			<div class="d-flex align-items-center mt-15">
				<div class="ws-25 flex-shrink-0">
					<i class="fa-light fa-location-dot"></i>
				</div>
				<div class="fw-bold">Location</div>
			</div>
			<p class="text-muted mt-5 mb-0">
				{{ event.localized_address_display }}
			</p>
		</div>
	</div>
	<!-- Date and location end -->

	<!-- Alerts start -->
	<div class="col-12">
		<div class="content mb-0">
			{% if availability.free or availability.fiat or availability.blockchain or availability.asset_ownership %}
				<div class="alert alert-primary m-0 text-primary-dim-lm px-20 py-10 fw-bold rounded-2 d-flex align-items-center" role="alert">
					<i class="fa-regular fa-check me-15"></i>
					<p class="m-0">
						Tickets available! Please select the tickets you want to purchase.
					</p>
				</div>
			{% else %}
				<div class="alert alert-danger m-0 text-danger-dim-lm px-20 py-10 fw-bold rounded-2 d-flex align-items-center" role="alert">
					<i class="fa-regular fa-times me-15"></i>
					<p class="m-0">
						Sorry! Tickets are not available for this event.
					</p>
				</div>
			{% endif %}
		</div>
	</div>
	<!-- Alerts end -->

	<!-- Checkout type selector start -->
	{% if tier_types_count > 1 %}
		<div class="col-12" id="checkout-type-selector">
			<div class="content mb-0">
				<div class="btn-group d-flex" role="group" aria-label="Checkout type selector">
					{% if tiers_free|length > 0 %}
						<a href="{% url 'discovery:checkout_one' event.id event.slug 'free' %}#checkout-type-selector" class="btn btn-lg fw-bold antialiased fs-base {% if checkout_type == 'free' %}btn-primary{% endif %}">
							<i class="fa-light fa-party-horn me-5"></i> Free
						</a>
					{% endif %}
					{% if tiers_asset_ownership|length > 0 %}
						<a href="{% url 'discovery:checkout_one' event.id event.slug 'nft' %}#checkout-type-selector" class="btn btn-lg fw-bold antialiased fs-base {% if checkout_type == 'nft' %}btn-primary{% endif %}">
							<i class="fa-light fa-hexagon-image me-5"></i> NFTs
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	<!-- Checkout type selector end -->
</div>

<div class="row">
	<!-- Ticket tiers start -->
	<div class="col-md-7">
		<div class="content me-md-0">
			{% for tier in tiers_active %}
				<div class="ticket-tier mb-20">
					<input
						id="{{ tier.public_id }}"
						{% if tier.capacity <= tier.quantity_sold %}disabled{% endif %}
						type="checkbox"
						class="ticket-tier-input"
						data-max-per-person="{{ tier.max_per_person }}"
						data-availability="{{ tier.availability }}"
						data-amount="0"
						data-extra-party="0"
						data-allowed-guests="{{ tier.allowed_guests }}"
						onchange="tierOnchange(this)"
					>
					<label for="{{ tier.public_id }}" class="ticket-tier-label">
						<div class="d-sm-flex align-items-center">
							<div class='pe-sm-15'>
								<h6 class='fw-700 m-0 fs-base'>
									{% if tier.availability > 0 %}
										<span class='ticket-tier-uncheck'>
											<i class='fa-light fa-square'></i>
										</span>
										<span class='ticket-tier-check'>
											<i class='fa-light fa-check-square'></i>
										</span>
									{% endif %}
									{{ tier.ticket_type }}
									{% if tier.allowed_guests > 0 %}
										<span class="fw-400 fs-base-n2">
											| + {{ tier.allowed_guests }} Guest(s) Allowed
										</span>
									{% endif %}
								</h6>
								<p class='m-0 fs-base-n2'>
									{% if tier.availability < 1 %}
										<strong class="text-danger">
											<i class="fa-light fa-ban me-5"></i> Sold out!
										</strong>
									{% else %}
										{{ tier.availability }} available
									{% endif %}
								</p>
							</div>
							<div class="ticket-tier-controls ms-auto mt-10 mt-sm-0">
								<div class="input-group input-group-sm input-group-pill ws-100 mx-auto">
									<button class="btn ws-25 px-0" onclick="subtractAmount(this)">-</button>
									<input type="text" class="ticket-tier-amount form-control text-center" readonly value="0">
									<button class="btn ws-25 px-0" onclick="addAmount(this)">+</button>
								</div>
								<div class="text-center fs-12 mt-5">
									Max {{ tier.max_per_person }} per person
								</div>
							</div>
						</div>
						{% if checkout_type == "free" %}
							<div class="border-top mt-10 pt-10 fs-base-n2">
								<div>
									<i class="fa-light fa-info-circle me-5"></i>
									<strong>This is a FREE ticket tier</strong>
								</div>
								<div class="text-muted mt-5">
									You can claim ticket(s) as long as they are available in terms of quantity. First come, first
									served!
								</div>
							</div>
						{% endif %}
						{% if checkout_type == "nft" %}
							<div class="border-top mt-10 pt-10 fs-base-n2">
								<div>Free for all holders of the following:</div>
								<div class="row mt-10">
									<div class="col-6 text-truncate">
										<strong>Blockchain</strong>
										<br />
										{% if tier.tier_asset_ownership.blockchain == "ETH" %}
											<div class="d-flex align-items-center">
												<img
													src="https://ethereum.org/static/a183661dd70e0e5c70689a0ec95ef0ba/13c43/eth-diamond-purple.png"
													alt="Ethereum"
													class="d-block me-5"
													height="16"
												>
												Ethereum
											</div>
										{% else %}
											{{ tier.tier_asset_ownership.blockchain }}
										{% endif %}
									</div>
									<div class="col-6 text-truncate">
										<strong>Network</strong>
										<br />
										{{ tier.tier_asset_ownership.get_network_display }}
									</div>
								</div>
								<div class="row mt-10">
									<div class="col-6 text-truncate">
										<strong>Asset Type</strong>
										<br />
										<i class="fa-light fa-hexagon-image"></i> {{ tier.tier_asset_ownership.asset_type }}
									</div>
									<div class="col-6 text-truncate">
										<strong>Token Address</strong>
										<br />
										{{ tier.tier_asset_ownership.token_address }}
									</div>
								</div>
							</div>
						{% endif %}
						{% if tier.allowed_guests > 0 %}
							<div class="ticket-tier-guest ticket-tier-controls border-top mt-10 pt-10">
								<div class="d-sm-flex align-items-center">
									<div>
										<div class="fw-bold">Extra Guest(s) - Free</div>
										<div class="fs-base-n4 lh-sm">
											Please set the number of guest(s) you want to bring.
										</div>
									</div>
									<div class="ms-auto mt-10 mt-sm-0">
										<div class="input-group input-group-sm input-group-pill ws-100 mx-auto">
											<button class="btn ws-25 px-0" onclick="subtractExtraParty(this)">-</button>
											<input type="text" class="ticket-tier-extra-party form-control text-center" readonly value="0">
											<button class="btn ws-25 px-0" onclick="addExtraParty(this)">+</button>
										</div>
									</div>
								</div>
								<div class="border-top text-end mt-15 pt-10 fs-base-n2">
									<strong>Total:</strong> <span class="ticket-tier-total-selected">1</span> (Quantity + Quantity
									&times; Guests)
								</div>
							</div>
						{% endif %}
					</label>
				</div>
			{% endfor %}
		</div>
	</div>
	<!-- Ticket tiers end -->

	<!-- Form start -->
	<div class="col-md-5">
		<div class="px-content pt-md-30 position-md-sticky top-0 start-0">
			<div class="alert alert-primary text-base fs-base-n4 p-5 mt-0" role="alert">
				<i class="fa-regular fa-info-circle me-5 text-primary"></i>
				We only require your email to deliver your tickets in a secure way. <strong>No account</strong> is created without your consent.
			</div>
			<form class="checkout-form">
				{% csrf_token %}
				{{ form.ticket_tier_data }}
				{% with form.name as input %}
					{% include 'components/forms_inputs/input.html' %}
				{% endwith %}
				{% with form.email as input %}
					{% include 'components/forms_inputs/input.html' %}
				{% endwith %}
				<button type="submit" class="btn btn-secondary btn-lg fsr-6 btn-block mt-15">
					<strong class="antialiased">Get Tickets</strong>
				</button>
			</form>
			<p class="text-muted fs-base-n4">
				You're also agreeing to our
				<a href="#" class="fw-bold mx-5" target="_blank" rel="noreferrer">
					Terms of Use <i class="fa-regular fa-external-link"></i>
				</a>
				by clicking on the above button.
			</p>
		</div>
	</div>
	<!-- Form end -->
</div>
{% endblock content %}

{% block extra_body %}
<script type="text/javascript">
	if (document.getElementById("desc-cont").scrollHeight > document.getElementById("desc-cont").clientHeight) {
		document.getElementById("desc-read").classList.remove("d-none");
	}
</script>
<script src="{% static 'js/TicketSelector.js' %}"></script>
{% endblock extra_body %}