{% extends "checkout/base.html" %}
{% load static get_theme_value %}

{% block head_title %}{{ event.title }} - {% get_theme_value "brand_name" %}{% endblock head_title %}

{% block content %}
{% if is_team_member and not request.GET.view_as_attendee %}
	<div class="alert alert-primary border-0 rounded-0 m-0 text-base text-center fs-base-n2" role="alert">
		You are viewing this page as an organizer.
		<a href="?view_as_attendee=True" class="fw-bold antialiased">View as attendee &rarr;</a>
	</div>
{% endif %}

<!-- Header start -->
<div class="position-relative">
	<!-- Event cover image start -->
	<div class="d-flex align-items-center justify-content-center w-100 bg-gray-very-light-lm bg-darkgray-very-dim-dm overflow-hidden pe-none" style="max-height: 200px;">
		<img src="{{ event.cover_image_url }}" class="w-100 h-auto" alt="Cover image">
	</div>
	<!-- Event cover image end -->

	<!-- Team image start -->
	<div class="position-absolute z-1 top-100 start-50 translate-middle px-content">
		<div class="ws-75 hs-75 rounded-circle border border-5 border-blend d-flex align-items-center justify-content-center overflow-hidden">
			{% if event.team.image %}
				<img src="{{ event.team.image.url }}" class="d-block w-100 h-auto" alt="Team image">
			{% else %}
				<div class="rounded-circle d-flex align-items-center justify-content-center bg-gray-very-light-lm bg-darkgray-very-dim-dm border flex-shrink-0" style="width: 125%; height: 125%;">
					<span class="text-uppercase fs-base-p8 fw-bold">{{ event.team.name|slice:"0:1" }}</span>
				</div>
			{% endif %}
		</div>
	</div>
	<!-- Team image end -->
</div>
<!-- Header end -->

<!-- Team name start -->
<div class="px-content pt-40 text-center">
	<p class="text-muted mt-5 mb-0">
		Hosted By
	</p>
	<h6 class="text-strong fs-base fw-700 m-0">
		{{ event.team.name }}
		{% if event.team.is_verified %}<i class="fa-solid fa-badge-check text-primary ms-5"></i>{% endif %}
		{% if is_team_member and not request.GET.view_as_attendee %}
			<a href="{% url 'dashboard_organizer:team_update' event.team.public_id %}" class="fw-bold antialiased ms-5 text-decoration-none" data-hm-toggle="tooltip" data-hm-title="Edit team information (only you can see this)">
				<i class="fa-light fa-edit"></i>
				<span class="visually-hidden">Edit team information</span>
			</a>
		{% endif %}
	</h6>
</div>
<!-- Team name end -->

<!-- Messages start -->
<div class="px-content">
	{% include "checkout/messages.html" %}
</div>
<!-- Messages end -->

<div class="row">
	<!-- Title and description start -->
	<div class="col-md-7">
		<div class="content mt-20 mb-0">
			{% if is_team_member and not request.GET.view_as_attendee %}
				<div class="mb-10">
					<a href="{% url 'dashboard_organizer:event_update' event.team.public_id event.id %}" class="fw-bold antialiased ms-5 text-decoration-none" data-hm-toggle="tooltip" data-hm-title="Only you can see this">
						<i class="fa-light fa-edit me-5"></i>
						Edit event
					</a>
				</div>
			{% endif %}
			<h1 class="text-strong fw-700 display-6 m-0 text-break">
				{{ event.title }}
			</h1>
			{% if sales_status == "UPCOMING" %}
				<div class="alert alert-primary text-base px-20 py-10 rounded-3 border-dotted" role="alert">
					<i class="fa-light fa-calendars me-5"></i>
					<strong>Ticket Sales Start:</strong>
					<br />
					{{ event.sales_start }} {{ event.timezone }}
					<div class="row border-top pt-10 mt-10">
						<div class="col-6 col-sm-3">
							<div class="h3 lh-1 text-primary m-0" id="days">...</div>days
						</div>
					    <div class="col-6 col-sm-3">
							<div class="h3 lh-1 text-primary m-0" id="hours">...</div>hours
						</div>
					    <div class="col-6 col-sm-3 mt-10 mt-sm-0">
							<div class="h3 lh-1 text-primary m-0" id="mins">...</div>minutes
						</div>
					    <div class="col-6 col-sm-3 mt-10 mt-sm-0">
							<div class="h3 lh-1 text-primary m-0" id="secs">...</div>seconds
						</div>
					</div>
				</div>
			{% endif %}
			<div id="desc-cont" class="my-20 overflow-hidden position-relative max-h-250">
				{{ event.description_html | safe }}
				<div id="desc-read" class="d-none position-absolute bottom-0 start-0 w-100 text-center pb-10">
					<button
						type="button"
						class="btn btn-rounded"
						onclick="(function(){
							document.getElementById('desc-cont').classList.remove('overflow-hidden');
							document.getElementById('desc-cont').classList.remove('max-h-250');
							document.getElementById('desc-read').classList.add('d-none');
							return false;
						})();return false;"
					>
						Read More
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Title and description end -->

	<!-- Date and location start -->
	<div class="col-md-5">
		<div class="content pt-10 pt-md-30 my-0 position-md-sticky top-0 start-0">
			<div class="d-flex align-items-center">
				<div class="ws-25 flex-shrink-0">
					<i class="fa-light fa-calendars"></i>
				</div>
				<div class="fw-bold">
					Date &mdash; {{ event.timezone }}
				</div>
			</div>
			<p class="text-muted mt-5 mb-0">
				<strong class="text-base">Start:</strong> {{ event.start_date }}
			</p>
			{% if event.end_date %}
				<p class="text-muted mt-5 mb-0">
					<strong class="text-base">End:</strong> {{ event.end_date }}
				</p>
			{% endif %}
			<div class="d-flex align-items-center mt-15">
				<div class="ws-25 flex-shrink-0">
					<i class="fa-light fa-location-dot"></i>
				</div>
				<div class="fw-bold">Location</div>
			</div>
			<p class="text-muted mt-5 mb-0">
				{{ event.localized_address_display }}
			</p>
		</div>
	</div>
	<!-- Date and location end -->

	<!-- Alerts start -->
	<div class="col-12">
		<div class="content mb-0">
			{% if availability.FREE or availability.FIAT or availability.BLOCKCHAIN or availability.ASSET_OWNERSHIP %}
				<div class="alert alert-primary m-0 text-primary-dim-lm px-20 py-10 fw-bold rounded-2 d-flex align-items-center" role="alert">
					<i class="fa-regular fa-check me-15"></i>
					<p class="m-0">
						Tickets available! Please select the tickets you want to purchase.
					</p>
				</div>
			{% else %}
				<div class="alert alert-danger m-0 text-danger-dim-lm px-20 py-10 fw-bold rounded-2 d-flex align-items-center" role="alert">
					<i class="fa-regular fa-times me-15"></i>
					<p class="m-0">
						Sorry! Tickets are not available for this event.
					</p>
				</div>
			{% endif %}
		</div>
	</div>
	<!-- Alerts end -->

	<!-- Checkout type selector start -->
	{% if tier_types_count > 1 %}
		<div class="col-12">
			<div class="content mb-0">
				<div class="ticket-tier-group">
					{% if tiers_fiat|length > 0 %}
						<div class="ticket-tier">
							<input
								type="radio"
								class="ticket-tier-input"
								name="payment-type"
								id="FIAT"
								value="FIAT"
								{% if checkout_type == "FIAT" %}checked{% endif %}
								onchange="tierTypeOnchange(this)"
							>
							<label for="FIAT" class="ticket-tier-label">
								<h6 class="fw-700 m-0 fs-base">
									<span class="ticket-tier-uncheck">
										<i class="fa-light fa-money-check-dollar"></i>
									</span>
									<span class="ticket-tier-check">
										<i class="fa-light fa-money-check-dollar"></i>
									</span>
									Fiat
								</h6>
							</label>
						</div>
					{% endif %}
					{% if tiers_asset_ownership|length > 0 %}
						<div class="ticket-tier">
							<input
								type="radio"
								class="ticket-tier-input"
								name="payment-type"
								id="ASSET_OWNERSHIP"
								value="ASSET_OWNERSHIP"
								{% if checkout_type == "ASSET_OWNERSHIP" %}checked{% endif %}
								onchange="tierTypeOnchange(this)"
							>
							<label for="ASSET_OWNERSHIP" class="ticket-tier-label">
								<h6 class="fw-700 m-0 fs-base">
									<span class="ticket-tier-uncheck">
										<i class="fa-light fa-hexagon-image"></i>
									</span>
									<span class="ticket-tier-check">
										<i class="fa-light fa-hexagon-image"></i>
									</span>
									NFTs
								</h6>
							</label>
						</div>
					{% endif %}
					{% if tiers_free|length > 0 %}
						<div class="ticket-tier">
							<input
								type="radio"
								class="ticket-tier-input"
								name="payment-type"
								id="FREE"
								value="FREE"
								{% if checkout_type == "FREE" %}checked{% endif %}
								onchange="tierTypeOnchange(this)"
							>
							<label for="FREE" class="ticket-tier-label">
								<h6 class="fw-700 m-0 fs-base">
									<span class="ticket-tier-uncheck">
										<i class="fa-light fa-party-horn"></i>
									</span>
									<span class="ticket-tier-check">
										<i class="fa-light fa-party-horn"></i>
									</span>
									Free
								</h6>
							</label>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endif %}
	<!-- Checkout type selector end -->
</div>

<div class="row">
	<!-- Ticket tiers start -->
	<div class="col-md-7">
		<div class="content me-md-0">
			<div class="tiers-container {% if checkout_type == 'FREE' %}d-block{% endif %}" id="tiers-FREE">
				{% with tiers_free as tiers %}
					{% include 'checkout/ticket_tiers.html' %}
				{% endwith %}
			</div>
			<div class="tiers-container {% if checkout_type == 'FIAT' %}d-block{% endif %}" id="tiers-FIAT">
				{% with tiers_fiat as tiers %}
					{% include 'checkout/ticket_tiers.html' %}
				{% endwith %}
			</div>
			<div class="tiers-container {% if checkout_type == 'ASSET_OWNERSHIP' %}d-block{% endif %}" id="tiers-ASSET_OWNERSHIP">
				{% with tiers_asset_ownership as tiers %}
					{% include 'checkout/ticket_tiers.html' %}
				{% endwith %}
			</div>
		</div>
	</div>
	<!-- Ticket tiers end -->

	<!-- Form start -->
	<div class="col-md-5">
		<div class="px-content pt-md-30 position-md-sticky top-0 start-0">
			<div class="alert alert-primary text-base fs-base-n4 p-5 mt-0" role="alert">
				<i class="fa-regular fa-info-circle me-5 text-primary"></i>
				We only require your email to deliver your tickets in a secure way. <strong>No account</strong> is created without your consent.
			</div>
			{% if sales_status == "OPEN" %}
				<form class="checkout-form position-relative" method="POST">
					{% csrf_token %}
					{{ form.ticket_tier_data }}
					{{ form.checkout_type }}
					{% with form.name as input %}
						{% include 'components/forms_inputs/input.html' %}
					{% endwith %}
					{% with form.email as input %}
						{% include 'components/forms_inputs/input.html' %}
					{% endwith %}
					<button type="submit" class="btn btn-secondary btn-lg fsr-6 btn-block mt-15" onclick="submitForm(event)" {% if event.state != "LIVE" %}disabled{% endif %}>
						<strong class="antialiased">Get Tickets</strong>
					</button>
				</form>
			{% else %}
				<!-- Not a form, can't be submitted -->
				<div class="checkout-form position-relative">
					{{ form.ticket_tier_data }}
					{{ form.checkout_type }}
					{% with form.name as input %}
						{% include 'components/forms_inputs/input.html' %}
					{% endwith %}
					{% with form.email as input %}
						{% include 'components/forms_inputs/input.html' %}
					{% endwith %}
					<button type="button" class="btn btn-secondary btn-lg fsr-6 btn-block mt-15" disabled>
						<strong class="antialiased">Ticket Sales Not Open</strong>
					</button>
				</div>
			{% endif %}
			<div class="text-danger fw-bold fs-base-n2 mt-10 lh-sm d-none" role="alert" id="ticket-tier-error-message">
				Please select at least one ticket tier to continue.
			</div>
			<p>
				<strong>Total Price</strong>
				&mdash;
				<span id="total-price" data-fiat-currency="{{ event.currency_symbol }}">N/A</span>
			</p>
			<hr />
			<p class="text-muted fs-base-n4">
				You're also agreeing to our
				<a href="#" class="fw-bold" target="_blank" rel="noreferrer">
					Terms of Use <i class="fa-regular fa-external-link"></i>
				</a>
				by clicking on the above button.
			</p>
		</div>
	</div>
	<!-- Form end -->
</div>
{% endblock content %}

{% block extra_body %}
<script type="text/javascript">
	if (document.getElementById("desc-cont").scrollHeight > document.getElementById("desc-cont").clientHeight) {
		document.getElementById("desc-read").classList.remove("d-none");
	}
</script>
<script src="{% static 'js/TicketSelector.js' %}"></script>
{% if sales_status == "UPCOMING" %}
<script>
	// The data/time we want to countdown to
    var countDownDate = new Date("{{ sales_start_with_tzinfo.isoformat }}").getTime();

	// Run countdownIntervalFunc every second
    var countdownIntervalFunc = setInterval(function() {
		var now = new Date().getTime();
    	var timeleft = countDownDate - now;

	    // Calculating the days, hours, minutes and seconds left
	    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
	    var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
	    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

	    // Result is output to the specific element
	   	document.getElementById("days").innerHTML = `${days}`;
		document.getElementById("hours").innerHTML = `${hours}`;
		document.getElementById("mins").innerHTML = `${minutes}`;
		document.getElementById("secs").innerHTML = `${seconds}`;

	    // Countdown is over
	    if (timeleft < 0) {
	    	// Clear interval
	        clearInterval(countdownIntervalFunc);

	        // Reset UI
			// TODO: Hide countdown timer, play confetti, refresh page
		    document.getElementById("days").innerHTML = "";
		    document.getElementById("hours").innerHTML = "";
		    document.getElementById("mins").innerHTML = "";
		    document.getElementById("secs").innerHTML = "";
		}
    }, 1000);
</script>
{% endif %}
{% endblock extra_body %}