{% extends "checkout/base.html" %}
{% load static i18n %}

{% block head_title %}{{ event.title }} - {% if event.team.whitelabel.brand_name %}{{ event.team.whitelabel.brand_name }}{% else %}SocialPass{% endif %}{% endblock head_title %}

{% block navbar %}
{% if is_team_member %}
	<div class="alert alert-primary border-0 rounded-0 px-3 px-sm-4 m-0 d-md-flex align-items-md-center" role="alert">
		{% trans "You are viewing this page as an organizer." %}
		<div class="d-flex ms-md-auto mt-1 mt-md-0">
			<a href="{% url 'dashboard_organizer:event_update' event.team.slug event.pk %}">{% trans "Edit Event" %}</a>
			{% if event.state == event.StateStatus.LIVE %}
			<span class="vr mx-2"></span>
			<a href="?view_as_attendee=True">{% trans "View as Attendee" %}<i class="fa-light fa-arrow-right ms-1"></i></a>
			{% endif %}
		</div>
	</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="card border-0 rounded-4 shadow-sm overflow-hidden my-3 my-sm-4">
	<!-- Cover image start -->
	<div class="position-relative overflow-hidden d-flex align-items-center justify-content-center h-auto">
		<img src="{{ event.cover_image_url }}" alt="{{ event.title }} background image" class="position-absolute top-50 start-50 translate-middle opacity-50" style="width: 200%; height: auto; filter: blur(1.5rem);">
		<img src="{{ event.cover_image_url }}" class="img-fluid position-relative z-1" alt="{{ event.title }} cover image" style="max-height: 60vh;">
	</div>
	<!-- Cover image start -->

	<!-- Team image and name start -->
	<div class="position-relative z-1" style="margin-top: -37px;">
		<div class="specific-w-75 specific-h-75 rounded-circle border border-5 d-flex align-items-center justify-content-center overflow-hidden mx-auto" style="border-color: var(--bs-content-bg) !important;">
			{% if event.team.image %}
				<img src="{{ event.team.image.url }}" class="d-block w-100 h-auto" alt="Team image">
			{% else %}
				<div class="rounded-circle d-flex align-items-center justify-content-center bg-secondary-subtle flex-shrink-0" style="width: 125%; height: 125%;">
					<span class="text-uppercase fs-3 m-0 lh-1 fw-bold">{{ event.team.name|slice:"0:1" }}</span>
				</div>
			{% endif %}
		</div>
		<h6 class="mt-1 mb-0 text-center">
			<span class="fw-normal">{% trans "Hosted By" %}</span>
			<span class="text-primary-emphasis">{{ event.team.name }}</span>
			{% if event.team.is_verified %}
				<i class="fa-solid fa-badge-check text-primary ms-1"></i>
			{% endif %}
		</h6>
	</div>
	<!-- Team image and name end -->

	<!-- Event name, description, dates, location start -->
	<div class="p-3 p-sm-4 mt-3">
		<div class="container-fluid overflow-hidden">
			<div class="row g-3">
				<div class="col-lg-6">
					<h1 class="text-body-emphasis display-6 m-0 text-break">
						{{ event.title }}
					</h1>
					<div id="desc-cont" class="my-3 overflow-hidden position-relative max-h-200">
						{{ event.description_html | safe }}
						<div id="desc-read" class="d-none position-absolute bottom-0 start-0 w-100 text-center pb-1">
							<button
								type="button"
								class="btn btn-link"
								onclick="(function(){
									document.getElementById('desc-cont').classList.remove('overflow-hidden');
									document.getElementById('desc-cont').classList.remove('max-h-200');
									document.getElementById('desc-read').classList.add('d-none');
									return false;
								})();return false;"
							>
								{% trans "Read More" %}
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6 ps-lg-4">
					<div class="container-fluid overflow-hidden g-0">
						<div class="row g-3">
							<div class="col-sm-6">
								<div class="d-flex align-items-center">
									<div class="specific-w-50 specific-h-50 flex-shrink-0 bg-primary-subtle rounded text-center">
										<div class="bg-primary bg-opacity-25 text-uppercase rounded-top" style="font-size: 10px;">
											{{ event.start_date|date:"b" }}
										</div>
										<div class="text-primary-emphasis fw-bold mt-1">
											{{ event.start_date|date:"d" }}
										</div>
									</div>
									<div class="ms-3">
										<div class="fw-bold">
											{{ event.start_date.date }}
										</div>
										<div class="text-body-secondary">
											{{ event.start_date.time }}
										</div>
									</div>
								</div>
								<div class="mt-2">
									{% if event.end_date %}
										<span class="text-body-secondary"><strong class="text-body">{% trans "End" %}:</strong> {{ event.end_date }}</span>
										<br />
									{% endif %}
									<span class="text-body-secondary">
										<strong class="text-body">{% trans "Timezone" %}:</strong>
										{% if event.timezone %}
											{{ event.timezone }}
										{% else %}
											{% trans "Not set" %}
										{% endif %}
									</span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="d-flex align-items-center position-relative">
									<div class="specific-w-50 specific-h-50 flex-shrink-0 bg-primary-subtle rounded text-center">
										<div class="bg-primary bg-opacity-25 text-uppercase rounded-top" style="font-size: 10px;">{% trans "MAP" %}</div>
										<div class="mt-1 text-primary">
											<i class="fa-solid fa-location-dot"></i>
										</div>
									</div>
									<div class="ms-3">
										{% if not event.hide_address %}
											<div class="fw-bold">
												{{ event.address_1 }}
											</div>
											<div style="font-size: var(--bs-font-size-sm);">
												<a href="https://www.google.com/maps/search/?api=1&query={{ event.localized_address_display }}" class="stretched-link text-decoration-none" target="_blank" rel="noreferrer">
													{% trans "Open in map" %}
													<i class="fa-regular fa-external-link ms-1"></i>
												</a>
											</div>
										{% else %}
											<div class="fw-bold">
												{% trans "Address" %}
											</div>
											<div class="text-body-secondary">
												{% trans "Hidden" %}
											</div>
										{% endif %}
									</div>
								</div>
								<div class="mt-2">
									<span class="text-body-secondary">
										{% if not event.hide_address %}
											{{ event.localized_address_display_without_venue }}
										{% else %}
											{% trans "Address will only be provided to ticket holders." %}
										{% endif %}
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-3">
						{% if sales_status == "OPEN" %}
							<div class="alert alert-primary text-primary-emphasis d-flex align-items-center fw-bold">
								<i class="fa-light fa-check me-3"></i>
								{% trans "Tickets available! Please select the tickets you want to purchase." %}
							</div>
						{% elif sales_status == "UPCOMING" %}
							<div class="alert alert-warning text-warning-emphasis d-flex align-items-center fw-bold">
								<i class="fa-light fa-times me-3"></i>
								{% trans "Stay tuned! Tickets are going live soon. See the timer below." %}
							</div>
						{% elif sales_status == "OVER" %}
							<div class="alert alert-danger text-warning-danger d-flex align-items-center fw-bold">
								<i class="fa-light fa-times me-3"></i>
								{% trans "Sorry! Tickets are not available for this event." %}
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Event name, description, dates, location end -->
</div>

<!-- Countdown timer start -->
{% if sales_status == "UPCOMING" %}
	<div class="card border-0 rounded-4 shadow-sm overflow-hidden my-3 my-sm-4" id="countdown-timer">
		<div class="p-3 p-sm-4">
			<div class="container-fluid overflow-hidden">
				<div class="row g-3 g-sm-4 align-items-center">
					<div class="col-lg-4">
						<div class="d-flex align-items-center">
							<div class="specific-w-25 specific-h-25 flex-shrink-0 d-flex align-items-center justify-content-center bg-primary-subtle rounded">
								<i class="fa-solid fa-clock fs-6 text-primary-emphasis"></i>
							</div>
							<strong class="text-primary-emphasis ms-3">{% trans "Ticket Sales Start" %}</strong>
						</div>
						<div class="mt-2">
							<span class="text-body-secondary">{{ event.sales_start }} {{ event.timezone }}</span>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="container-fluid overflow-hidden g-0">
							<div class="row g-3">
								<div class="col-6 col-sm-3 text-center">
									<div class="h3 lh-1 text-primary-emphasis m-0 rounded bg-primary-subtle px-3 py-2" id="days">...</div>{% trans "days" %}
								</div>
							    <div class="col-6 col-sm-3 text-center">
									<div class="h3 lh-1 text-primary-emphasis m-0 rounded bg-primary-subtle px-3 py-2" id="hours">...</div>{% trans "hours" %}
								</div>
							    <div class="col-6 col-sm-3 text-center">
									<div class="h3 lh-1 text-primary-emphasis m-0 rounded bg-primary-subtle px-3 py-2" id="mins">...</div>{% trans "minutes" %}
								</div>
							    <div class="col-6 col-sm-3 text-center">
									<div class="h3 lh-1 text-primary-emphasis m-0 rounded bg-primary-subtle px-3 py-2" id="secs">...</div>{% trans "seconds" %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card border-0 rounded-4 shadow-sm overflow-hidden my-3 my-sm-4 d-none" id="ticket-sales-has-started">
		<div class="p-3 p-sm-4">
			<div class="d-flex align-items-center justify-content-center">
				<div class="specific-w-25 specific-h-25 flex-shrink-0 d-flex align-items-center justify-content-center bg-primary-subtle rounded">
					<i class="fa-solid fa-party-horn fs-6 text-primary-emphasis"></i>
				</div>
				<strong class="text-primary-emphasis ms-3">{% trans "Ticket Sales Has Started!" %}</strong>
			</div>
			<div class="mt-2 text-center">
				<span class="text-body-secondary">
					<i class="fa-light fa-circle-notch fa-spin me-1"></i>
					{% trans "Re-loading page automatically" %}...
				</span>
			</div>
		</div>
	</div>
{% endif %}
<!-- Countdown timer end -->

<!-- Tickets and form start -->
<div class="container-fluid g-0 my-3 my-sm-4">
	<div class="row g-3 g-sm-4">
		<!-- Ticket tiers start -->
		<div class="col-lg-7">
			{% if event.waiting_queue_enabled %}
				<div class="alert alert-primary text-primary-emphasis d-flex align-items-center fw-bold">
					<i class="fa-light fa-hourglass-clock me-3"></i>
					{% trans "Please note, you are joining the waiting queue for this event. You'll only get tickets if the organizer decides to bump you up to the attendee list." %}
				</div>
			{% endif %}
			<!-- Type selectors start -->
				<div class="ticket-tier-group mb-3">
						<div class="ticket-tier">
							<input
								type="radio"
								class="ticket-tier-input"
								name="payment-type"
								id="FIAT"
								value="FIAT"
								{% if event.ticket_tier_counts.fiat_count == 0 %}disabled="true"{% endif %}
								{% if checkout_type == "FIAT" %}checked{% endif %}
								onchange="tierTypeOnchange(this)"
							>
							<label for="FIAT" class="ticket-tier-label">
								<h6 class="m-0">
									<i class="fa-solid fa-money-check-dollar me-1 opacity-75"></i> {% trans "Paid" %}
								</h6>
							</label>
						</div>
						<div class="ticket-tier">
							<input
								type="radio"
								class="ticket-tier-input"
								name="payment-type"
								id="ASSET_OWNERSHIP"
								value="ASSET_OWNERSHIP"
								{% if event.ticket_tier_counts.asset_ownership_count == 0 %}disabled="true"{% endif %}
								{% if checkout_type == "ASSET_OWNERSHIP" %}checked{% endif %}
								onchange="tierTypeOnchange(this)"
							>
							<label for="ASSET_OWNERSHIP" class="ticket-tier-label">
								<h6 class="m-0">
									<i class="fa-solid fa-hexagon-image me-1 opacity-75"></i> {% trans "NFT" %}
								</h6>
							</label>
						</div>
						<div class="ticket-tier">
							<input
								type="radio"
								class="ticket-tier-input"
								name="payment-type"
								id="FREE"
								value="FREE"
								{% if event.ticket_tier_counts.free_count == 0 %}disabled="true"{% endif %}
								{% if checkout_type == "FREE" %}checked{% endif %}
								onchange="tierTypeOnchange(this)"
							>
							<label for="FREE" class="ticket-tier-label">
								<h6 class="m-0">
									<i class="fa-solid fa-party-horn me-1 opacity-75"></i> {% trans "Free" %}
								</h6>
							</label>
						</div>
				</div>
			<!-- Type selectors end -->

			<!-- Ticket tiers start -->
			{% with event.tickettier_set.all as tiers %}
			<div class="tiers-container {% if checkout_type == 'FREE' %}d-block{% endif %}" id="tiers-FREE">
				{% with "tiers-FREE" as tier_type %}
					{% include 'checkout/ticket_tiers.html' %}
				{% endwith %}
			</div>
			<div class="tiers-container {% if checkout_type == 'FIAT' %}d-block{% endif %}" id="tiers-FIAT">
				{% with "tiers-FIAT" as tier_type %}
					{% include 'checkout/ticket_tiers.html' %}
				{% endwith %}
			</div>
			<div class="tiers-container {% if checkout_type == 'ASSET_OWNERSHIP' %}d-block{% endif %}" id="tiers-ASSET_OWNERSHIP">
				{% with "tiers-ASSET_OWNERSHIP" as tier_type %}
					{% include 'checkout/ticket_tiers.html' %}
				{% endwith %}
			</div>
			{% endwith %}
			<!-- Ticket tiers start -->
		</div>
		<!-- Ticket tiers end -->

		<!-- Form start -->
		<div class="col-lg-5">
			<div class="card border-0 rounded-4 shadow-sm overflow-hidden">
				<div class="card-body">
					{% if sales_status == "OPEN" and event.state == "LIVE" %}
						<form class="position-relative" method="POST">
							{% csrf_token %}
							{{ form.ticket_tier_data }}
							{{ form.checkout_type }}
							<div class="mb-3">
								{% with form.name as input %}
									{% include "forms/input.html" %}
								{% endwith %}
							</div>
							<div class="mb-3">
								{% with form.email as input %}
									{% include "forms/input.html" %}
								{% endwith %}
							</div>
							<button type="submit" class="btn btn-info btn-lg d-block w-100" onclick="submitForm(event)" {% if event.state != "LIVE" %}disabled{% endif %}>
								{% if not event.waiting_queue_enabled %}
									{% trans "Get Tickets" %}
								{% else %}
									{% trans "Join Waiting Queue" %}
								{% endif %}
							</button>
						</form>
					{% else %}
						<!-- Not a form, can't be submitted -->
						<div class="position-relative">
							{{ form.ticket_tier_data }}
							{{ form.checkout_type }}
							<div class="mb-3">
								{% with form.name as input %}
									{% include "forms/input.html" %}
								{% endwith %}
							</div>
							<div class="mb-3">
								{% with form.email as input %}
									{% include "forms/input.html" %}
								{% endwith %}
							</div>
							<button type="button" class="btn btn-info btn-lg d-block w-100" disabled>
								{% trans "Ticket Sales Not Open" %}
							</button>
						</div>
					{% endif %}
					<div class="text-danger-emphasis fw-bold mt-2 d-none" role="alert" id="ticket-tier-error-message">
						{% trans "Please select at least one ticket tier to continue." %}
					</div>
					<p class="mt-3">
						<strong>{% trans "Total Price" %}</strong>
						&mdash;
						<span id="total-price" data-fiat-currency="{{ event.currency_symbol }}">{% trans "N/A" %}</span>
					</p>
					<hr />
					<p class="text-body-secondary mb-0" style="font-size: var(--bs-font-size-sm);">
						{% trans "By clicking on the above button, you're also agreeing to our" %} <a href="{% static 'legal/terms-of-use.pdf' %}" class="fw-bold" target="_blank" rel="noreferrer">{% trans "Terms of Use" %}<i class="fa-light fa-external-link mx-1"></i></a>
					</p>
				</div>
			</div>
		</div>
		<!-- Form end -->
	</div>
</div>
<!-- Tickets and form end -->
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
	if (document.getElementById("desc-cont").scrollHeight > document.getElementById("desc-cont").clientHeight) {
		document.getElementById("desc-read").classList.remove("d-none");
	}
</script>
<script src="{% static 'js/TicketSelector.js' %}"></script>
{% if sales_status == "UPCOMING" %}
	<script>
		// The data/time we want to countdown to
	    var countDownDate = new Date("{{ sales_start_with_tzinfo.isoformat }}").getTime();

		// Run countdownIntervalFunc every second
	    var countdownIntervalFunc = setInterval(function() {
			var now = new Date().getTime();
	    	var timeleft = countDownDate - now;

		    // Calculating the days, hours, minutes and seconds left
		    var days = Math.floor(timeleft / (1000 * 60 * 60 * 24));
		    var hours = Math.floor((timeleft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		    var minutes = Math.floor((timeleft % (1000 * 60 * 60)) / (1000 * 60));
		    var seconds = Math.floor((timeleft % (1000 * 60)) / 1000);

		    // Result is output to the specific element
		   	document.getElementById("days").innerHTML = `${days}`;
			document.getElementById("hours").innerHTML = `${hours}`;
			document.getElementById("mins").innerHTML = `${minutes}`;
			document.getElementById("secs").innerHTML = `${seconds}`;

		    // Countdown is over
		    if (timeleft < 0) {
		    	// Clear interval
		        clearInterval(countdownIntervalFunc);

		        // Reset UI
			    document.getElementById("days").innerHTML = "";
			    document.getElementById("hours").innerHTML = "";
			    document.getElementById("mins").innerHTML = "";
			    document.getElementById("secs").innerHTML = "";
			    document.getElementById("countdown-timer").classList.add("d-none");
			    document.getElementById("ticket-sales-has-started").classList.remove("d-none");

			    // Re-load page after 3 seconds
			    setInterval(function() {
			    	location.reload();
			    }, 3000);
			}
	    }, 1000);
	</script>
{% endif %}
{% endblock %}