{% extends "bases/base_secondary.html" %}

{% load static account %}

{% block head_title %}Invitation Accepted - SocialPass{% endblock %}

{% block inner %}
<p class="mb-5">
    <a href="{% url 'account_login' %}" class="fw-bold"><i class="fa-solid fa-arrow-left me-5"></i> Sign In</a>
</p>
<h1 class="fsr-3 text-strong fw-700 mt-0">Invitation Accepted</h1>
<p>
    The invite you have requested has already been accepted. <a href="{% url 'account_login' %}" class="fw-bold">Sign In</a> with the associated email to get access!
</p>
<p class="text-muted fs-base-n2 pt-10 border-top border-dotted border-bottom-0 border-start-0 border-end-0">
    Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" class="fw-bold" target="_blank">contact us</a> if you think something is wrong.
</p>
{% endblock %}


