{% extends "marketing/landing/base.html" %}

{% load static %}

{% block content %}
<!-- Hero section start -->
<section id="hero-section" class="py-30 py-lg-50">
	<div class="container-xl">
		<div class="row row-eq-spacing-lg">
			<!-- First column start -->
			<div class="col-lg-7 align-self-center">
				<div class="content">
					<h1 class="display-4 fw-700 text-strong mt-0">
						Create and Manage Unforgettable Events
					</h1>
					<p class="fsr-6 pe-lg-50">
						Transform your event management experience and create unforgettable events with SocialPass.
					</p>
					<div class="mt-20">
						<a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg rounded-3 fsr-6 py-sm-15 px-10 px-sm-20 mt-10">
							<strong class="antialiased">Get Started for Free</strong>
						</a>
					</div>
				</div>
			</div>
			<!-- First column end -->

			<!-- Second column start -->
			<div class="col-lg-5 align-self-center mt-30 mt-lg-0">
				<div class="content">
					<div class="ws-500 h-auto mw-100 rounded-4 overflow-hidden mx-auto my-lg-50">
						<img src="{% static 'images/host_topmain.png' %}" class="d-block w-100 h-100" alt="Hero image">
					</div>
				</div>
			</div>
			<!-- Second column end -->
		</div>
	</div>
</section>
<!-- Hero section end -->

<!-- First section start
<section class="py-50" id="review-section">
	<div class="container-xl">
		<div class="row row-eq-spacing-lg">
			<div class="col-lg-6 align-self-center">
				<div class="content">
					<h2 class="display-5 fw-700 m-0">
						“Using SocialPass couldn’t have been easier!”
					</h2>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1 align-self-center">
				<div class="content">
					<div class="d-flex align-items-center">
						<div class="ws-100 hs-100 rounded-circle overflow-hidden d-flex align-items-center justify-content-center flex-shrink-0">
							<img src="https://pbs.twimg.com/profile_images/1598695490685747200/AsOZ085k_400x400.jpg" alt="Pudgy" class="w-100 h-auto d-block">
						</div>
						<div class="ps-20 fsr-6">
							<strong>Luca Netz</strong>
							<br />
							CEO of Pudgy Penguins
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
First section end -->

<!-- Second section start -->
<section class="py-50 bg-content-lm bg-body-dm">
	<div class="container-xl">
		<!-- Row start -->
		<div class="row row-eq-spacing-lg" id="publish">
			<!-- First column start -->
			<div class="col-lg-7 align-self-center">
				<div class="content pe-lg-50">
					<h2 class="display-5 fw-700 text-strong mt-0">
						Hosting Events, Simplified
					</h2>
					<p class="fsr-6 text-muted">
						Set up and customize your event pages effortlessly, with step-by-step guidance and easy-to-use tools.
					</p>
					<div class="fsr-6 d-flex align-items-start mt-20">
						<i class="fa-regular fa-check text-success mt-5 me-10"></i>
						100% Free to use
					</div>
					<div class="fsr-6 d-flex align-items-start mt-10">
						<i class="fa-regular fa-check text-success mt-5 me-10"></i>
						Self-serve, intuitive dashboard to manage unlimited events
					</div>
					<div class="fsr-6 d-flex align-items-start mt-10">
						<i class="fa-regular fa-check text-success mt-5 me-10"></i>
						Team management system to invite and collaborate with other team members
					</div>
				</div>
			</div>
			<!-- First column end -->

			<!-- Second column start -->
			<div class="col-lg-5 align-self-center mt-30 mt-lg-0">
				<div class="content">
					<div class="ws-500 h-auto mw-100 rounded-4 overflow-hidden mx-auto my-lg-50">
						<img src="{% static 'images/host_section1.png' %}" class="d-block w-100 h-100" alt="Section 1 image">
					</div>
				</div>
			</div>
			<!-- Second column end -->
		</div>
		<br />
		<!-- Row end -->

		<!-- Row start -->
		<div class="row row-eq-spacing-lg" id="promote">
			<!-- First column start -->
			<div class="col-lg-7 align-self-center order-lg-last">
				<div class="content ps-lg-50">
					<h2 class="display-5 fw-700 text-strong mt-0">
						Spread the Word
					</h2>
					<p class="fsr-6 text-muted">
						Share & personalize your event with our custom marketing solutions.
					</p>
					<div class="fsr-6 d-flex align-items-start mt-20">
						<i class="fa-regular fa-check text-success mt-5 me-10"></i>
						Sell tickets on your own site with our custom embed plugin
					</div>
					<div class="fsr-6 d-flex align-items-start mt-10">
						<i class="fa-regular fa-check text-success mt-5 me-10"></i>
						Make your brand shine with our custom white-label solutions
					</div>
				</div>
			</div>
			<!-- First column end -->

			<!-- Second column start -->
			<div class="col-lg-5 align-self-center mt-30 mt-lg-0">
				<div class="content">
					<div class="ws-500 h-auto mw-100 rounded-4 overflow-hidden mx-auto my-lg-50">
						<img src="{% static 'images/host_section2.png' %}" class="d-block w-100 h-100" alt="Section 2 image">
					</div>
				</div>
			</div>
			<!-- Second column end -->
		</div>
		<br />
		<!-- Row end -->

		<!-- Row start -->
		<div class="row row-eq-spacing-lg" id="party">
			<!-- First column start -->
			<div class="col-lg-7 align-self-center">
				<div class="content pe-lg-50">
					<h2 class="display-5 fw-700 text-strong mt-0">
						Let the Good Times Roll
					</h2>
					<p class="fsr-6 text-muted">
						Once your event is live, SocialPass is here to carry your event from RSVP to check-in at the door.
					</p>
					<div class="fsr-6 d-flex align-items-start mt-20">
						<i class="fa-regular fa-check text-success mt-5 me-10"></i>
						Scan tickets from any device
					</div>
					<div class="fsr-6 d-flex align-items-start mt-10">
						<i class="fa-regular fa-check text-success mt-5 me-10"></i>
						Track real-time analytics
					</div>
					<div class="fsr-6 d-flex align-items-start mt-10">
						<i class="fa-regular fa-check text-success mt-5 me-10"></i>
						Communicate with attendees on important updates
					</div>
				</div>
			</div>
			<!-- First column end -->

			<!-- Second column start -->
			<div class="col-lg-5 align-self-center mt-30 mt-lg-0">
				<div class="content">
					<div class="ws-500 h-auto mw-100 rounded-4 overflow-hidden mx-auto my-lg-50">
						<img src="{% static 'images/host_section3.png' %}" class="d-block w-100 h-100" alt="Section 3 image">
					</div>
				</div>
			</div>
			<!-- Second column end -->
		</div>
		<!-- Row end -->
	</div>
</section>
<!-- Second section end -->
{% endblock content %}
