/**
 * ----------------------------------------------------------------------------
 * SocialPass theme
 * Version: Beta
 * Theme for Halfmoon 2.x.x
 * Copyright 2022 - Present, SP Tech Inc. All rights reserved
 * ----------------------------------------------------------------------------
 * The above notice must be included in its entirety when this file is used.
 */

:root {
  /* Font related (sizes, weights, family, etc.) */

  --base-font-family: 'Inter', sans-serif;
  --base-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --large-font-size: 1.8rem;
  --bold-font-weight: 600;

  /* Base background colors */

  --base-body-bg-color: var(--gray-color-very-light);

  /* Border related (mostly for utilities) */

  --border-color: hsl(var(--gray-color-hue), var(--gray-color-saturation), 77.5%);
}

.dark-mode {
  /* Base background colors */

  --base-body-bg-color: var(--dark-color);
  --base-content-bg-color: var(--dark-color-very-light);

  /* Border related (mostly for utilities) */

  --border-color: var(--gray-color-very-dim);
}

.readable-mode {
  /* Font related (sizes, weights, family, etc.) */

  --base-font-size: 1.8rem;
  --small-font-size: 1.6rem;
  --large-font-size: 2rem;
}

/* System colors */

:root {
  /* SocialPass blue */

  --socialpass-blue-color-hue: 195;
  --socialpass-blue-color-saturation: 60%;
  --socialpass-blue-color-lightness: 45%;
  --socialpass-blue-color-lightness-step-up-1: 50%;
  --socialpass-blue-color-lightness-step-up-2: 55%;
  --socialpass-blue-color-lightness-step-down-1: 40%;
  --socialpass-blue-color-lightness-step-down-2: 35%;

  --socialpass-blue-color-hsl: var(--socialpass-blue-color-hue),
    var(--socialpass-blue-color-saturation), var(--socialpass-blue-color-lightness);
  --socialpass-blue-color-light-hsl: var(--socialpass-blue-color-hue),
    var(--socialpass-blue-color-saturation), var(--socialpass-blue-color-lightness-step-up-2);
  --socialpass-blue-color-very-light-hsl: var(--socialpass-blue-color-hue),
    var(--socialpass-blue-color-saturation), 95%;
  --socialpass-blue-color-dim-hsl: var(--socialpass-blue-color-hue),
    var(--socialpass-blue-color-saturation), var(--socialpass-blue-color-lightness-step-down-2);
  --socialpass-blue-color-very-dim-hsl: var(--socialpass-blue-color-hue), 15%, 15%;

  --socialpass-blue-color: hsl(var(--socialpass-blue-color-hsl));
  --socialpass-blue-color-light: hsl(var(--socialpass-blue-color-light-hsl));
  --socialpass-blue-color-very-light: hsl(var(--socialpass-blue-color-very-light-hsl));
  --socialpass-blue-color-dim: hsl(var(--socialpass-blue-color-dim-hsl));
  --socialpass-blue-color-very-dim: hsl(var(--socialpass-blue-color-very-dim-hsl));

  --text-color-on-socialpass-blue-color-bg: var(--white-color);

  /* SocialPass orange */

  --socialpass-orange-color-hue: 16;
  --socialpass-orange-color-saturation: 80%;
  --socialpass-orange-color-lightness: 60%;
  --socialpass-orange-color-lightness-step-up-1: 65%;
  --socialpass-orange-color-lightness-step-up-2: 70%;
  --socialpass-orange-color-lightness-step-down-1: 55%;
  --socialpass-orange-color-lightness-step-down-2: 50%;

  --socialpass-orange-color-hsl: var(--socialpass-orange-color-hue),
    var(--socialpass-orange-color-saturation), var(--socialpass-orange-color-lightness);
  --socialpass-orange-color-light-hsl: var(--socialpass-orange-color-hue),
    var(--socialpass-orange-color-saturation), var(--socialpass-orange-color-lightness-step-up-2);
  --socialpass-orange-color-very-light-hsl: var(--socialpass-orange-color-hue),
    var(--socialpass-orange-color-saturation), 95%;
  --socialpass-orange-color-dim-hsl: var(--socialpass-orange-color-hue),
    var(--socialpass-orange-color-saturation), var(--socialpass-orange-color-lightness-step-down-2);
  --socialpass-orange-color-very-dim-hsl: var(--socialpass-orange-color-hue), 15%, 15%;

  --socialpass-orange-color: hsl(var(--socialpass-orange-color-hsl));
  --socialpass-orange-color-light: hsl(var(--socialpass-orange-color-light-hsl));
  --socialpass-orange-color-very-light: hsl(var(--socialpass-orange-color-very-light-hsl));
  --socialpass-orange-color-dim: hsl(var(--socialpass-orange-color-dim-hsl));
  --socialpass-orange-color-very-dim: hsl(var(--socialpass-orange-color-very-dim-hsl));

  --text-color-on-socialpass-orange-color-bg: var(--white-color);
}

.dark-mode {
  /* SocialPass blue */

  --socialpass-blue-color-lightness: 40%;
  --socialpass-blue-color-lightness-step-up-1: 45%;
  --socialpass-blue-color-lightness-step-up-2: 50%;
  --socialpass-blue-color-lightness-step-down-1: 35%;
  --socialpass-blue-color-lightness-step-down-2: 30%;

  /* SocialPass orange */

  --socialpass-orange-color-lightness: 50%;
  --socialpass-orange-color-lightness-step-up-1: 55%;
  --socialpass-orange-color-lightness-step-up-2: 60%;
  --socialpass-orange-color-lightness-step-down-1: 45%;
  --socialpass-orange-color-lightness-step-down-2: 40%;
}

/* Context colors */

:root {
  /* Primary colors */

  --primary-color-hue: var(--socialpass-blue-color-hue);
  --primary-color-saturation: var(--socialpass-blue-color-saturation);
  --primary-color-lightness: var(--socialpass-blue-color-lightness);
  --primary-color-lightness-step-up-1: var(--socialpass-blue-color-lightness-step-up-1);
  --primary-color-lightness-step-up-2: var(--socialpass-blue-color-lightness-step-up-2);
  --primary-color-lightness-step-down-1: var(--socialpass-blue-color-lightness-step-down-1);
  --primary-color-lightness-step-down-2: var(--socialpass-blue-color-lightness-step-down-2);

  --primary-color-hsl: var(--socialpass-blue-color-hsl);
  --primary-color-light-hsl: var(--socialpass-blue-color-light-hsl);
  --primary-color-very-light-hsl: var(--socialpass-blue-color-very-light-hsl);
  --primary-color-dim-hsl: var(--socialpass-blue-color-dim-hsl);
  --primary-color-very-dim-hsl: var(--socialpass-blue-color-very-dim-hsl);

  --primary-color: var(--socialpass-blue-color);
  --primary-color-light: var(--socialpass-blue-color-light);
  --primary-color-very-light: var(--socialpass-blue-color-very-light);
  --primary-color-dim: var(--socialpass-blue-color-dim);
  --primary-color-very-dim: var(--socialpass-blue-color-very-dim);

  --text-color-on-primary-color-bg: var(--text-color-on-socialpass-blue-color-bg);

  /* Primary colors */

  --secondary-color-hue: var(--socialpass-orange-color-hue);
  --secondary-color-saturation: var(--socialpass-orange-color-saturation);
  --secondary-color-lightness: var(--socialpass-orange-color-lightness);
  --secondary-color-lightness-step-up-1: var(--socialpass-orange-color-lightness-step-up-1);
  --secondary-color-lightness-step-up-2: var(--socialpass-orange-color-lightness-step-up-2);
  --secondary-color-lightness-step-down-1: var(--socialpass-orange-color-lightness-step-down-1);
  --secondary-color-lightness-step-down-2: var(--socialpass-orange-color-lightness-step-down-2);

  --secondary-color-hsl: var(--socialpass-orange-color-hsl);
  --secondary-color-light-hsl: var(--socialpass-orange-color-light-hsl);
  --secondary-color-very-light-hsl: var(--socialpass-orange-color-very-light-hsl);
  --secondary-color-dim-hsl: var(--socialpass-orange-color-dim-hsl);
  --secondary-color-very-dim-hsl: var(--socialpass-orange-color-very-dim-hsl);

  --secondary-color: var(--socialpass-orange-color);
  --secondary-color-light: var(--socialpass-orange-color-light);
  --secondary-color-very-light: var(--socialpass-orange-color-very-light);
  --secondary-color-dim: var(--socialpass-orange-color-dim);
  --secondary-color-very-dim: var(--socialpass-orange-color-very-dim);

  --text-color-on-secondary-color-bg: var(--text-color-on-socialpass-orange-color-bg);
}

/* Buttons */

:root {
  /* Default button */

  --button-border-color: var(--border-color);
}

.dark-mode {
  /* Default button */

  --button-bg-clip: border-box;

  /* Primary button */

  --button-primary-border-color: transparent;

  /* Secondary button */

  --button-secondary-border-color: transparent;

  /* Success button */

  --button-success-border-color: transparent;

  /* Warning button */

  --button-warning-border-color: transparent;

  /* Danger button */

  --button-danger-border-color: transparent;
}

/* Input */

:root {
  /* Default input */

  --input-border-color: var(--border-color);
}

.dark-mode {
  /* Default input */

  --input-bg-clip: border-box;

  --input-border-color-focus: var(--primary-color-dim);
  --input-box-shadow-focus: 0 0 0 0.3rem hsla(var(--primary-color-hsl), 0.15);
}

/* Navbar */

:root {
  --navbar-height: 4.8rem;

  --navbar-text-color: hsla(var(--white-color-hsl), 0.75);
  --navbar-bg-color: var(--primary-color-dim);
  --navbar-border-color: transparent;
}

.dark-mode {
  --navbar-bg-color: hsl(var(--primary-color-hue), 40%, 10%);
  --navbar-border-color: hsla(var(--white-color-hsl), 0.15);
}

/* Sidebar */

:root {
  --sidebar-padding: 0;
  --sidebar-border-width: 0;

  --sidebar-text-color: hsla(var(--white-color-hsl), 0.75);
  --sidebar-bg-color: var(--primary-color);
  --sidebar-border-color: hsla(var(--white-color-hsl), 0.15);

  --sidebar-content-padding: 0.4rem 2.5rem;

  /* Sidebar link */

  --sidebar-link-margin: 0;
  --sidebar-link-border-radius: 0;

  --sidebar-link-text-color: var(--sidebar-text-color);

  --sidebar-link-text-color-hover: var(--sidebar-link-text-color);
  --sidebar-link-bg-color-hover: hsla(var(--white-color-hsl), 0.1);

  /* Active sidebar link */

  --sidebar-link-active-text-color: var(--text-color-on-secondary-color-bg);
  --sidebar-link-active-bg-color: var(--secondary-color);

  --sidebar-link-active-text-color-hover: var(--sidebar-link-active-text-color);
}

.dark-mode {
  --sidebar-border-width: var(--base-border-width);

  --sidebar-bg-color: hsl(var(--primary-color-hue), 40%, 15%);

  /* Sidebar link */

  --sidebar-link-bg-color-hover: hsla(var(--white-color-hsl), 0.05);
}

/* Card */

:root {
  --card-border-color: var(--border-color);
}

/* Dropdown */

:root {
  /* Dropdown menu */

  --dropdown-menu-bg-color: var(--base-content-bg-color);
  --dropdown-menu-border-color: var(--border-color);
}

/* Tooltips */

:root {
  --tooltip-text-color: var(--white-color);
  --tooltip-bg-color: var(--black-color);
  --tooltip-box-shadow: none;
}
