/*
BASE HTML
*/

@font-face {
  font-family: 'rubik';
  src: local('rubik'),
     url('./static/fonts/Rubik/Rubik-VariableFont_wght.ttf') format("truetype");
}

html, body {
  height:100%;
  width:100%;
  max-width:954px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'rubik', sans-serif !important;
  font-style: normal;
}

h2, h3 {
  margin:0;
  padding:0;
}

h1 {
  font-size: 4vh;
  font-weight: 700;
  font-style: bold;
  line-height: 1.25em;
}

h2 {
  font-size: 3vh;
}

h3 {
  font-size: 2vh;
}

img {
  max-width: 100%;
}

p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 1.75vh;
  line-height: 3vh;
  color: #959191;
}

small {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #959191;
}

header {
  position:relative;
  overflow:hidden;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  margin: 2.25rem 2.25rem 1rem 2.25rem;
}

/*
ELEMENTS
*/
.ticker {
  position:absolute;
  display:block;
  max-width:44%;
  top:0;
  right:0;
}

/*
THEMES
*/
.btn-primary {
  background: #DB1D7A;
  border-radius: 20px;
  color:white;
  border: none;
  min-height:80px;
  font-weight: 700;
  font-size: 2.5vh;
  padding:0;
  margin:0;
  min-width:250px;
  width:100%;
}


/*
CONTAINERS
*/
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  display:flex;
  flex-direction:column;
  flex: 1;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  overflow:hidden;
  max-height:787px;
  min-width:341px;
}

.parent {
  min-height:255px;
  flex:1;
}

.base-gate {
 display: flex;
 flex-wrap: wrap;
 align-items:center;
}

.image {
  position:relative;
  bottom:35px;
  flex-basis:100%;
  margin:0 2.25rem 0 2.25rem;
}

.base-gate .image img {
  height:7vh;
  width:7vh;
  position:relative;
  border: 10px solid white;
  border-radius:66px;
}

.title, .btn {
  flex:1;
  margin:.5rem 2.25rem 0 2.25rem;
  word-break: break-word;
  min-width:250px;
}

.wallets {
  display:flex;
  flex-basis:100% !important;
  flex-wrap:wrap;
  justify-content:space-evenly;
  margin:.5rem 2.25rem 0 2.25rem;
}

.wallets button {
  background: #FFFFFF;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-width:144px;
  max-width:164px;
  min-height:140px;
  max-height:164px;
  display:flex;
  flex-direction:column;
  justify-content: end;
  align-items:center;
  border: 0px;
  font-weight: 600;
  font-size: 1.5vh;
  padding-bottom:2vh;
}


.wallets button img {
  padding:.25rem;
}
