/*
BASE HTML
*/

@font-face {
  font-family: 'rubik';
  src: local('rubik'),
     url('./static/fonts/Rubik/Rubik-VariableFont_wght.ttf') format("truetype");
}

html, body {
  height:100%;
  width:100%;
  max-width:954px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'rubik', sans-serif !important;
  font-style: normal;
}

h1 {
  font-size: 2.33rem;
  font-weight: 700;
  font-style: bold;
  line-height: 1.25em;
}

h2, h3 {
  padding:0;
}

h2 {
  font-size: 1.55rem;
}

h3 {
  font-size: 1.33rem;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 1.11rem;
  line-height: 2rem;
  color: #959191;
  margin:0;
}

small {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #959191;
}

header {
  position:relative;
  overflow:hidden;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  margin: 2.25rem 2.25rem 1.5rem 2.25rem;
}

/*
THEMES
*/
.btn-primary {
  background: linear-gradient(90deg, #DB1D7A 0%, #772A81 100%);
  border-radius: 20px;
  color:white;
  border: none;
  min-height:80px;
  font-weight: 700;
  font-size: 1.69rem;
  padding:0;
  margin:0;
  min-width:250px;
  width:100%;
}


/*
CONTAINERS
*/
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  display:flex;
  flex-direction:column;
  flex: 1;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  overflow:hidden;
  max-height:787px;
  min-width:363px;
}

.parent {
  min-height:355px;
  flex:1;
}

.base-gate {
 display: flex;
 position:relative;
 flex-wrap: wrap;
 align-items:center;
}

.team-info {
  position:absolute;
  display:flex;
  flex-direction: column;
  justify-content: center;
  top:-66px;
  left:2.25rem;
}

.base-inside {
  flex:1;
  margin:3rem 2.25rem 0 2.25rem;
  word-break: break-word;
  min-width:250px;
}

.web3-checkout-options {
  overflow-y:scroll;
  max-height:150px;
  padding:0 2.25rem 2.25rem 2.25rem;

}



/*
ELEMENTS
*/
.ticker {
  position:absolute;
  display:block;
  max-width:44%;
  top:0;
  right:0;
}

.team-info img {
  height:7vh;
  width:7vh;
  border: 11px solid white;
  border-radius:66px;
}

.team-info h4 {
  margin:0;
}
