/*
BASE HTML
*/

@font-face {
  font-family: 'rubik';
  src: local('rubik'),
   url('./static/fonts/Rubik/Rubik-VariableFont_wght.ttf') format("truetype");
}

html, body {
  height:100%;
  width:100%;
  max-width:954px;
  margin: 0;
  padding: 0;
  font-family: 'rubik', sans-serif !important;
  font-style: normal;
}

h1 {
  font-size: 2.33rem;
  font-weight: 700;
  font-style: bold;
  line-height: 1.25em;
  margin:0;
}

h2, h3 {
  padding:0;
  margin:0;
}

h2 {
  font-size: 1.55rem;
}

h3 {
  font-size: 1.33rem;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 1.11rem;
  line-height: 2rem;
  color: #959191;
  margin:0;
}

small {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #959191;
}

header {
  position:relative;
  max-height:288px;
  display:flex;
  border-radius: 50px 50px 0 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  margin: 2.25rem 2.25rem 1.5rem 2.25rem;
}

#root {
  height:100%;
}

.container-fluid {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  max-height:787px;
  min-width:363px;
}


/*
ELEMENTS
*/
.ticker {
  position:absolute;
  display:block;
  max-width:44%;
  top:0;
  right:0;
}

.team-info {
  position: relative;
  bottom: -169px;
}

.team-info img {
  height:7vh;
  width:7vh;
  border: 11px solid white;
  border-radius:66px;
}

.team-info h4 {
  margin:0;
}


/*
THEMES
*/
.btn-primary {
  background: linear-gradient(90deg, #DB1D7A 0%, #772A81 100%);
  border-radius: 20px;
  color:white;
  border: none;
  min-height:80px;
  font-weight: 700;
  font-size: 1.69rem;
  padding:0;
  margin:0;
  min-width:250px;
  width:100%;
}

.btn-primary:disabled {
  opacity:.5;
  cursor:not-allowed;
}
