{% extends "staff_dashboard/base.html" %}
{% load static %}

{% block content %}
{% for obj in object_list %}
<!-- Item card start -->
<div class="card border-transparent my-10 p-10">
	<div class="d-flex align-items-center">
		<div class="flex-shrink-0 ws-100 hs-75 rounded overflow-hidden d-flex align-items-center justify-content-center bg-gray-very-light-lm bg-darkgray-very-dim-dm">
			<img src="https://nyc3.digitaloceanspaces.com/production-socialpass-bucket/public/media/event__cover_image/-------------_1UxFUnI.png" alt="team image" class="w-100 h-auto">
		</div>
		<div class="ps-20">
			<div class="fw-bold fs-base-p4">{{obj.title}}</div>
			<div class="text-muted">Organizer: {{obj.team.name}}</div>
		</div>
	</div>
	<div class="row mt-10 border-top">
		<div class="col-sm-4 mt-10">
			<div class="fw-bold"><i class="fa-light fa-calendar"></i> Start Date</div>
			{{obj.start_date}}
		</div>
		{% if obj.end_date %}
		<div class="col-sm-4 mt-10">
			<div class="fw-bold"><i class="fa-light fa-calendar"></i> End Date</div>
			{{obj.end_date}}
		</div>
		{% endif %}
		<div class="col-sm-4 mt-10">
			<div class="fw-bold"><i class="fa-light fa-calendar"></i> Location</div>
			{{obj.localized_address_display}}
		</div>
	</div>
</div>
<!-- Item card end -->
{% endfor %}

<!-- Pagination start -->
<div class="card border-transparent my-10 p-10 fs-base-n2 d-flex align-items-center">
	<div>
		{% if page_obj.has_previous %}
		<a class="btn btn-sm text-base" href="?page={{ page_obj.previous_page_number }}">
			<strong class="antialiased">Prev</strong>
		</a>
		{% else %}
		<button class="btn btn-sm" disabled="disabled">
			<strong class="antialiased">Prev</strong>
		</button>
		{% endif %}
	</div>
	<div class="ms-auto">
		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
	</div>
	<div class="ms-auto">
		{% if page_obj.has_next %}
		<a class="btn btn-sm text-base" href="?page={{ page_obj.next_page_number }}">
			<strong class="antialiased">Next</strong>
		</a>
		{% else %}
		<button class="btn btn-sm" disabled="disabled">
			<strong class="antialiased">Next</strong>
		</button>
		{% endif %}
	</div>
</div>
<!-- Pagination end -->
{% endblock %}