{% extends "staff_dashboard/base.html" %}
{% load static %}

{% block content %}
{% for obj in object_list %}
<!-- Item card start -->
<div class="card border-transparent my-10 p-10">
	<div class="d-flex align-items-center">
		<div class="flex-shrink-0 ws-75 hs-75 rounded overflow-hidden d-flex align-items-center justify-content-center bg-gray-very-light-lm bg-darkgray-very-dim-dm">
			<img src="https://nyc3.digitaloceanspaces.com/production-socialpass-bucket/public/media/team__image/Frr9oB2XsAcrLx2.jpeg" alt="team image" class="w-100 h-auto">
		</div>
		<div class="ps-20">
			<div class="fw-bold fs-base-p4">{{obj.name}}</div>
			<div>{{obj.created}}</div>
		</div>
	</div>
</div>
<!-- Item card end -->
{% endfor %}

<!-- Pagination start -->
<div class="card border-transparent my-10 p-10 fs-base-n2 d-flex align-items-center">
	<div>
		{% if page_obj.has_previous %}
		<a class="btn btn-sm text-base" href="?page={{ page_obj.previous_page_number }}">
			<strong class="antialiased">Prev</strong>
		</a>
		{% else %}
		<button class="btn btn-sm" disabled="disabled">
			<strong class="antialiased">Prev</strong>
		</button>
		{% endif %}
	</div>
	<div class="ms-auto">
		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
	</div>
	<div class="ms-auto">
		{% if page_obj.has_next %}
		<a class="btn btn-sm text-base" href="?page={{ page_obj.next_page_number }}">
			<strong class="antialiased">Next</strong>
		</a>
		{% else %}
		<button class="btn btn-sm" disabled="disabled">
			<strong class="antialiased">Next</strong>
		</button>
		{% endif %}
	</div>
</div>
<!-- Pagination end -->
{% endblock %}