/**
 * ----------------------------------------------------------------------------
 * SocialPass theme
 * Version: Beta
 * Theme for Halfmoon 2.x.x
 * Copyright 2022 - Present, SP Tech Inc. All rights reserved
 * ----------------------------------------------------------------------------
 * The above notice must be included in its entirety when this file is used.
 */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap");

:root {
    /* Font related (sizes, weights, family, etc.) */

    --base-font-family: "IBM Plex Sans", sans-serif;
    --base-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --large-font-size: 1.8rem;
    --bold-font-weight: 600;

    /* Base background colors */

    --base-body-bg-color: var(--gray-color-very-light);

    /* Border related (mostly for utilities) */

    --base-border-radius: 0.2rem;
}

.dark-mode {
    /* Base background colors */

    --base-body-bg-color: var(--dark-color);
    --base-content-bg-color: var(--dark-color-very-light);
}

.readable-mode {
    /* Font related (sizes, weights, family, etc.) */

    --base-font-size: 1.8rem;
    --small-font-size: 1.6rem;
    --large-font-size: 2.0rem;
}

/* System colors */

:root {
    /* Binance yellow */

    --binance-yellow-color-hue: 46;
    --binance-yellow-color-saturation: 91%;
    --binance-yellow-color-lightness: 50%;
    --binance-yellow-color-lightness-step-up-1: 60%;
    --binance-yellow-color-lightness-step-up-2: 70%;
    --binance-yellow-color-lightness-step-down-1: 47.5%;
    --binance-yellow-color-lightness-step-down-2: 45%;

    --binance-yellow-color-hsl: var(--binance-yellow-color-hue), var(--binance-yellow-color-saturation), var(--binance-yellow-color-lightness);
    --binance-yellow-color-light-hsl: var(--binance-yellow-color-hue), var(--binance-yellow-color-saturation), var(--binance-yellow-color-lightness-step-up-2);
    --binance-yellow-color-very-light-hsl: var(--binance-yellow-color-hue), var(--binance-yellow-color-saturation), 95%;
    --binance-yellow-color-dim-hsl: var(--binance-yellow-color-hue), var(--binance-yellow-color-saturation), var(--binance-yellow-color-lightness-step-down-2);
    --binance-yellow-color-very-dim-hsl: var(--binance-yellow-color-hue), 15%, 15%;

    --binance-yellow-color: hsl(var(--binance-yellow-color-hsl));
    --binance-yellow-color-light: hsl(var(--binance-yellow-color-light-hsl));
    --binance-yellow-color-very-light: hsl(var(--binance-yellow-color-very-light-hsl));
    --binance-yellow-color-dim: hsl(var(--binance-yellow-color-dim-hsl));
    --binance-yellow-color-very-dim: hsl(var(--binance-yellow-color-very-dim-hsl));

    --text-color-on-binance-yellow-color-bg: var(--black-color);
}

/* Context colors */

:root {
    /* Primary colors */

    --primary-color-hue: var(--binance-yellow-color-hue);
    --primary-color-saturation: var(--binance-yellow-color-saturation);
    --primary-color-lightness: var(--binance-yellow-color-lightness);
    --primary-color-lightness-step-up-1: var(--binance-yellow-color-lightness-step-up-1);
    --primary-color-lightness-step-up-2: var(--binance-yellow-color-lightness-step-up-2);
    --primary-color-lightness-step-down-1: var(--binance-yellow-color-lightness-step-down-1);
    --primary-color-lightness-step-down-2: var(--binance-yellow-color-lightness-step-down-2);

    --primary-color-hsl: var(--binance-yellow-color-hsl);
    --primary-color-light-hsl: var(--binance-yellow-color-light-hsl);
    --primary-color-very-light-hsl: var(--binance-yellow-color-very-light-hsl);
    --primary-color-dim-hsl: var(--binance-yellow-color-dim-hsl);
    --primary-color-very-dim-hsl: var(--binance-yellow-color-very-dim-hsl);

    --primary-color: var(--binance-yellow-color);
    --primary-color-light: var(--binance-yellow-color-light);
    --primary-color-very-light: var(--binance-yellow-color-very-light);
    --primary-color-dim: var(--binance-yellow-color-dim);
    --primary-color-very-dim: var(--binance-yellow-color-very-dim);

    --text-color-on-primary-color-bg: var(--text-color-on-binance-yellow-color-bg);

    /* Secondary colors */

    --secondary-color-hue: var(--binance-yellow-color-hue);
    --secondary-color-saturation: var(--binance-yellow-color-saturation);
    --secondary-color-lightness: var(--binance-yellow-color-lightness);
    --secondary-color-lightness-step-up-1: var(--binance-yellow-color-lightness-step-up-1);
    --secondary-color-lightness-step-up-2: var(--binance-yellow-color-lightness-step-up-2);
    --secondary-color-lightness-step-down-1: var(--binance-yellow-color-lightness-step-down-1);
    --secondary-color-lightness-step-down-2: var(--binance-yellow-color-lightness-step-down-2);

    --secondary-color-hsl: var(--binance-yellow-color-hsl);
    --secondary-color-light-hsl: var(--binance-yellow-color-light-hsl);
    --secondary-color-very-light-hsl: var(--binance-yellow-color-very-light-hsl);
    --secondary-color-dim-hsl: var(--binance-yellow-color-dim-hsl);
    --secondary-color-very-dim-hsl: var(--binance-yellow-color-very-dim-hsl);

    --secondary-color: var(--binance-yellow-color);
    --secondary-color-light: var(--binance-yellow-color-light);
    --secondary-color-very-light: var(--binance-yellow-color-very-light);
    --secondary-color-dim: var(--binance-yellow-color-dim);
    --secondary-color-very-dim: var(--binance-yellow-color-very-dim);

    --text-color-on-secondary-color-bg: var(--text-color-on-binance-yellow-color-bg);

    /* Warning colors */

    --warning-color-hue: var(--orange-color-hue);
    --warning-color-saturation: var(--orange-color-saturation);
    --warning-color-lightness: var(--orange-color-lightness);
    --warning-color-lightness-step-up-1: var(--orange-color-lightness-step-up-1);
    --warning-color-lightness-step-up-2: var(--orange-color-lightness-step-up-2);
    --warning-color-lightness-step-down-1: var(--orange-color-lightness-step-down-1);
    --warning-color-lightness-step-down-2: var(--orange-color-lightness-step-down-2);

    --warning-color-hsl: var(--orange-color-hsl);
    --warning-color-light-hsl: var(--orange-color-light-hsl);
    --warning-color-very-light-hsl: var(--orange-color-very-light-hsl);
    --warning-color-dim-hsl: var(--orange-color-dim-hsl);
    --warning-color-very-dim-hsl: var(--orange-color-very-dim-hsl);

    --warning-color: var(--orange-color);
    --warning-color-light: var(--orange-color-light);
    --warning-color-very-light: var(--orange-color-very-light);
    --warning-color-dim: var(--orange-color-dim);
    --warning-color-very-dim: var(--orange-color-very-dim);

    --text-color-on-warning-color-bg: var(--text-color-on-orange-color-bg);
}

/* Lists */

:root {
    /* Unordered list */

    --unordered-list-item-bullet-width: 0.6rem;
}

/* Buttons */

:root {
    --button-vertical-padding: 0.6rem;

    --small-button-vertical-padding: 0.4rem;

    --large-button-vertical-padding: 0.8rem;

    /* Default button */

    --button-border-color: var(--border-color);
}

.dark-mode {
    /* Default button */

    --button-bg-clip: border-box;

    /* Primary button */

    --button-primary-border-color: transparent;

    /* Secondary button */

    --button-secondary-border-color: transparent;

    /* Success button */

    --button-success-border-color: transparent;

    /* Warning button */

    --button-warning-border-color: transparent;

    /* Danger button */

    --button-danger-border-color: transparent;
}

/* Form */

:root {
    /* Default input */

    --input-border-color: var(--border-color);

    /* Form label */

    --form-label-font-weight: var(--bold-font-weight);

    /* Input group text */

    --input-group-text-border-color: var(--border-color);

    /* Checkbox */

    --checkbox-border-color-focus: var(--input-border-color-focus);
    --checkbox-box-shadow-focus: var(--input-box-shadow-focus);
}

.dark-mode {
    /* Default input */

    --input-bg-clip: border-box;

    --input-border-color-focus: var(--primary-color-dim);
    --input-box-shadow-focus: 0 0 0 0.3rem hsla(var(--primary-color-hsl), 0.15);
}

/* Navbar */

:root {
    --navbar-height: 4.8rem;

    --navbar-text-color: hsla(var(--white-color-hsl), 0.85);
    --navbar-bg-color: var(--darkgray-color-dim);
    --navbar-border-color: transparent;
}

.dark-mode {
    --navbar-border-color: hsla(var(--white-color-hsl), 0.15);
}

/* Sidebar */

:root {
    --sidebar-padding: 0;
    --sidebar-border-width: 0;

    --sidebar-text-color: hsla(var(--white-color-hsl), 0.85);
    --sidebar-bg-color: var(--darkgray-color);
    --sidebar-border-color: hsla(var(--white-color-hsl), 0.15);

    --sidebar-content-padding: 0.4rem 2.5rem;

    /* Sidebar link */

    --sidebar-link-margin: 0;
    --sidebar-link-border-radius: 0;

    --sidebar-link-text-color: var(--sidebar-text-color);

    --sidebar-link-text-color-hover: var(--sidebar-link-text-color);
    --sidebar-link-bg-color-hover: hsla(var(--white-color-hsl), 0.1);

    /* Active sidebar link */

    --sidebar-link-active-text-color: var(--text-color-on-secondary-color-bg);
    --sidebar-link-active-bg-color: var(--secondary-color);

    --sidebar-link-active-text-color-hover: var(--sidebar-link-active-text-color);
}

.dark-mode {
    --sidebar-border-width: var(--base-border-width);
}

/* Card */

:root {
    --card-border-color: var(--border-color);
}

/* Dropdown */

:root {
    /* Dropdown menu */

    --dropdown-menu-bg-color: var(--base-content-bg-color);
    --dropdown-menu-border-color: var(--border-color);
}

/* Tooltips */

:root {
    --tooltip-text-color: var(--white-color);
    --tooltip-bg-color: var(--black-color);
    --tooltip-box-shadow: none;
}

/* Sticky alerts */

:root {
    --sticky-alerts-width: 34rem;
}

/* Links */

:root {
    --link-text-color: var(--blue-color);
}

.dark-mode {
    --link-text-color: hsl(var(--blue-color-hue), var(--blue-color-saturation), var(--blue-color-lightness-step-up-1));
}

/* Form */

:root {
    /* Checked checkbox */

    --checkbox-checked-bg-image: var(--checkbox-svg-dark);

    /* Checked radio */

    --radio-checked-bg-image: var(--radio-svg-dark);

    /* Checked switch */

    --switch-checked-bg-image: var(--switch-svg-dark);
}

/* Scanner specific styles */

.socialpass-scanner {
    --home-background-color: var(--darkgray-color-dim);
    --home-text-color: var(--white-color);
    --card-background-color: var(--dark-color);
    --card-text-color: var(--white-color);
    --card-text-highlight-color: var(--primary-color);
    --body-background-color: var(--darkgray-color-dim);
    --body-text-color: var(--white-color);
    --button-primary-background-color: var(--primary-color);
    --button-secondary-background-color: var(--primary-color-light);
    --button-text-color: var(--dark-color);
}
