{% extends "redesign/checkout/base.html" %}
{% load static i18n get_theme_value %}

{% block head_title %}{{ event.title }} - SocialPass{% endblock head_title %}

{% block content %}
<div class="card border-0 rounded-4 shadow-sm overflow-hidden">
	<!-- Cover image start -->
	<div class="position-relative overflow-hidden d-flex align-items-center justify-content-center h-auto">
		<img src="{{ event.cover_image_url }}" alt="{{ event.title }} background image" class="position-absolute top-50 start-50 translate-middle opacity-50" style="width: 200%; height: auto; filter: blur(1.5rem);">
		<img src="{{ event.cover_image_url }}" class="img-fluid position-relative z-1" alt="{{ event.title }} cover image">
	</div>
	<!-- Cover image start -->

	<!-- Team image and name start -->
	<div class="position-relative z-1" style="margin-top: -37px;">
		<div class="specific-w-75 specific-h-75 rounded-circle border border-5 d-flex align-items-center justify-content-center overflow-hidden mx-auto" style="border-color: var(--bs-content-bg) !important;">
			{% if event.team.image %}
				<img src="{{ event.team.image.url }}" class="d-block w-100 h-auto" alt="Team image">
			{% else %}
				<div class="rounded-circle d-flex align-items-center justify-content-center bg-secondary-subtle flex-shrink-0" style="width: 125%; height: 125%;">
					<span class="text-uppercase fs-3 m-0 lh-1 fw-bold">{{ event.team.name|slice:"0:1" }}</span>
				</div>
			{% endif %}
		</div>
		<h6 class="mt-1 mb-0 text-center">
			<span class="fw-normal">{% trans "Hosted By" %}</span>
			<span class="text-primary-emphasis">{{ event.team.name }}</span>
			{% if event.team.is_verified %}
				<i class="fa-solid fa-badge-check text-primary ms-1"></i>
			{% endif %}
		</h6>
	</div>
	<!-- Team image and name end -->

	<div class="p-3 p-sm-4">
			
	</div>
</div>
{% endblock %}