{% extends "redesign/checkout/tickets_base.html" %}
{% load static i18n get_theme_value %}

{% block head_title %}{% trans "Get Tickets" %} - SocialPass{% endblock head_title %}

{% block tickets %}
{% for ticket in tickets %}
	<div class="d-none specific-w-600 min-vh-100 mx-auto d-flex flex-column p-3" id="{{ ticket.object.public_id }}-container">
		<h5 class="m-0">
			<span id="{{ ticket.object.public_id }}-indicator" class="me-1">
				<i class="fa-light fa-circle-notch fa-spin"></i>
			</span>
			{% trans "Downloading Ticket" %} ...
		</h5>
		<p class="text-body-secondary mt-1">
			{% trans "Please hold tight as we create your ticket image and prepare it for download." %}
		</p>
		<div class="specific-w-500 p-4 mx-auto" id="{{ ticket.object.public_id }}">
			<div class="p-4 rounded-5 text-bg-info antialiased">
				<div class="d-flex justify-content-center pb-3">
					<div class="d-flex align-items-center">
						<img src="{% get_theme_value 'ticket_logo' %}" alt="SocialPass Icon" width="48" class="d-block me-2">
						<strong class="fs-3 m-0">SocialPass</strong>
					</div>
				</div>
				<h3>{{ checkout_session.event.title }}</h3>
				<div class="mt-3 fw-bold">
					{% trans "Ticket Type:" %}
				</div>
				<div class="mt-1">
					{{ ticket.object.ticket_tier.ticket_type }}
					{% if ticket.object.ticket_tier.tier_free %}
						| {% trans "FREE" %}
					{% endif %}
					{% if ticket.object.party_size > 1 %}
						| {% trans "Party Size:" %} {{ ticket.object.party_size }}
					{% endif %}
				</div>
				<div class="mt-3 fw-bold">
					{% trans "Date & Time:" %}
				</div>
				<div class="mt-1">
					{{ checkout_session.event.start_date }}
				</div>
				<div class="mt-3 fw-bold">
					{% trans "Location:" %}
				</div>
				<div class="mt-1">
					{{ checkout_session.event.localized_address_display }}
				</div>
				<div class="specific-w-200 specific-h-200 mx-auto mt-4 mb-1">
					<img src="{{ ticket.qrcode }}" class="w-100 h-100" alt="QR Code" />
				</div>
				<div class="text-center">{{ ticket.object.embed_code }}</div>
			</div>
		</div>
	</div>
{% endfor %}
{% endblock %}

{% block content %}
<div class="card border-0 rounded-4 shadow-sm overflow-hidden my-3 my-sm-4">
	<!-- Cover image start -->
	<div class="position-relative overflow-hidden d-flex align-items-center justify-content-center specific-h-250">
		<img src="{{ checkout_session.event.cover_image_url }}" alt="{{ checkout_session.event.title }} background image" class="position-absolute top-50 start-50 translate-middle opacity-50" style="width: 200%; height: auto; filter: blur(1.5rem);">
		<img src="{{ checkout_session.event.cover_image_url }}" class="img-fluid position-relative z-1" alt="{{ checkout_session.event.title }} cover image">
		<div class="position-absolute top-0 start-0 z-1 text-white w-100 h-100 d-flex flex-column justify-content-end p-3 p-sm-4" style="background-image: linear-gradient(transparent, black);">
			<h2 class="m-0">{{ checkout_session.event.title }}</h2>
			<h6 class="m-0">{% trans "By" %} {{ checkout_session.event.team.name }}</h6>
		</div>
	</div>
	<!-- Cover image start -->

	{% include "redesign/components/django_messages.html" %}

	<!-- Form start -->
	<div class="p-3 p-sm-4 mt-3">
		<div class="container-fluid overflow-hidden">
			<div class="row g-3">
				<div class="col-xl-6 col-lg-8 col-md-8 mx-auto">
					<h1 class="text-body-emphasis display-6 m-0 text-break">
						{% trans "Get Tickets" %}
					</h1>
					<p class="mt-1">
						{% trans "We've sent a passcode over to your email address" %} ({{ checkout_session.email|make_list|first }}*****@*****{{ checkout_session.email|make_list|last }}). {% trans "Please enter this passcode to download your tickets." %}
					</p>
					<form method="post">
						{% csrf_token %}
						<div class="mb-3">
							{% with input=passcode_form.passcode %}
								{% include 'redesign/forms/input.html' %}
							{% endwith %}
						</div>
						<div class="mb-3">
							<button class="btn btn-primary d-block w-100" type="submit" name="passcode_submit">{% trans "Submit" %}</button>
						</div>
					</form>
					<hr />
					<form method="post">
						{% csrf_token %}
						<p class="text-body-secondary">
							{% trans "If you haven't received your passcode (or would like to create another one), click on the following button." %}
						</p>
						<div class="mb-3">
							<button class="btn btn-secondary d-block w-100" type="submit" name="resend_passcode">
								<i class="fa-solid fa-rotate-right me-1"></i>
								{% trans "Resend Passcode" %}
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Form end -->
</div>
{% endblock content %}