/*
BASE HTML
*/

@font-face {
  font-family: 'rubik';
  src: local('rubik'),
   url('./static/fonts/Rubik/Rubik-VariableFont_wght.ttf') format("truetype");
}

html, body {
  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
  font-family: 'rubik';
  -ms-word-break: break-word;
  word-break: break-word;
}

#root {
  height:100%;
  width:100%;
  max-width: 956px;
}

h1 {
  font-size: 2.69rem;
  font-weight: bold;
}

h2 {
  font-size: 1.89em;
  font-weight: 700;
  font-style: bold;
}

h3 {
  font-size: 1.33rem;
}

h4 {
  font-size:1.23rem;
}

h5 {
  font-size:1.05rem;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

p {
  font-weight: 300;
  font-size: 1.01rem;
  color: #95959C;
}

small {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #959191;
}

header {
  position:relative;
  display:flex;
  border-radius: 50px 50px 0 0;
  min-height:200px;
  height:35%;
  background-size: 100% auto;
}

footer {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: space-between;
  margin: 2.25rem 2.25rem 1.5rem 2.25rem;
}

.container-fluid {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  min-height:769px;
  overflow:hidden;
  min-width:333px;
}

.small-header {
  min-height: 188px;
  height: 23.9%;
  background-size: 100% auto;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, .5);
  overflow:hidden;
  transition:all 0.69s linear;
  -webkit-transition: all 0.69s linear;
  -webkit-transition:all 0.69s linear;
}


/*
ELEMENTS
*/
.ticker {
  position:absolute;
  display:block;
  max-width:44%;
  top:-10px;
  right:-5px;
}

.team-info {
  position:absolute;
  top:75%;
}

.team-info img {
  height:66px;
  width:66px;
  border: 7px solid white;
  border-radius:66px;
  background:white;
}

.small-team-info {
  position: absolute;
  bottom: 20%;
  left: 50%;
  color:white;
  transform: translateX(-50%);
  text-align:center;
}

.back {
  color:white;
  position:absolute;
  display:flex;
  top: 15%;
  left: 5%;
  justify-content: center;
  align-items:center;
  cursor:pointer;
}


/*
BOOSTRAP OVERRIDES
*/
.btn-primary {
  background: #EF7C4E;
  border-radius: 20px;
  color:white;
  border: none;
  min-height:80px;
  font-weight: 700;
  font-size: 1.69rem;
  padding:0;
  margin:0;
  width:100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary:disabled {
  opacity:.5;
  cursor:not-allowed;
}

.btn-secondary {
  height: 164px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Small Button Text */
  color:black;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  border: solid 3px black;
  border-radius: 20px;
}

.bg-success {
  background: #CDFFCC !important;
  color:#0FBE0C;
  border-radius: 7px;
}
