/*
BASE HTML
*/

:root {
  --white-color-hsl: 0, 0%, 100%;
  --white-color: hsl(var(--white-color-hsl));

  --orange:#EF7C4E;
  --orange-bg:#ff7b00;
  --orange-bg-light:#fca555;
  --success: #0FBE0C;
  --bg-success: #CDFFCC;
  --bg-denied:#ffcccc;
  --denied: #F6050B;
  --gray: #F6F7F9;
  --muted-color: #95959C;

  --sp-orange-color: hsl(16, 80%, 60%);
  --sp-orange-color-light: hsl(16, 80%, 70%);
  --sp-orange-color-very-light: hsl(16, 80%, 95%);
}

@font-face {
  font-family: 'rubik';
  src: local('rubik'),
   url('./static/fonts/Rubik/Rubik-VariableFont_wght.ttf') format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'rubik';
  -ms-word-break: break-word;
  word-break: break-word;
}

#root {
  height: 100vh;
  width: 100vw;
  max-width: 956px;
  display: flex;
  align-items: center;
}

.center{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

h1 {
  font-size: 2.69rem;
  font-weight: bold;
}

h2 {
  font-size: 1.89em;
  font-weight: 700;
  font-style: bold;
}

h3 {
  font-size: 1.33rem;
}

h4 {
  font-size:1.23rem;
}

h5 {
  font-size:1.05rem;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

p {
  font-weight: 300;
  font-size: 1.3rem;
  color: #95959C;
}

small {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #959191;
}

.text-color-primary{
  color: var(--orange);
}

.header {
  margin-bottom: 2rem;
  position:relative;
  border-radius: 50px 50px 0 0;
  height: 27rem;
  background: linear-gradient(to left, var(--orange-bg), var(--orange-bg-light));
}

footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  padding: 1.5rem;
}

.container-fluid {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  overflow:hidden;
}

.card{
  height: 95%;
  width: 100%;
  left: 25%;
  right: 25%;
  border: none;
}

@media (min-width: 1400px) {
  .card{
    height: 80%;
    left: 50%;
  }
}

@media (max-width: 1000px) {
  .card{
    width: 100%;
    left: 1%;
  }
  .header {
    margin-bottom: 2rem;
    position:relative;
    border-radius: 50px 50px 0 0;
    min-height: 22px;
  }
}

.small-header {
  background-image: linear-gradient(to right, var(--sp-orange-color-light), var(--sp-orange-color));
  align-items: center;
  min-height: 188px;
  height: 23.9%;
  background-size: auto;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, .5);
  overflow:hidden;
  transition:all 0.69s linear;
  -webkit-transition: all 0.69s linear;
  -webkit-transition:all 0.69s linear;
}


/*
ELEMENTS
*/

.team-info {
  position:absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 83%;
  left: 3.5%;
}

.team-info h4 {
  margin-top: 0.3rem;
}

.team-info img {
  height:92px;
  width:92px;
  border: 8px solid white;
  border-radius:66px;
  background:white;
}

.small-team-info {
  position: absolute;
  bottom: 20%;
  left: 50%;
  color:white;
  transform: translateX(-50%);
  text-align:center;
}

.back {
  color:white;
  position:absolute;
  display:flex;
  top: 15%;
  left: 5%;
  justify-content: center;
  align-items:center;
  cursor:pointer;
}

.card-active{
  border-radius: 10px;
  padding: 2rem;
  gap: 2rem;
  color: #000;
  border: 1.5px solid var(--orange) !important;
}

.card-disabled{
  border-radius: 10px;
  color: var(--muted-color) !important;
}

/*
BOOSTRAP OVERRIDES
*/

.border-color-primary{
  border: 1.5px solid var(--orange);
}

.text-edit{
  color: var(--orange);
  cursor: pointer;
  text-decoration: underline;
}

.text-edit:hover{
  color: var(--orange);
  text-decoration: underline;
  transition: filter 0.2s;
  filter: brightness(0.7)
}

.ticket-select{
  min-height:50px !important;
  min-width:50px !important;
  width:100%;
  height:100%;
  text-align: left !important;
}

.btn-primary {
  background: var(--orange);
  border-radius: 9px;
  color:white;
  border: none;
  min-height:60px;
  font-weight: 700;
  padding:0;
  margin:0;
  width:100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary:hover{
  background: var(--orange);
  transition: filter 0.2s;
  filter: brightness(0.9)
}

.btn-primary:disabled {
  opacity:.5;
  cursor:not-allowed;
}

.text-muted{
  color: var(--muted-color);
}

.btn-secondary {
  height: 164px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Small Button Text */
  color:black;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  border: solid 3px black;
  border-radius: 20px;
}

.bg-success {
  background-color: var(--bg-success) !important;
  color:var(--success);
  border-radius: 7px;
  width: 60%;
}

.bg-gray{
  background-color: var(--gray) !important;
  border-radius: 0px 0px 50px 0px;
  width: 35%;
  height: 100vh;
  margin-top: -3.5rem;
  margin-right: -3.5rem;
}

.bg-denied {
  background: var(--bg-denied) !important;
  color:var(--denied);
  border-radius: 7px;
  width: 60%;
}

.btn-secondary{
  background-color: var(--gray) !important;
}

.btn-secondary:hover{
  background-color: rgba(185, 175, 175, 0.315);
  transition: filter 2s;
  filter: brightness(0.99)
}

.container {
	width: 40vw;
	max-width: 100%;
	padding: 30px;
	margin: auto;
}


.sp-progress {
  display: flex;
  height: 36px;
  background-color: var(--white-color);
  box-shadow: inset 0 0 0 2px var(--sp-orange-color);
  border-radius: 36px;
}

.sp-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: var(--sp-orange-color);
  background-image: linear-gradient(to right, var(--sp-orange-color-light), var(--sp-orange-color));
  border-radius: 36px;
}

.sp-progress-bar-animated {
  position: relative;
}

.sp-progress-bar-animated::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: sp-progress-bar-shine 2s infinite;
  border-radius: 36px;
  background: linear-gradient(to right , transparent, var(--sp-orange-color-very-light));
}

@keyframes sp-progress-bar-shine {
  from {
    transform: translateX(-100%);
    opacity: 0.5;
  }

  to {
    transform: translateX(0);
      opacity: 0.1;
    }
}

.avatar-img{
  width: 5rem;
  height: 5rem;
  border-radius: 30px;
}

.tooltip {
  display:inline-block;
  position:relative;
  text-align: justify;
}

.tooltip .right {
  min-width:200px;
  max-width:80px;
  top:50%;
  left:100%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#000000;
  background-color:#FFFFFF;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  border:1px solid #FF9966;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.tooltip:hover .right {
  visibility:visible; opacity:1;
}

.tooltip .right i {
  position:absolute;
  top:50%;
  right:100%;
  margin-top:-12px;
  width:12px;
  height:24px;
  overflow:hidden;
}

.tooltip .right i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:0;
  top:50%;
  transform:translate(50%,-50%) rotate(-45deg);
  background-color:#FFFFFF;
  border:1px solid #FF9966;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.responsive-page-selection{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
}
.responsive-ticket-selection{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}


@media (max-width: 576px) {
  .card{
    border: none;
    left: 0%;
    right: 0%;
  }

  .team-info {
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    left: 9%;
  }

  .column-display-mobile{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .responsive-page-selection{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  .responsive-ticket-selection{
    display: flex;
    align-items: start;
    flex-direction: column;
  }
  .responsive-ticket-selection select {
    text-align: left !important;
    width: 30vw;
  }
  .bg-gray{
    border-radius: 10px;
    width: 100%;
    height: 200%;
    margin-top: 2rem;
  }
  .container {
    width: 100vw;
    max-width: 100%;
    padding: 30px;
    margin: auto;
  }
  .container-fluid {
    border-radius: 0;
    min-height:700px;
    min-width:333px;
    margin: 0 auto;
    width: 100vw;
    height: 100%;
    overflow: auto;
  }
  .header {
    border-radius: 0;
    position:relative;
    display:flex;
    min-height:200px;
    height:35%;
  }
  footer {
    display: none;
  }
}
