{% extends "account/email/base_message.html" %}

{% load account %}

{% block content %}
    {% user_display user as user_display %}
    <p>
        You're receiving this e-mail because user <strong>{{ user_display }}</strong> has given your e-mail address to register an account on SocialPass.
    </p>
    <p>
        To confirm this is correct, go to the following link:
    </p>
    <p style="margin-bottom: 0">
        <a href="{{ activate_url }}">{{ activate_url }}</a>
    </p>
{% endblock %}
