{% extends "account/email/base_message.html" %}

{% block content %}
    <p>
        You're receiving this e-mail because you or someone else has requested a password for your user account. It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
    </p>
    <p {% if not username %}style="margin-bottom: 0;"{% endif %}>
        <a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
    </p>
    {% if username %}
        <p style="margin-bottom: 0;">
            In case you forgot, your username is <strong>{{ username }}</strong>.
        </p>
    {% endif %}
{% endblock %}
