{% extends "account/email/base_message.html" %}

{% block content %}
<p>
	You're receiving this e-mail because you or someone else has requested a password for your user account. It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
</p>
<div style="
	text-align: center;
	margin: 16px 0;
	padding: 16px;
	background-color: #ecf0f1;
	border-radius: 6px;"
>
	<a href="{{ password_reset_url }}" style="
		text-decoration: none;
		font-weight: bold;
		font-size: 18px;
		display: inline-block;
		padding: 12px 26px;
		color: #fff;
		background-color: #3995b8;
		border-radius: 6px;"
	>
		Reset Password
	</a>
</div>
{% if username %}
	<p>
		In case you forgot, your username is <em>{{ username }}</em>.
	</p>
{% endif %}
{% endblock %}