:root {
    --base-body-bg-color: var(--gray-color-light);
    --base-border-radius: 0.4rem;
}

.dark-mode {
    --base-body-bg-color: var(--dark-color-very-dim);
}

/* Ticket tier (checkbox or radio) */

.ticket-tier {
    position: relative;
    display: block;
}

.ticket-tier-input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.ticket-tier-label {
    position: relative;
    display: block;
    height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding: 1rem 2rem;
    background-color: var(--base-content-bg-color);
    border: var(--base-border-width) var(--base-border-style) var(--border-color);
    border-radius: var(--rounded-2-border-radius);
}

@media (max-width: 576px) {
    .ticket-tier-label {
        padding: 1rem;
    }
}

.ticket-tier-input:checked+.ticket-tier-label {
    background-color: var(--primary-color-very-light);
    border-color: var(--primary-color);
    z-index: 1;
}

.dark-mode .ticket-tier-input:checked+.ticket-tier-label {
    background-color: var(--primary-color-very-dim);
    border-color: var(--primary-color-dim);
}

.ticket-tier-check {
    display: none;
    margin-right: 0.5rem;
    color: var(--primary-color);
}

.ticket-tier-input:checked+.ticket-tier-label .ticket-tier-check {
    display: inline;
}

.ticket-tier-uncheck {
    margin-right: 0.5rem;
}

.ticket-tier-input:checked+.ticket-tier-label .ticket-tier-uncheck {
    display: none;
}

.ticket-tier-input:focus+.ticket-tier-label {
    box-shadow: 0 0 0 0.4rem hsla(var(--primary-color-hsl), 0.2);
    z-index: 2;
}

.ticket-tier-input:disabled+.ticket-tier-label {
    background-color: var(--base-body-bg-color);
    border-color: hsla(var(--black-color-hsl), 0.35);
    cursor: not-allowed;
    opacity: 0.75;
}

.ticket-tier-input:disabled+.ticket-tier-label .ticket-tier-controls {
    display: none;
}

/* Ticket tier group */

.ticket-tier-group {
    display: flex;
    vertical-align: middle;
}

.ticket-tier-group>.ticket-tier {
    flex: 1 1 auto;
}

.ticket-tier-group>.ticket-tier:not(:first-child)>.ticket-tier-label {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.ticket-tier-group>.ticket-tier:not(:last-child)>.ticket-tier-label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* Input group */

.input-group-pill>*:first-child {
    border-top-left-radius: var(--rounded-pill-border-radius);
    border-bottom-left-radius: var(--rounded-pill-border-radius);
}

.input-group-pill>*:last-child {
    border-top-right-radius: var(--rounded-pill-border-radius);
    border-bottom-right-radius: var(--rounded-pill-border-radius);
}

/* Utilities and related */

.border-blend {
    border-color: var(--white-color) !important;
}

.dark-mode .border-blend {
    border-color: var(--dark-color-very-light) !important;
}

@media (max-width: 576px) {
    .fs-base-n4-sm-down {
        font-size: calc(var(--base-font-size) - 0.4rem) !important;
    }
}

.ws-820 {
    width: 82rem !important;
}