{% extends "root/base.html" %}
{% load static i18n %}
{% block content %}
<div>
  <div class="row mt-4">
    <div class="col-lg-6 mb-lg-0 mb-4">
      <div class="card h-100 p-3 align-items-center">
        <div class="icon-container fs-2 bg-discord text-white mx-auto rounded-circle d-flex justify-content-center mt-3 mb-4">
          <img src="{% static 'images/dashboard-airdrop-gate.png'%}" style="width: 50px;" class="" alt="...">
        </div>
        <h5 class="text-secondary">Airdrop Gate</h5>
        <p>Create and manage an Airddrop Gate token for your NFT.</p>
        <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto stretched-link" href="{% url 'airdropgate_list' request.resolver_match.kwargs.team_pk %}">
          Get started
          <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card h-100 p-3 align-items-center">
        <div class="icon-container fs-2 bg-discord text-white mx-auto rounded-circle d-flex justify-content-center mt-3 mb-4">
          <img src="{% static 'images/dashboard-ticket-gate.png'%}" style="width: 50px;" class="" alt="...">
        </div>
        <h5 class="text-secondary">Ticket Gate</h5>
        <p>Create and manage a Ticket Gate token for your NFT.</p>
        <a class="text-white text-sm font-weight-bold mb-0 icon-move-right mt-auto stretched-link" href="{% url 'ticketgate_list' request.resolver_match.kwargs.team_pk %}">
          Get started
          <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
