{% extends "account/auth_base.html" %}
{% load static i18n get_chain_name crispy_forms_tags %}

{% block title %}Delete Account - SocialPass {% endblock %}

{% block navbar_page_name_1 %}Delete Account {% endblock %}
{% block navbar_page_name_2 %}Delete Account {% endblock %}

{% block inner %}
<div class="row">
  <div class="col-sm-10 col-md-8 mx-auto">
    <div class="card mb-4">
      <div class="card-header py-0">
      </div>
      <div class="card-body py-2">
        <h3 class="font-weight-bolder">Delete account</h3>
        <p>Are you sure you want to delete your account? Account deletion is irreversible.</p>
        <form class="form" method="post" onsubmit="return confirm('Delete Account Forever?');">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-start">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm ms-auto">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
