{% extends "dashboard_organizer/base_simple.html" %}

{% load static i18n get_user_primary_email crispy_forms_tags %}

{% block head_title %}
    {% trans "Change Password" %} - SocialPass
{% endblock head_title %}
{% block content %}
    <!-- Content start -->
    <div class="my-4">
        <a href="{% url 'dashboard_organizer:dashboard_redirect' %}">
            <i class="fa-light fa-arrow-left me-1"></i>
            {% trans "Back to Dashboard" %}
        </a>
    </div>
    <h1 class="h3 mb-0">{% trans "Change Password" %}</h1>
    <p class="text-body-secondary">
        {% trans "Use the following form to change your password." %}
    </p>
    <div class="card border-0 rounded-4 shadow-sm">
        <div class="card-body py-lg-4">
            <form method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="mb-0">
                            {% for error in form.non_field_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% for input in form.hidden_fields %}
                    {{ input }}
                {% endfor %}
                {% for input in form.visible_fields %}
                    <div class="mb-3">{% include "forms/input.html" %}</div>
                {% endfor %}
                <div class="text-end mt-3">
                    <button type="submit" class="btn btn-primary">
                        {% trans "Change Password" %}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Team form end -->
{% endblock content %}
