{% extends "bases/base_secondary.html" %}

{% load account %}

{% block head_title %}Change Password - SocialPass{% endblock %}

{% block inner %}
<p class="mb-5">
	<a href="{% url 'account_login' %}" class="fw-bold"><i class="fa-regular fa-arrow-left me-5"></i> Sign In</a>
</p>
<h1 class="fsr-3 text-strong fw-700 mt-0">Change Password</h1>
<div class="alert alert-success d-flex align-items-center px-15 py-10 my-20" role="alert">
	<i class="fa-regular fa-check-circle me-15 text-success-dim-lm text-success-light-dm"></i>
	<span>Your password has been changed successfully.</span>
</div>
<p>
	Go back to the <a href="{% url 'account_login' %}" class="fw-bold">sign in</a> page and use your new password to login to your account.
</p>
{% endblock %}
