{% extends "account/new/base.html" %}

{% load account %}

{% block head_title %}Password Reset - SocialPass{% endblock %}

{% block inner %}
<p class="mb-5">
    <a href="{% url 'account_login' %}" class="fw-bold"><i class="fa-solid fa-arrow-left me-5"></i> Sign In</a>
</p>
<h1 class="fsr-3 text-strong fw-700 mt-0">Password Reset</h1>
<p>
    Enter your e-mail address below, and we'll send you an e-mail allowing you to reset your password.
</p>

<form method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger text-danger px-15 py-10 subpixel-antialiased" role="alert">
            <ul class="unordered-list bulleted m-0">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% for input in form.hidden_fields %}
        {{ input }}
    {% endfor %}

    {% for input in form.visible_fields %}
        <div class="form-group">
            <div class="position-relative">
                <input
                    type="{{ input.field.widget.input_type }}"
                    name="{{ input.name }}"
                    value="{{ input.value|default_if_none:'' }}"
                    {% if input.field.widget.input_type != "hidden" %}
                        class="ps-40 form-control {% if input.errors %}is-invalid{% endif %}"
                        id="{{ input.auto_id }}"
                    {% endif %}
                    {% if input.field.required %}
                        required="required"
                    {% endif %}
                    {% for k,v in input.field.widget.attrs.items %}
                        {{ k }}="{{ v }}"
                    {% endfor %}
                    autofocus="true"
                />
                <label class="position-absolute top-50 start-0 translate-y-middle ps-15 opacity-25" for="{{ input.id_for_label }}">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="visually-hidden">Login</span>
                </label>
            </div>

            {% if input.errors %}
                <ul class="unordered-list bulleted mt-5 text-danger subpixel-antialiased">
                    {% for error in input.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}

    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
    </div>
</form>

<p class="text-muted fs-base-n2 pt-10 border-top border-dotted border-bottom-0 border-start-0 border-end-0">
    Please <a href="mailto:support@socialpass.io" class="fw-bold" target="_blank">contact us</a> and let us know if you have any trouble resetting your password.
</p>
{% endblock %}
