{% extends "bases/base_secondary.html" %}

{% load static account %}

{% block head_title %}Password Reset - SocialPass{% endblock %}

{% block inner %}
<p class="mb-5">
    <a href="{% url 'dashboard:account_login' %}" class="fw-bold"><i class="fa-regular fa-arrow-left me-5"></i> Sign In</a>
</p>
<h1 class="fsr-3 text-strong fw-700 mt-0">Password Reset</h1>
<p>
    We have sent you an e-mail that contains a link for resetting your password.
</p>
<div class="hs-200 d-flex align-items-center justify-content-center my-40">
	<img src="{% static 'images/illustrations/message_sent.svg' %}" alt="message_sent" class="d-block h-100">
</div>
<p class="text-muted fs-base-n2 pt-10 border-top border-dotted border-bottom-0 border-start-0 border-end-0">
	Make sure to check your spam folder. If you do not receive it within a few minutes, please <a href="https://nftylabs.typeform.com/to/A70KW4vo" class="fw-bold" target="_blank">contact us</a>.
</p>
{% endblock %}


