{% extends "redesign/auth/base.html" %}
{% load account static i18n crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %} - SocialPass{% endblock %}

{% block inner %}
<div class="card border-0 rounded-4 shadow-sm">
	<div class="card-body p-lg-4">
		<p>
			<a href="{% url 'account_login' %}"><i class="fa-light fa-arrow-left me-1"></i>{% trans "Sign In" %}</a>
		</p>
		<h1 class="h3 mb-0">{% trans "Password Reset" %}</h1>
		<p class="text-body-secondary">
			{% trans "We have sent you an e-mail that contains a link for resetting your password." %}
		</p>
	</div>
</div>
{% endblock %}


