{% extends "account/base.html" %}
{% load account static i18n crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}- SocialPass{% endblock %}

{% block inner %}
<div class="card border-0 rounded-4 shadow-sm">
	<div class="card-body p-lg-4">
		<p>
			<a href="{% url 'account_login' %}"><i class="fa-light fa-arrow-left me-1"></i>{% trans "Sign In" %}</a>
		</p>
		<h1 class="h3 mb-0">{% trans "Password Reset" %}</h1>
		<p class="text-body-secondary">
			{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset your password." %}
		</p>
		<form method="POST" action="{% url 'account_reset_password' %}">
			{% csrf_token %}
			{% if form.non_field_errors %}
				<div class="alert alert-danger" role="alert">
					<ul class="mb-0">
						{% for error in form.non_field_errors %}
							<li>{{ error|escape }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% for input in form.hidden_fields %}
				{{ input }}
			{% endfor %}
			<div class="mb-3">
				{% with form.email as input %}
					{% include "forms/input.html" %}
				{% endwith %}
			</div>
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<div>
				<button class="btn btn-primary w-100 d-block" type="submit">{% trans "Reset Password" %}</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
