{% extends "redesign/auth/base.html" %}
{% load account static i18n crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %} - SocialPass{% endblock %}

{% block inner %}
<div class="card border-0 rounded-4 shadow-sm">
	<div class="card-body p-lg-4">
		<p>
			<a href="{% url 'account_login' %}"><i class="fa-light fa-arrow-left me-1"></i>{% trans "Sign In" %}</a>
		</p>
		<h1 class="h3 mb-0">
			{% if token_fail %}
				{% trans "Bad Token" %}
			{% else %}
				{% trans "Change Password" %}
			{% endif %}
		</h1>
		{% if token_fail %}
			{% url 'account_reset_password' as passwd_reset_url %}
			<p>
				{% trans "The password reset link was invalid, possibly because it has already been used." %} <a href="{{ passwd_reset_url }}">{% trans "Request new one" %} &rarr;</a>
			</p>
		{% else %}
			{% if form %}
				<p>
					{% trans "Please use the form below to reset your password." %}
				</p>
				<form method="POST" action=".">
					{% csrf_token %}
					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							<ul class="mb-0">
								{% for error in form.non_field_errors %}
									<li>{{ error|escape }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
					{% for input in form.hidden_fields %}
						{{ input }}
					{% endfor %}
					<div class="mb-3">
						{% with form.password1 as input %}
							{% include "redesign/forms/input.html" %}
						{% endwith %}
					</div>
					<div class="mb-3">
						{% with form.password2 as input %}
							{% include "redesign/forms/input.html" %}
						{% endwith %}
					</div>
					<div>
						<button class="btn btn-primary w-100 d-block" type="submit">{% trans "Change Password" %}</button>
					</div>
				</form>
			{% else %}
				<p>
					{% trans "You password has been changed." %}
				</p>
			{% endif %}
		{% endif %}
	</div>
</div>
{% endblock %}

