{% extends "redesign/auth/base.html" %}
{% load account static i18n crispy_forms_tags %}

{% block head_title %}{% trans "Create Profile" %} - SocialPass{% endblock %}

{% block inner %}
<div class="card border-0 rounded-4 shadow-sm">
	<div class="card-body p-lg-4">
		{% with request.user.membership_set.all as memberships %}
			{% if memberships.count > 0 %}
				<p>
					<a href="{% url 'dashboard_organizer:dashboard_redirect' %}"><i class="fa-light fa-arrow-left me-1"></i>{% trans "Back to dashboard" %}</a>
				</p>
			{% endif %}
		{% endwith %}
		<h1 class="h3 mb-0">{% trans "Create Profile" %}</h1>
		<p class="text-body-secondary">
			{% trans "Use the form below to create your very own profile and get started with SocialPass." %}
		</p>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% if form.non_field_errors %}
				<div class="alert alert-danger" role="alert">
					<ul class="mb-0">
						{% for error in form.non_field_errors %}
							<li>{{ error|escape }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			{% for input in form.hidden_fields %}
				{{ input }}
			{% endfor %}
			<h4 class="h5">{% trans "Profile Name" %}</h4>
			<div class="mb-3">
				{% with form.name as input %}
					{% include "redesign/forms/input.html" %}
				{% endwith %}
			</div>
			<br />
			<h4 class="h5">{% trans "Description & Image (Optional)" %}</h4>
			<div class="mb-3">
				{% with form.description as input %}
					{% include "redesign/forms/textarea.html" %}
				{% endwith %}
			</div>
			{% with form.image as input %}
				{{ input|as_crispy_field }}
			{% endwith %}
			<div class="text-end mt-3">
				<button type="submit" class="btn btn-primary w-100 d-block">{% trans "Create Profile" %}</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

