{% extends "account/base.html" %}

{% load account static i18n crispy_forms_tags %}

{% block head_title %}
    {% trans "Create Profile" %} - SocialPass
{% endblock %}
{% block inner %}
    {% with request.user.membership_set.all as memberships %}
        {% if memberships.count > 0 %}
            <p>
                <a class="text-decoration-none"
                   href="{% url 'dashboard_organizer:dashboard_redirect' %}"><i class="fa-light fa-arrow-left me-1"></i>{% trans "Back to dashboard" %}</a>
            </p>
        {% endif %}
    {% endwith %}
    <div class="card border-0 rounded-4 shadow-sm">
        <div class="card-body p-lg-4">
            <h1 class="h3 mb-0">{% trans "Create Profile" %}</h1>
            <p class="text-body-secondary">
                {% trans "Use the form below to create your very own profile and get started with SocialPass." %}
            </p>
            {% include "account/team_form.html" %}
        </div>
    </div>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'js/slugify.js' %}"></script>
    <script type="text/javascript">
    const nameInput = document.getElementById("id_name");
    const slugInput = document.getElementById("id_slug");
    const slugPreview = document.getElementById("slug-preview")
    nameInput.addEventListener("input", function(e) {
        let slug = slugify(nameInput.value, {lower: true})
        slugInput.value = slug;
        if (slug === "") slug = "NOT-SET";
        slugPreview.innerText = slug;
    });

    // In case of error
    let slug = slugify(nameInput.value, {lower: true})
    slugInput.value = slug;
    if (slug === "") slug = "NOT-SET";
    slugPreview.innerText = slug;
    
    </script>
{% endblock %}
