{% extends "bases/base_secondary.html" %}

{% load account %}

{% block head_title %}Verify Your E-mail Address - SocialPass{% endblock %}

{% block inner %}
<p class="mb-5">
	<a href="{% url 'account_login' %}" class="fw-bold"><i class="fa-regular fa-arrow-left me-5"></i> Sign In</a>
</p>
<h1 class="fsr-3 text-strong fw-700">Verify Your E-mail Address</h1>
<p>
	We have sent an e-mail to you for verification. Follow the link provided to verify your account.
</p>
<p class="text-muted fs-base-n2 pt-10 border-top border-dotted border-bottom-0 border-start-0 border-end-0">
	Make sure to check your spam folder. Please <a href="#" data-hm-toggle="modal" data-hm-target="discord-support-ticket-modal" class="fw-bold" target="_blank">contact us</a> and let us know if you do not receive it within a few minutes.
</p>
{% endblock %}
