{% extends 'scanner/base_scanner.html' %}

{% load i18n static %}

{% block content %}
    <div class="mt-auto py-3">
        <div class="card border-0 rounded-4 shadow">
            <div class="card-body">
                <div class="d-flex align-items-center mb-2">
                    <a href="{% url 'dashboard_organizer:scanner2' event.scanner_id %}"
                       class="btn btn-secondary btn-sm me-2"
                       aria-label="Go Back"
                       data-bs-toggle="tooltip"
                       data-bs-title="Go Back">
                        <i class="fa-light fa-arrow-left"></i>
                    </a>
                    <h1 class="h4 text-primary-emphasis m-0">
                        {% trans "Manual Check-In" %}
                    </h1>
                </div>
                <p class="text-body-secondary">
                    {% trans "Use the following form to search and manually check-in ticket holders." %}
                </p>
                <form>
                    <div class="input-group">
                        <input type="text"
                               name="search"
                               class="form-control"
                               value="{{ request.GET.search }}"
                               placeholder="Search using name or email"
                               required>
                        <button type="submit" class="btn btn-primary">
                            {% trans "Search" %}
                        </button>
                    </div>
                </form>
            </div>
            {% if request.GET.search %}
                <div class="card-header px-4">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link active"
                                    id="nav-tickets-tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#nav-tickets"
                                    role="tab"
                                    aria-controls="nav-tickets"
                                    aria-selected="true">
                                {% trans "Tickets" %} ({{ tickets.count }})
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active"
                             id="nav-tickets"
                             role="tabpanel"
                             aria-labelledby="nav-tickets-tab"
                             tabindex="0">
                            {% if tickets.count > 0 %}
                                {% for ticket in tickets %}
                                    <div class="pt-2 {% if not forloop.first %}mt-2 border-top{% endif %}">
                                        <div class="d-flex align-items-center">
                                            <div class="lh-sm">
                                                <div class="text-break fw-bold">
                                                    {{ ticket.checkout_session.name }}
                                                </div>
                                                <div class="text-break" style="font-size: var(--bs-font-size-sm);">
                                                    {{ ticket.checkout_session.email }}
                                                </div>
                                                <div class="text-break text-body-secondary"
                                                     style="font-size: var(--bs-font-size-sm)">
                                                    {{ ticket.ticket_tier.name }}
                                                    {% if ticket.selected_guests > 0 %}
                                                        <span class="badge text-bg-secondary py-0 lh-sm rounded-1">+ {{ ticket.selected_guests }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if ticket.redeemed_at %}
                                                <div class="ms-auto">
                                                    <span class="btn btn-secondary btn-sm d-block specific-w-100 disabled pe-none">{% trans "Checked-In" %}</span>
                                                </div>
                                            {% else %}
                                                <form class="ms-auto"
                                                      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                                      hx-post="{% url 'dashboard_organizer:scanner_manual_ticket_post' object.scanner_id ticket.pk %}"
                                                      hx-trigger="submit">
                                                    <button type="submit" class="btn btn-primary btn-sm d-block specific-w-100">
                                                        {% trans "Check-In" %}
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </div>
                                        {% if ticket.redeemed_at %}
                                            <div class="text-body-secondary" style="font-size: var(--bs-font-size-sm)">
                                                <i class="fa-light fa-clock me-1"></i>
                                                <strong>{% trans "Redeemed at" %}:</strong>
                                                {{ ticket.redeemed_at }}
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="mx-auto specific-w-200">
                                    <img src="{% static 'images/empty.png' %}"
                                         alt="empty"
                                         class="d-block img-fluid">
                                </div>
                                <p class="text-body-secondary text-center">
                                    {% trans "Nothing found." %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block extra_body %}
    <script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}
