{% load static %}

{% for event in events %}
	<div class="col-sm-8 offset-sm-2 col-md-6 offset-md-0 col-lg-4 {% if from == 'featured_events' and forloop.counter == 3 %}offset-md-3 offset-lg-0{% endif %}">
		<a href="{% url 'checkout:checkout_one' event.slug %}" class="event-card card card-link p-0">
			<!-- Event cover image start -->
			<div class="d-flex align-items-center justify-content-center w-100 hs-200 bg-gray-very-light-lm bg-darkgray-very-dim-dm rounded-top overflow-hidden pe-none">
        <!-- Backwards compatibility -->
        {% if not event.cover_image %}
          <img src="" class="w-auto h-100" alt="{{ event.title }} cover image">
        {% else %}

				  {% if event.cover_image.height > event.cover_image.width %}
					  <!-- Portrait -->
					  <img src="{{ event.cover_image.url }}" class="w-auto h-100" alt="{{ event.title }} cover image">
				  {% else %}
					  <!-- Landscape -->
					  <img src="{{ event.cover_image.url }}" class="w-100 h-auto" alt="{{ event.title }} cover image">
				  {% endif %}
        {% endif %}
			</div>
			<!-- Event cover image end -->

			<!-- Event information start -->
			<div class="p-content mb-20 hs-150 overflow-y-hidden">
				<h2 class="fsr-5 fw-700 text-strong mt-0 mb-10">
					{{ event.title }}
				</h2>
				<div class="fs-base-n2 d-flex align-items-center">
					<div class="ws-25 flex-shrink-0">
						<i class="fa-regular fa-clock"></i>
					</div>
					<div class="text-truncate">
						{{ event.start_date }}
					</div>
				</div>
				<div class="fs-base-n2 d-flex align-items-center mt-5">
					<div class="ws-25 flex-shrink-0">
						<i class="fa-regular fa-location-dot"></i>
					</div>
					<div class="text-truncate">
						{{ event.localized_address_display }}
					</div>
				</div>
			</div>
			<!-- Event information end -->
		</a>
	</div>
{% endfor %}
