<div class="px-content pt-5 border-bottom">
    <ul class="tabs tabs-justified border-0 m-0">
        {% if url_name == 'event_create' %}
            <li class="tab-item">
                <a href="{% url 'dashboard:event_create' current_team.public_id %}" class="tab-link px-5 active">
                    <i class="fa-regular fa-circle-1 text-primary me-5"></i>
                    <strong>
                        <span class="d-none d-sm-inline">Information</span>
                        <span class="d-sm-none">Info.</span>
                    </strong>
                </a>
            </li>
            <li class="tab-item">
                <a href="#" class="tab-link px-5 disabled" tabindex="-1">
                    <i class="fa-regular fa-circle-2 me-5"></i>
                    <strong>
                        <span class="d-none d-sm-inline">Ticket Tiers</span>
                        <span class="d-sm-none">Tkt. Tiers</span>
                    </strong>
                </a>
            </li>
            <li class="tab-item">
                <a href="#" class="tab-link px-5 disabled" tabindex="-1">
                    <i class="fa-regular fa-circle-3 me-5"></i>
                    <strong>
                        <span class="d-none d-sm-inline">Go Live</span>
                        <span class="d-sm-none">Live</span>
                    </strong>
                </a>
            </li>
        {% else %}
            <li class="tab-item">
                <a href="{% url 'dashboard:event_update' current_team.public_id event.pk %}" class="tab-link px-5 {% if url_name == 'event_update' %}active{% endif %}">
                    <i class="fa-regular fa-circle-1 text-primary me-5"></i>
                    <strong>
                        <span class="d-none d-sm-inline">Information</span>
                        <span class="d-sm-none">Info.</span>
                    </strong>
                </a>
            </li>
            <li class="tab-item">
                <a href="{% url 'dashboard:event_tickets' current_team.public_id event.pk %}" class="tab-link px-5 {% if url_name == 'event_tickets' or url_name == 'ticket_tier_create' %}active{% endif %}">
                    <i class="fa-regular fa-circle-2 text-primary me-5"></i>
                    <strong>
                        <span class="d-none d-sm-inline">Ticket Tiers</span>
                        <span class="d-sm-none">Tkt. Tiers</span>
                    </strong>
                </a>
            </li>
            <li class="tab-item">
                <a href="{% url 'dashboard:event_go_live' current_team.public_id event.pk %}" class="tab-link px-5 {% if url_name == 'event_go_live' %}active{% endif %}">
                    <i class="fa-regular fa-circle-3 text-primary me-5"></i>
                    <strong>
                        <span class="d-none d-sm-inline">Go Live</span>
                        <span class="d-sm-none">Live</span>
                    </strong>
                </a>
            </li>
        {% endif %}
    </ul>
</div>