<div class="border-bottom hs-md-100">
    <div class="p-content d-flex h-100">
        <div class="align-self-center">
            <h1 class="content-title m-0 fs-base-p6">
                {% if url_name == 'event_create' %}
                    Create Event
                {% else %}
                    {{ event.title }}
                {% endif %}
            </h1>
            <p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">
                {% if url_name == 'event_create' %}
                    Use the following form to create an event.
                {% else %}
                    View details or edit your event's information.
                {% endif %}
            </p>
        </div>
        {% if url_name != 'event_create' %}
            <div class="ps-15 ms-auto align-self-center">
                <a href="{% url 'dashboard_organizer:event_delete' current_team.public_id event.pk %}" class="btn btn-danger">
                    <i class="fa-solid fa-trash-can"></i>
                    <span class="ms-5 d-none d-sm-inline">Delete</span>
                </a>
            </div>
        {% endif %}
    </div>
</div>