{% extends "bases/base_secondary.html" %}

{% load account %}

{% block head_title %}Accept Invitation - SocialPass{% endblock %}

{% block inner %}
<p class="mb-5">
    <a href="{% url 'dashboard:account_login' %}" class="fw-bold"><i class="fa-regular fa-arrow-left me-5"></i> Sign In</a>
</p>
<h1 class="fsr-3 text-strong fw-700 mt-0">Accept Invitation</h1>
<p>
    Confirm the invitation to <a href="mailto:{{ invitation.email }}" class="fw-bold">{{invitation.email}}</a>{% if invitation.team %} from <strong>{{invitation.team.name}}</strong>{% endif %}.
</p>

<form method="POST" action="{% url 'team_accept_invite' request.resolver_match.kwargs.key %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="alert alert-danger text-danger px-15 py-10 subpixel-antialiased" role="alert">
            <ul class="unordered-list bullet-reset m-0">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
            <i class="fa-regular fa-check-circle me-5"></i>
            Accept Invitation
        </button>
    </div>
</form>

<p class="text-muted fs-base-n2 pt-10 border-top border-dotted border-bottom-0 border-start-0 border-end-0">
    Please <a href="https://nftylabs.typeform.com/to/A70KW4vo" class="fw-bold" target="_blank">contact us</a> if you think something is wrong.
</p>
{% endblock %}
