{% extends 'redesign/scanner/base_scanner.html' %}
{% load i18n static %}

{% block extra_head %}
<style>
	#fade-me-in.htmx-added {
		opacity: 0;
	}

	#fade-me-in {
		opacity: 1;
		transition: opacity 0.25s ease-in;
	}
</style>
{% endblock extra_head %}

{% block content %}
<div class="mt-auto py-3 position-relative">
	<div class="position-relative rounded-3 overflow-hidden shadow" style="background-color: var(--bs-content-bg);">
		<!-- QR Reader -->
		<div id="qr-reader" class="w-100 h-auto" style="min-height: 100px;"></div>
		<a href="{% url 'dashboard_organizer:scanner' object.scanner_id %}" class="btn btn-secondary border-0 shadow position-absolute top-0 start-0 m-1" aria-label="Go Back">
			<i class="fa-solid fa-arrow-left"></i>
		</a>
		<div class="d-inline-flex align-items-center bg-body-secondary shadow position-absolute top-0 end-0 m-1 px-2 py-1 rounded">
			<span class="me-1" style="font-size: 12px;">{% trans "Last scan" %}:</span>
			<span class="specific-w-25 d-inline-block text-center fs-6" id="last-scan">N/A</span>
		</div>
		<div id="results">
			<div class="px-3 py-2 bg-secondary-subtle text-center">
				<i class="fa-regular fa-barcode-read fa-beat-fade me-1"></i>
				<strong>{% trans "Scanning..." %}</strong>
			</div>
		</div>
	</div>
	<div class="card border-0 rounded-4 shadow my-4">
		<div
			hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
			hx-get="{% url 'dashboard_organizer:scanner_stats' object.scanner_id %}"
			hx-trigger="reload-stats"
			class="card-body"
			id="scanner-stats-card"
		>
			<h1 class="h4 text-primary-emphasis mt-0">
				{{ object.title }}
			</h1>
			<div><i class="fa-regular fa-clock me-1"></i> {{ object.start_date }}</div>
			<div class="row mt-3">
				<div class="col">
					<div class="bg-primary-subtle text-primary-emphasis rounded-3 px-2 py-1 h-100">
						<strong class="antialiased">{% trans "Attendees:" %} <br class="d-sm-none" />{{ object.attendees_count }}</strong>
					</div>
				</div>
				<div class="col">
					<div class="bg-primary-subtle text-primary-emphasis rounded-3 px-2 py-1 h-100">
						<strong class="antialiased">{% trans "Check-Ins:" %} <br class="d-sm-none" />{{ object.attendees_scanned_count }}</strong>
					</div>
				</div>
			</div>
			<hr />
			<div class="h6">{% trans "VIP List" %}</div>
			<div class="row mt-1">
				<div class="col">
					<div class="bg-primary-subtle text-primary-emphasis rounded-3 px-2 py-1 h-100">
						<strong class="antialiased">{% trans "Total:" %} <br class="d-sm-none" />{{ manual_attendees_total }}</strong>
					</div>
				</div>
				<div class="col">
					<div class="bg-primary-subtle text-primary-emphasis rounded-3 px-2 py-1 h-100">
						<strong class="antialiased">{% trans "Redeemed:" %} <br class="d-sm-none" />{{ manual_attendees_redeemed }}</strong>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="{% url 'dashboard_organizer:scanner_manual_check_in' object.scanner_id %}" class="btn btn-primary btn-lg shadow d-block w-100">
		{% trans "Manual Check-In" %}
		<i class="fa-light fa-arrow-right ms-1"></i>
	</a>
	<!-- HTMX Form -->
	<div class="card border-0 rounded-4 shadow position-absolute z-n1 pe-none opacity-0">
		<button type="button" class="btn focus-ring d-flex align-items-center justify-content-between px-3 py-3" data-bs-toggle="collapse" data-bs-target="#qr-input-collapse" aria-expanded="false" aria-controls="qr-input-collapse" tabindex="-1">
			{% trans "QR Reader Input" %} <i class="fa-light fa-angle-down"></i>
		</button>
		<div class="collapse" id="qr-input-collapse">
			<div class="card-body border-top">
				<form
					hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
					hx-post="{% url 'dashboard_organizer:scanner2' object.scanner_id %}"
					hx-target="#results"
					hx-trigger="submit"
				>
					<div class="input-group">
						<input
							type="text"
							name="embed_code"
							id="qr-reader-input"
							class="form-control"
							placeholder="{% trans 'QR Reader Input' %}"
							required
							tabindex="-1"
						>
						<button id="qr-submit" type="submit" class="btn btn-primary rounded-end" tabindex="-1">{% trans "Submit" %}</button>
						<button id="qr-reset" type="button" onclick="resetQr()" class="btn btn-outline-danger ms-2 rounded" disabled tabindex="-1">{% trans "Reset" %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript" src="{% static 'js/html5-qrcode.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
<script>
	// Setup
	// Get elements, setup callback
	const qrInput = document.getElementById("qr-reader-input");
	const qrSubmit = document.getElementById("qr-submit");
	const qrResults = document.getElementById("results");
	const qrCodeSuccessCallback = (decodedText, decodedResult) => {
		// prevent re-scanning of same ticket
		if (qrInput.value !== decodedText){
			qrInput.value = decodedText;
			qrSubmit.disabled = false;
			qrSubmit.click();
		}
	};

	const resetQr = () => {
		qrInput.value = '';
		qrResults.innerHTML = '';
		qrSubmit.disabled = true;
	}

	// Init scanner
	const qrScanner = new Html5Qrcode("qr-reader", false);
	const config = { fps: 10 };
    const didStart = qrScanner
		.start({ facingMode: "environment" }, config, qrCodeSuccessCallback)
		.then(() => true);

	// After swap behavior on POST
	htmx.on('htmx:afterSwap', function(event) {
		if (event.detail.requestConfig.verb === 'post'){
			// Play audio
			var audio = document.getElementById('myAudio');
			var scannerStats = document.getElementById('scanner-stats-card');
			audio.muted = false;
			audio.play();

			// Reload stats
			htmx.trigger(scannerStats, "reload-stats");

			// Reset notification after 4 seconds
			setTimeout(function() {
				document.getElementById("last-scan").innerHTML = document.getElementById("fade-me-in").getAttribute("data-scan-indicator");
				document.getElementById("results").innerHTML = `
					<div class="px-3 py-2 bg-secondary-subtle text-center">
						<i class="fa-regular fa-barcode-read fa-beat-fade me-1"></i>
						<strong>Scanning...</strong>
					</div>
				`;
				document.getElementById("qr-reader-input").value = "";
			}, 4000);
		}
	});
</script>
{% endblock %}
