{% load i18n static %}
<div
	id="fade-me-in"
	class="text-bg-info fw-bold text-center px-3 py-2"
	data-scan-indicator="<i class='fa-solid fa-check-circle text-success-emphasis'></i>"
>
	<i class="fa-solid fa-warning me-1"></i>
	{{ message }}
	<div class="fw-normal">
		{% trans "Ticket Tier:" %} <strong>{{ticket.ticket_tier.ticket_type}}</strong>
	</div>
	<div class="fw-normal">
		{% trans "Party Size:" %} <strong>{{ ticket.party_size }}</strong>
	</div>
</div>
<audio id="myAudio" src="{% static 'sounds/error.wav' %}"/>