{% extends "dashboard_staff/base.html" %}

{% load static %}

{% block content %}
    <h2 class="h4 text-primary-emphasis">Teams</h2>
    {% for obj in object_list %}
        <!-- Item card start -->
        <div class="card my-3 p-3">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0 specific-w-75 specific-h-75 rounded overflow-hidden d-flex align-items-center justify-content-center border">
                    {% if obj.image %}
                        <img src="{{ obj.image.url }}" alt="team image" class="w-100 h-auto">
                    {% endif %}
                </div>
                <div class="ps-3">
                    <div class="fw-bold">{{ obj.name }}</div>
                    <div>
                        Created:
                        <span class="text-body-secondary">{{ obj.created }}</span>
                    </div>
                    <div>Team Members:</div>
                    <ul>
                        {% for member in obj.members.all %}
                            <li>
                                <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Item card end -->
    {% endfor %}
    <!-- Pagination start -->
    <div class="card my-3">
        <div class="card-body d-flex align-items-center">
            <div>
                {% if page_obj.has_previous %}
                    <a class="btn btn-secondary btn-sm"
                       href="?page={{ page_obj.previous_page_number }}">Prev</a>
                {% else %}
                    <button class="btn btn-secondary btn-sm" disabled="disabled">
                        Prev
                    </button>
                {% endif %}
            </div>
            <div class="ms-auto">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </div>
            <div class="ms-auto">
                {% if page_obj.has_next %}
                    <a class="btn btn-secondary btn-sm"
                       href="?page={{ page_obj.next_page_number }}">Next</a>
                {% else %}
                    <button class="btn btn-secondary btn-sm" disabled="disabled">
                        Next
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Pagination end -->
{% endblock %}
