{% extends "account/auth_base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Set Password" %}{% endblock %}

{% block inner %}
<h3 class="font-weight-bolder text-info text-gradient">{% translate "Set Password" %}</h3>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-gradient-alt" type="submit" name="action" value="{% translate 'Set Password' %}"/>
    </form>
{% endblock %}

