{% extends "redesign/dashboard_organizer/base.html" %}
{% load static i18n get_theme_value get_user_primary_email %}

{% block head_title %}{% trans "Go Live" %} - SocialPass{% endblock head_title %}

{% block navbar_title %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Go Live" %}{% endblock navbar_title %}

{% block navbar_title_2 %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Go Live" %}{% endblock navbar_title_2 %}

{% block content %}
<!-- Go live content start -->
<div class="row mt-4 mb-3">
	<div class="col-lg-8 mx-auto">
		{% if event.state == event.StateStatus.LIVE %}
			<h1 class="h3 mb-0">{% trans "Event is live!" %}</h1>
			<p class="text-body-secondary">
				{% trans "This event is live. Check the public page and scanner link!" %}
			</p>
		{% else %}
			<h1 class="h3 mb-0">{% trans "Let’s Publish this Event!" %}</h1>
			<p class="text-body-secondary">
				{% trans "If everything looks good, hit go live!" %}
			</p>
		{% endif %}
		<div class="card border-0 rounded-4 shadow-sm overflow-hidden">
			<div class="row g-0">
				<div class="col-sm-5 position-relative overflow-hidden d-flex align-items-center justify-content-center">
					<img src="{{ event.cover_image_url }}" alt="{{ event.title }} background image" class="position-absolute top-50 start-50 translate-middle opacity-50" style="width: 200%; height: auto; filter: blur(1.5rem);">
					<img src="{{ event.cover_image_url }}" class="img-fluid position-relative z-1" alt="{{ event.title }} cover image">
				</div>
				<div class="col-sm-7">
					<div class="card-body p-4">
						<h2 class="h4 mb-4">{{ event.title }}</h2>
						<div class="d-flex align-items-start mb-2">
							<i class="fa-light fa-calendars specific-w-25 text-primary-emphasis mt-1 flex-shrink-0"></i>
							<div>
								<span class="text-body-secondary">
									<strong class="text-body">{% trans "Start" %}:</strong>
									{% if event.start_date %}
										{{ event.start_date }}
									{% else %}
										Not set
									{% endif %}
								</span>
								{% if event.end_date %}
									<br />
									<span class="text-body-secondary"><strong class="text-body">{% trans "End" %}:</strong> {{ event.end_date }}</span>
								{% endif %}
								<br />
								<span class="text-body-secondary">
									<strong class="text-body">{% trans "Timezone" %}:</strong>
									{% if event.timezone %}
										{{ event.timezone }}
									{% else %}
										Not set
									{% endif %}
								</span>
							</div>
						</div>
						<div class="d-flex align-items-start">
							<i class="fa-light fa-location-dot specific-w-25 text-primary-emphasis mt-1 flex-shrink-0"></i>
							<span class="text-body-secondary"><strong class="text-body">{% trans "Address" %}:</strong> {{ event.localized_address_display }}</span>
						</div>
						<div class="mt-4">
							{% if event.state == event.StateStatus.LIVE %}
								<span class="px-3 py-2 rounded-pill fw-bold bg-success-subtle text-success-emphasis me-3">
									<i class="fa-solid fa-circle-small fa-beat-fade me-1"></i>
									{% trans "Live Event" %}
								</span>
							{% else %}
								<span class="px-3 py-2 rounded-pill fw-bold bg-secondary-subtle text-secondary-emphasis me-3">
									<i class="fa-light fa-pencil me-1"></i>
									{% trans "Draft Event" %}
								</span>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mt-auto mb-3">
	<div class="col-lg-8 mx-auto">
		{% if event.state == event.StateStatus.LIVE %}
			<div class="text-end">
				<a href="{% url 'checkout:checkout_one' event.slug %}" class="btn btn-link btn-lg" target="_blank">
					<i class="fa-light fa-external-link me-1"></i>
					{% trans "Public Page" %}
				</a>
				<a href="{% url 'dashboard_organizer:scanner' event.scanner_id %}" class="btn btn-link btn-lg ms-2" target="_blank">
					<i class="fa-light fa-qrcode me-1"></i>
					{% trans "Check-In (Scanner)" %}
				</a>
			</div>
		{% else %}
			<form method="post" class="text-end">
				{% csrf_token %}
				<a href="{% url 'checkout:checkout_one' event.slug %}" class="btn btn-link btn-lg" target="_blank">
					<i class="fa-light fa-external-link me-1"></i>
					{% trans "Preview Event" %}
				</a>
				<button type="submit" class="btn btn-primary btn-lg px-3 ms-2" onclick="goLive(event)">
					{% trans "Go Live!" %}
				</button>
			</form>
		{% endif %}
	</div>
</div>
<!-- Go live content end -->
{% endblock content %}

{% block extra_body %}
	<!-- Go live button processing state -->
	<script type="text/javascript">
		function goLive(event) {
			event.target.classList.add("disabled");
			event.target.innerHTML = [
		        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`,
		        `<span class="ms-1">Processing...</span>`,
		    ].join("");
		}
	</script>

	<!-- Confetti animation -->
	{% if event.state == event.StateStatus.LIVE and request.GET.is_success == "True" %}
		<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
		<script type="text/javascript">
		    setTimeout(function() {
		        confetti({
		            particleCount: 100,
		            spread: 70,
		            origin: { y: 0.6 }
		        });
		    }, 1000);
		    setTimeout(function() {
		        confetti({
		            particleCount: 100,
		            spread: 70,
		            origin: { x: 0.2, y: 0.9 }
		        });
		    }, 1500);
		    setTimeout(function() {
		        confetti({
		            particleCount: 100,
		            spread: 70,
		            origin: { x: 0.8, y: 0.9 }
		        });
		    }, 2000);
		</script>
	{% endif %}
{% endblock %}
