{% extends "redesign/dashboard_organizer/base.html" %}
{% load static i18n get_theme_value get_user_primary_email %}

{% block head_title %}{% trans "Events" %} - SocialPass{% endblock head_title %}

{% block navbar_title %}{% trans "Events by" %} &mdash; <span class="text-primary-emphasis">{{ current_team }}</span>{% endblock navbar_title %}

{% block navbar_title_2 %}{% trans "Events by" %} &mdash; <span class="text-primary-emphasis">{{ current_team }}</span>{% endblock navbar_title_2 %}

{% block content %}
<!-- Top controls start -->
<div class="my-4 d-flex align-items-center">
	<a
		href="{% url 'dashboard_organizer:event_list' current_team.slug %}"
		class="btn focus-ring me-2 {% if request.GET.state != 'LIVE' and request.GET.state != 'DRAFT' %}btn-link{% endif %}"
	>
		{% trans "All" %}
	</a>
	<a
		href="?state=LIVE"
		class="btn focus-ring me-2 {% if request.GET.state == 'LIVE' %}btn-link{% endif %}"
	>
		{% trans "Live" %}<span class="d-none d-sm-inline"> {% trans "Events" %}</span>
	</a>
	<a
		href="?state=DRAFT"
		class="btn focus-ring me-2 {% if request.GET.state == 'DRAFT' %}btn-link{% endif %}"
	>
		{% trans "Draft" %}<span class="d-none d-sm-inline"> {% trans "Events" %}</span>
	</a>
	<a
		href="{% url 'dashboard_organizer:event_create' current_team.slug %}"
		class="btn btn-primary rounded-circle px-0 ms-auto"
		data-bs-toggle="tooltip"
		data-bs-title="Create Event"
		aria-label="Create Event"
		style="width: 37px"
	>
		<i class="fa-solid fa-plus"></i>
	</a>
</div>
<!-- Top controls end -->

<!-- Event list start -->
<div class="mb-3">
	<div class="card border-0 rounded-4 shadow-sm">
		<div class="container-fluid p-3 rounded-top-4 text-primary-emphasis bg-primary-subtle fw-bold">
			<div class="row g-3">
				<div class="col-lg-6">
					{% trans "Event" %}
				</div>
				<div class="col-lg-2 d-none d-lg-flex">
					{% trans "Tickets Sold" %}
				</div>
				<div class="col-lg-2 d-none d-lg-flex">
					{% trans "Status" %}
				</div>
				<div class="col-lg-2 d-none d-lg-flex"></div>
			</div>
		</div>
		<div class="container-fluid p-3">
			{% for event in events %}
			<div class="row g-3">
				<div class="col-lg-6 d-flex align-items-center">
					<div class="specific-w-75 specific-h-75 d-flex align-items-center justify-content-center overflow-hidden rounded position-relative flex-shrink-0" {% if event.state == event.StateStatus.DRAFT %}style="filter: grayscale(1);"{% endif %}>
						<img src="{{ event.cover_image_url }}" alt="{{ event.title }} background image" class="position-absolute top-50 start-50 translate-middle opacity-50" style="width: 200%; height: auto; filter: blur(1.5rem);">
						<img src="{{ event.cover_image_url }}" class="img-fluid position-relative z-1" alt="{{ event.title }} cover image">
					</div>
					<div class="ps-3">
						<h5>{{ event.title }}</h5>
						<div class="d-flex align-items-start">
							<i class="fa-light fa-calendars specific-w-25 text-primary-emphasis mt-1 flex-shrink-0"></i>
							<span class="text-body-secondary">
								{% if event.start_date %}
									{{ event.start_date }}
								{% else %}
									{% trans "Not set" %}
								{% endif %}
							</span>
						</div>
						<div class="d-flex align-items-start">
							<i class="fa-light fa-location-dot specific-w-25 text-primary-emphasis mt-1 flex-shrink-0"></i>
							<span class="text-body-secondary">{{ event.localized_address_display }}</span>
						</div>
					</div>
				</div>
				<div class="col-4 col-lg-2">
					<span class="d-lg-none text-primary-emphasis fw-bold">
						{% trans "Tickets Sold" %}:
					</span>
					{{ event.tickets_sold_count }}
				</div>
				<div class="col-6 col-lg-2 text-center text-lg-start">
					<span class="d-lg-none text-primary-emphasis fw-bold">
						Status:
					</span>
					{% if event.state == event.StateStatus.LIVE %}
					<i class="fa-solid fa-circle-small fa-beat-fade text-success-emphasis ms-1 ms-lg-0 me-1"></i>
					{% trans "Live" %}
					{% else %}
					<i class="fa-light fa-pencil text-body-secondary ms-1 ms-lg-0 me-1"></i>
					{% trans "Draft" %}
					{% endif %}
				</div>
				<div class="col-2 col-lg-2 text-end">
					<div class="dropdown">
						<button
							type="button"
							class="btn btn-secondary text-primary-emphasis bg-transparent border-0 px-2 rounded-pill"
							style="width: 37px"
							data-bs-toggle="dropdown"
							aria-expanded="false"
							aria-label="Event Options"
						>
							<i class="fa-solid fa-ellipsis-vertical"></i>
						</button>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a href="{% url 'dashboard_organizer:event_stats' current_team.slug event.pk %}" class="dropdown-item">{% trans "Details" %}</a>
							</li>
							<li><div class="dropdown-divider"></div></li>
							<li>
								<a href="{% url 'dashboard_organizer:event_update' current_team.slug event.pk %}" class="dropdown-item">{% trans "Edit" %}</a>
							</li>
							<li>
								<a href="{% url 'dashboard_organizer:event_tickets' current_team.slug event.pk %}" class="dropdown-item">{% trans "Ticket Tiers" %}</a>
							</li>
							<li>
								<a href="{% url 'dashboard_organizer:event_go_live' current_team.slug event.pk %}" class="dropdown-item">{% trans "Party Time!" %}</a>
							</li>
							<li><div class="dropdown-divider"></div></li>
							{% if event.state == event.StateStatus.LIVE %}
							<li>
								<a href="{% url 'checkout:checkout_one' event.team.slug event.slug %}" class="dropdown-item d-flex align-items-center" target="_blank">
									<i class="fa-light fa-external-link specific-w-25 flex-shrink-0"></i>
									{% trans "Public Page" %}
								</a>
							</li>
							<li>
								<a href="{% url 'dashboard_organizer:scanner' event.scanner_id %}" class="dropdown-item d-flex align-items-center" target="_blank">
									<i class="fa-light fa-qrcode specific-w-25 flex-shrink-0"></i>
									{% trans "Check-In (Scanner)" %}
								</a>
							</li>
							{% else %}
							<li>
								<a href="{% url 'checkout:checkout_one' event.team.slug event.slug %}" class="dropdown-item d-flex align-items-center" target="_blank">
									<i class="fa-light fa-external-link specific-w-25 flex-shrink-0"></i>
									{% trans "Preview" %}
								</a>
							</li>
							{% endif %}
							<li><div class="dropdown-divider"></div></li>
							{% if current_team.allow_rsvp %}
								<li>
									<a href="{% url 'dashboard_organizer:rsvp_tickets' current_team.slug event.pk %}" class="dropdown-item">{% trans "RSVP" %}</a>
								</li>
							{% endif %}
							{% if current_team.allow_messaging %}
								<li>
									<a href="{% url 'dashboard_organizer:message_batches' current_team.slug event.pk %}" class="dropdown-item">{% trans "Message Ticket Holders" %}</a>
								</li>
							{% endif %}
							<li>
								<a href="{% url 'dashboard_organizer:manual_attendees' current_team.slug event.pk %}" class="dropdown-item">{% trans "VIP List" %}</a>
							</li>
							<li><div class="dropdown-divider"></div></li>
							<li>
								<a href="{% url 'dashboard_organizer:event_delete' current_team.slug event.pk %}" class="dropdown-item text-danger-emphasis fw-bold">{% trans "Delete" %}</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			{% if not forloop.last %}<hr />{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<!-- Event list end -->

<!-- Pagination start -->
<div class="mb-3 mt-auto d-flex align-items-center">
	<div>
		{% if page_obj.has_previous %}
		<a class="btn btn-link" href="?page={{ page_obj.previous_page_number }}&state={{ request.GET.state }}">{% trans "Prev" %}</a>
		{% else %}
		<button class="btn btn-link" disabled>{% trans "Prev" %}</button>
		{% endif %}
	</div>
	<div class="ms-auto">
		{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
	</div>
	<div class="ms-auto">
		{% if page_obj.has_next %}
		<a class="btn btn-link" href="?page={{ page_obj.next_page_number }}&state={{ request.GET.state }}">{% trans "Next" %}</a>
		{% else %}
		<button class="btn btn-link" disabled>{% trans "Next" %}</button>
		{% endif %}
	</div>
</div>
<!-- Pagination end -->
{% endblock content %}