{% extends "redesign/dashboard_organizer/base.html" %}
{% load static i18n get_theme_value get_user_primary_email %}

{% block head_title %}{% trans "Create Ticket Tier" %} - SocialPass{% endblock head_title %}

{% block navbar_title %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Create Ticket Tier" %}{% endblock navbar_title %}

{% block navbar_title_2 %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Create Ticket Tier" %}{% endblock navbar_title_2 %}

{% block content %}
<!-- Ticket tier create links start -->
<div class="row mt-4 mb-3">
	<div class="col-lg-8 mx-auto">
		<h1 class="h3 mb-0">{% trans "The Tix" %}</h1>
		<p class="text-body-secondary">
			{% trans "Create one or multiple ticket tiers." %}
		</p>
		<div class="card border-0 rounded-4 shadow-sm">
			<div class="card-body px-lg-5 py-lg-4">
				<!-- Paid tier start -->
				<div class="position-relative p-3 rounded-3 border border-success border-opacity-25 mb-3">
					<div class="d-flex align-items-center" {% if not current_team.is_stripe_connected %}style="filter: grayscale(1);"{% endif %}>
						<div class="specific-w-50 specific-w-sm-75 specific-h-50 specific-h-sm-75 flex-shrink-0 rounded-circle bg-success-subtle text-success-emphasis d-flex align-items-center justify-content-center">
							<i class="fa-light fa-money-check-dollar h3 m-0"></i>
						</div>
						<div class="px-3">
							<div class="fw-bold" style="font-size: var(--bs-font-size-lg);">{% trans "Paid" %}</div>
							<div class="text-body-secondary">{% trans "Create a ticket that requires payment" %}</div>
						</div>
						{% if current_team.is_stripe_connected %}
						<a href="{% url 'dashboard_organizer:ticket_tier_fiat_create' current_team.public_id event.pk  %}" class="link-success stretched-link ms-auto"  aria-label="Create">
							<i class="fa-light fa-angle-right"></i>
						</a>
						{% endif %}
					</div>
					{% if not current_team.is_stripe_connected %}
					<div class="alert alert-danger border-0 rounded-0 mb-0 mt-3 d-flex align-items-start" role="alert">
						<i class="fa-light fa-info-circle text-danger-emphasis mt-1"></i>
						<div class="ps-3">
							{% trans "Before you can create paid ticket tiers, you need to connect your Stripe account to your team." %}
							<br />
							<a href="{% url 'dashboard_organizer:payment_detail' current_team.public_id %}" class="fw-bold alert-link">{% trans "Go to payment details" %} <i class="fa-light fa-angle-right"></i></a>
						</div>
					</div>
					{% endif %}
				</div>
				<!-- Paid tier end -->

				<!-- Free tier start -->
				<div class="position-relative p-3 rounded-3 border border-warning border-opacity-25 d-flex align-items-center mb-3">
					<div class="specific-w-50 specific-w-sm-75 specific-h-50 specific-h-sm-75 flex-shrink-0 rounded-circle bg-warning-subtle text-warning-emphasis d-flex align-items-center justify-content-center">
						<i class="fa-light fa-gift h3 m-0"></i>
					</div>
					<div class="px-3">
						<div class="fw-bold" style="font-size: var(--bs-font-size-lg);">{% trans "Free" %}</div>
						<div class="text-body-secondary">{% trans "Create free tickets for General Admission" %}</div>
					</div>
					<a href="{% url 'dashboard_organizer:ticket_tier_free_create' current_team.public_id event.pk  %}" class="link-warning stretched-link ms-auto"  aria-label="Create">
						<i class="fa-light fa-angle-right"></i>
					</a>
				</div>
				<!-- Free tier end -->

				<!-- NFT tier start -->
				<div class="position-relative p-3 rounded-3 border border-info border-opacity-25 d-flex align-items-center">
					<div class="specific-w-50 specific-w-sm-75 specific-h-50 specific-h-sm-75 flex-shrink-0 rounded-circle bg-info-subtle text-info-emphasis d-flex align-items-center justify-content-center">
						<i class="fa-light fa-hexagon-vertical-nft h3 m-0"></i>
					</div>
					<div class="px-3">
						<div class="fw-bold" style="font-size: var(--bs-font-size-lg);">{% trans "NFT-Gated" %}</div>
						<div class="text-body-secondary">{% trans "Reward your holders with some sweet tickets" %}</div>
					</div>
					<a href="{% url 'dashboard_organizer:ticket_tier_nft_create' current_team.public_id event.pk  %}" class="link-info stretched-link ms-auto" aria-label="Create">
						<i class="fa-light fa-angle-right"></i>
					</a>
				</div>
				<!-- NFT tier end -->
			</div>
		</div>
	</div>
</div>
<!-- Ticket tier create links end -->
{% endblock content %}