{% extends "redesign/dashboard_organizer/base.html" %}
{% load static i18n get_theme_value get_user_primary_email %}

{% block head_title %}{% trans "Create Paid Ticket Tier" %} - SocialPass{% endblock head_title %}

{% block navbar_title %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Create Paid Ticket Tier" %}{% endblock navbar_title %}

{% block navbar_title_2 %}<span class="text-primary-emphasis">{{ event.title }}</span> &mdash; {% trans "Create Paid Ticket Tier" %}{% endblock navbar_title_2 %}

{% block content %}
<!-- Ticket tier form start -->
<div class="row mt-4 mb-3">
	<div class="col-lg-8 mx-auto">
		<div class="d-flex align-items-center mb-3">
			<a href="{% url 'dashboard_organizer:ticket_tier_create' current_team.public_id event.pk %}" aria-label="Go Back">
				<i class="fa-solid fa-arrow-left h4 m-0"></i>
			</a>
			<div class="ps-4">
				<h1 class="h3 mb-0">{% trans "Create Paid Ticket Tier" %}</h1>
				<p class="text-body-secondary mb-0">
					{% trans "Creating ticket tier" %} &mdash; <strong>{{ event.title }}</strong>
				</p>
			</div>
		</div>
		<div class="card border-0 rounded-4 shadow-sm">
			<div class="card-body px-lg-5 py-lg-4">
				<form method="POST">
					{% csrf_token %}

					{% if form.non_field_errors %}
						<div class="alert alert-danger" role="alert">
							<ul class="mb-0">
								{% for error in form.non_field_errors %}
									<li>{{ error|escape }}</li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}

					{% for input in form.hidden_fields %}
						{{ input }}
					{% endfor %}

					<h4 class="mb-lg-4">{% trans "Ticket Details" %}</h4>
					<div class="mb-3">
						{% with form.ticket_type as input %}
							{% include "redesign/forms/input.html" %}
						{% endwith %}
					</div>
					<div class="row g-3">
						<div class="col-lg-6">
							{% with form.capacity as input %}
								{% include "redesign/forms/input.html" %}
							{% endwith %}
						</div>
						<div class="col-lg-6">
							{% with form.max_per_person as input %}
								{% include "redesign/forms/input.html" %}
							{% endwith %}
						</div>
					</div>

					<br /><br />
					<h4 class="mb-lg-4">{% trans "Allowed Guests (per ticket)" %}</h4>
					<div class="row g-3">
						<div class="col-lg-6">
							{% with form.allowed_guests as input %}
								{% include "redesign/forms/input.html" %}
							{% endwith %}
						</div>
					</div>

					<br /><br />
					<h4 class="mb-lg-4">{% trans "Set Ticket Price" %} &mdash; {{ event.fiat_currency }} ({{ event.currency_symbol }})</h4>
					<div class="mb-3">
						{% with tier_fiat_form.price_per_ticket as input %}
							{% include "redesign/forms/input.html" %}
						{% endwith %}
					</div>

					<div class="text-end mt-3">
						<button type="submit" class="btn btn-primary">{% trans "Create Ticket Tier" %}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Ticket tier form end -->
{% endblock content %}