{% extends "bases/base.html" %}
{% load static %}

{% block body %}
<!-- Modals start -->
{% block modals %}{% endblock modals %}
<!-- Modals end -->

<!-- Page wrapper start -->
<div class="page-wrapper with-navbar with-sidebar" data-hm-sidebar-type="overlayed-md-down">
	<!-- Sticky alerts start -->
	<div class="sticky-alerts">
		{% include "bases/toast_messages.html" %}
		{% block sticky_alerts %}{% endblock sticky_alerts %}
	</div>
	<!-- Sticky alerts end -->

	<!-- Navbar start -->
	<div class="navbar d-flex align-items-center px-15 py-10">
		<!-- Sidebar toggle start -->
		<button type="button" class="btn btn-primary btn-sm btn-square bg-primary-lm bg-primary-dim-dm me-20 d-md-none" data-hm-toggle="sidebar">
			<i class="fa-regular fa-bars"></i>
			<span class="visually-hidden">Toggle sidebar</span>
		</button>
		<!-- Sidebar toggle end -->

		<!-- Branding start -->
		<img src="{% static 'images/SocialPass-Icon-White.svg' %}" class="h-100 flex-shrink-0 pe-none me-20" alt="SocialPass Logo">
		<!-- Branding end -->

		<!-- Navbar breadcrumb start -->
		<div class="text-on-primary flex-shrink-0 d-none d-sm-block">
			SocialPass
			<i class="fa-regular fa-angle-right mx-10"></i>
			{% block navbar_breadcrumb %}{% endblock navbar_breadcrumb %}
		</div>
		<!-- Navbar breadcrumb end -->

		<!-- Navbar controls start -->
		<div class="ms-auto d-flex align-items-center">
			<!-- Dark mode toggle start -->
			<button type="button" class="btn btn-primary btn-sm btn-square bg-primary-lm bg-primary-dim-dm me-10" data-hm-toggle="dark-mode">
				<i class="fa-solid fa-moon"></i>
				<span class="visually-hidden">Toggle dark mode</span>
			</button>
			<!-- Dark mode toggle end -->

			<!-- User dropdown start -->
			<div class="dropdown with-arrow">
				<button type="button" class="btn btn-secondary btn-sm btn-square btn-rounded" id="user-dropdown-toggle" data-hm-toggle="dropdown" aria-expanded="false">
					<i class="fa-duotone fa-user"></i>
					<span class="visually-hidden">Toggle user dropdown</span>
				</button>
				<ul class="dropdown-menu dropdown-menu-end rounded-3 ws-250 p-10" aria-labelledby="user-dropdown-toggle">
					<li class="dropdown-content d-flex align-items-center">
						<div class="ws-50 hs-50 rounded-circle d-flex align-items-center justify-content-center bg-secondary text-on-secondary flex-shrink-0">
							<span class="text-uppercase fs-base-p8 fw-bold">{{ request.user.username|slice:"0:1" }}</span>
						</div>
						<div class="ps-20 text-truncate">
							<p class="text-muted fs-base-n2 m-0">Signed in as</p>
							<h6 class="fs-base m-0">{{ request.user.username }}</h6>
						</div>
					</li>
					<li class="dropdown-divider"></li>
					<li>
						<a href="{% url 'account_change_password' %}" class="dropdown-item d-flex align-items-center">
							<span class="ws-25">
								<i class="fa-regular fa-key"></i>
							</span>
							<span class="ms-10">Change Password</span>
						</a>
					</li>
					<li>
						<a href="{% url 'account_email' %}" class="dropdown-item d-flex align-items-center">
							<span class="ws-25">
								<i class="fa-regular fa-envelope"></i>
							</span>
							<span class="ms-10">Manage Emails</span>
						</a>
					</li>
					<li class="dropdown-divider"></li>
					<li class="dropdown-content">
						<a href="{% url 'account_logout' %}" class="btn btn-link btn-block bg-gray-very-light-lm bg-darkgray-very-dim-dm text-danger fw-bold">
							<i class="fa-regular fa-sign-out"></i>
							<span class="ms-5">Sign Out</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- User dropdown end -->
		</div>
		<!-- Navbar controls end -->
	</div>
	<!-- Navbar end -->

	<!-- Sidebar start -->
	<nav class="sidebar">

	</nav>
	<!-- Sidebar end -->

	<!-- Content wrapper start -->
	<div class="content-wrapper">

	</div>
	<!-- Content wrapper end -->
</div>
<!-- Page wrapper end -->
{% endblock body %}