{% extends "account/email/base_message.html" %}

{% block content %}
<p>
	Thank you for purchasing ticket(s) on SocialPass. Please go to the following link to download your ticket(s).
</p>
<div style="
	text-align: center;
	margin: 16px 0;
	padding: 16px;
	background-color: #ecf0f1;
	border-radius: 6px;"
>
	<a href="{{ url }}?passcode={{ passcode }}" style="
		text-decoration: none;
		font-weight: 600;
		font-size: 16px;
		display: inline-block;
		padding: 10px 24px;
		color: #fff;
		background-color: #3995b8;
		border-radius: 6px;"
	>
		Get Tickets
	</a>
</div>
{% endblock %}