{% extends "account/email/base_message.html" %}

{% block content %}
{% if custom_message %}
<p>
	{{ custom_message }}
</p>
{% endif %}
<p>
	Thank you for purchasing ticket(s) for <strong>{{ event.title }}</strong> on SocialPass. Please go to the following link to download your ticket(s):
</p>
<div style="
	text-align: center;
	margin: 16px 0;
	padding: 16px;
	background-color: #ecf0f1;
	border-radius: 6px;"
>
	<a href="{{ tickets_link }}" style="
		text-decoration: none;
		font-weight: 600;
		font-size: 16px;
		display: inline-block;
		padding: 10px 24px;
		color: #fff;
		background-color: #3995b8;
		border-radius: 6px;"
	>
		Get Tickets
	</a>
</div>
<p>
	When asked for a passcode, please enter the following:
</p>
<div style="text-align: center; font-size: 20px;">
	<strong>{{ passcode }}</strong>
</div>
{% endblock %}