{% extends "bases/base_primary.html" %}

{% block head_title %}Change Password - SocialPass{% endblock head_title %}

{% block navbar_breadcrumb %}Change Password{% endblock %}

{% block content %}
<!-- Header start -->
<div class="border-bottom hs-md-100">
	<div class="p-content d-flex h-100">
		<div class="align-self-center">
			<h1 class="content-title m-0 fs-base-p6">Change Password</h1>
			<p class="text-muted mt-5 mt-5 mb-0 fs-base-n2">Use the form below to change your password.</p>
		</div>
	</div>
</div>
<!-- Header end -->
{% endblock content %}
