{% extends "account/new/base.html" %}

{% load account %}

{% block head_title %}Sign Up Closed - SocialPass{% endblock %}

{% block inner %}
<h1 class="fsr-1 text-strong fw-700">Sign Up Closed</h1>
<p>
    We are sorry, but the sign up is currently closed. If you want access, please <a href="https://nftylabs.typeform.com/to/A70KW4vo" target="_blank" class="fw-bold">let us know <i class="fa-solid fa-external-link-alt ms-5"></i></a>.
</p>
<p>
    <a href="{% url 'account_login' %}" class="fw-bold"><i class="fa-solid fa-arrow-left me-5"></i> Go back to login</a>
</p>
{% endblock %}
