{% extends "bases/base_secondary.html" %}
{% load static %}

{% block head_title %}Not Authorized - SocialPass{% endblock %}

{% block sidebar_content %}
<div class="ws-400 mw-100 d-flex align-items-center justify-content-center mx-auto p-10">
    <img src="{% static 'images/illustrations/something_went_wrong.svg' %}" alt="something_went_wrong" class="img-fluid">
</div>
{% endblock sidebar_content %}

{% block inner %}
<h1 class="display-1 text-strong fw-700">403</h1>
<p>
    {% if exception %}
        {{ exception }}
    {% else %}
        <strong>Not authorized.</strong> Sorry, but you do not have the proper permissions to access this page.
    {% endif %}
</p>
<p>
    <a href="{% url 'dashboard_organizer:dashboard_redirect' %}" class="fw-bold"><i class="fa-solid fa-arrow-left me-5"></i> Go back to dashboard</a>
</p>
<p class="text-muted fs-base-n2 pt-10 border-top border-dotted border-bottom-0 border-start-0 border-end-0">
    Please <a href="#" data-hm-toggle="modal" data-hm-target="discord-support-ticket-modal" class="fw-bold" target="_blank">contact us</a> if you think something is wrong.
</p>
{% endblock %}
