{% extends "redesign/dashboard_organizer/base_simple.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Not found" %} - SocialPass{% endblock %}

{% block content %}
<div class="specific-w-400 mw-100 d-flex align-items-center justify-content-center mx-auto p-1">
    <img src="{% static 'images/illustrations/something_went_wrong.svg' %}" alt="something_went_wrong" class="img-fluid">
</div>
<h1 class="text-center display-1">404</h1>
<h2 class="text-center fs-4">{% trans "Page not found" %}</h2>
<p class="text-center">
    {% if exception %}
        {{ exception }}
    {% else %}
    	{% trans "Sorry, but the page you're looking for could not be found." %}
    {% endif %}
</p>
<p class="text-center">
    <a href="https://calendly.com/siesta-markets-front-office/socialpass-catchup" target="_blank" rel="noreferrer">{% trans "Contact Us" %}</a>
</p>
{% endblock %}
