{% extends "bases/base_secondary.html" %}
{% load static %}

{% block head_title %}Too Many Requests - SocialPass{% endblock %}

{% block sidebar_content %}
<div class="ws-400 mw-100 d-flex align-items-center justify-content-center mx-auto p-10">
    <img src="{% static 'images/illustrations/something_went_wrong.svg' %}" alt="something_went_wrong" class="img-fluid">
</div>
{% endblock sidebar_content %}

{% block inner %}
<h1 class="display-1 text-strong fw-700">429</h1>
<p>
    <strong>Too Many Requests</strong>
    Sorry, but too many requests have been sent from this client. Please try again later.
</p>
<p>
    <a href="{% url 'dashboard:dashboard_redirect' %}" class="fw-bold"><i class="fa-solid fa-arrow-left me-5"></i> Go back to dashboard</a>
</p>
<p class="text-muted fs-base-n2 pt-10 border-top border-dotted border-bottom-0 border-start-0 border-end-0">
    Please <a href="https://docs.google.com/forms/d/e/1FAIpQLSdEw1zowks1E9K6xDFiBn00auyWV06zvJUwKzeo7miBzdpA6w/viewform" class="fw-bold" target="_blank">contact us</a> if the error persists.
</p>
{% endblock %}
