{% extends "bases/base_secondary.html" %}
{% load static %}

{% block head_title %}Server Error - SocialPass{% endblock %}

{% block sidebar_content %}
<div class="ws-400 mw-100 d-flex align-items-center justify-content-center mx-auto p-10">
    <img src="{% static 'images/illustrations/something_went_wrong.svg' %}" alt="something_went_wrong" class="img-fluid">
</div>
{% endblock sidebar_content %}

{% block inner %}
<h1 class="display-1 text-strong fw-700">500</h1>
<p>
    <strong>Looks like something went wrong!</strong> We track these errors automatically, so you can try refreshing the page after some time.
</p>
<p>
    <a href="{% url 'dashboard_organizer:dashboard_redirect' %}" class="fw-bold"><i class="fa-solid fa-arrow-left me-5"></i> Go back to dashboard</a>
</p>
{% endblock %}
