{% extends 'dashboard/base.html' %}
{% load static i18n get_chain_name crispy_forms_tags %}

{% block title %}Delete Member - SocialPass {% endblock %}

{% block navbar_page_name_1 %}Delete Member {% endblock %}
{% block navbar_page_name_2 %}Manage Member {% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-10 col-md-8 mx-auto">
    <div class="card mb-4">
      <div class="card-header py-0">
        <div class="d-flex align-items-center py-3">
          <div class="pe-2">
            <h6 class="m-0">Remove Team Members</h6>
            <div class="text-muted text-xs mb-3">
              Use the following form to remove a team member from your team
            </div>
          </div>
        </div>
      </div>
      <div class="card-body py-2">
        <h3 class="font-weight-bolder">Delete {{object.user.email}} from '{{object.team.name}}'?</h3>
        <p>{% translate 'Are you sure you want to delete this user?' %}</p>
        <form class="form" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-end">
            <input type="submit" value="Delete" class="btn btn-danger btn-sm ms-auto my-0">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
