@font-face {
  font-family: 'rubik';
  src: local('rubik'),
     url('./static/fonts/Rubik/Rubik-VariableFont_wght.ttf') format("truetype");
}

html, body {
  height:100%;
  width:100%;
  max-width:954px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'rubik', sans-serif;
  font-style: normal;
}


h1 {
  font-size: 2.75em;
  font-weight: 700;
  font-style: bold;
  line-height: 1.25em;
  max-width:7.5em;
  margin:0;
  padding:0;
}

img {
  max-width: 100%;
}

.container {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  overflow:hidden;
  min-height:518px;
  min-width:341px;
}

.parent {
  min-height:255px;
  padding: 0 2.5rem 0 2.5rem;
}

.base-gate {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:1rem 2rem 1rem 2rem;
}
