html,
.nftysocialpass body,
main {
  background: #F9F9FA !important;
}

.dark-mode body,
.dark-mode main {
  background-color: var(--body-bg-color) !important;
}

main {
  height: 100vh;
}

.empty-content {
  margin-top: 150px;
}

/* user icon */
.user-icon {
  height: 29px;
  width: 29px;
  border: 2px solid var(--primary-color);
  padding: 6px;
  border-radius: 50%;
  color: var(--primary-color);
}

.dark-mode .user-icon {
  color: #ffffff;
  border-color: #ffffff;
}

/* Sidenav */

.sidenav .nav-link {
  color: #79088E !important;
}
.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
  background: var(--primary-color) !important;
  color: var(--white-color) !important;
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active .d-none-lm {
  display: block !important;
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active .d-none-dm {
  display: none;
}

.dark-mode .navbar-vertical .navbar-nav>.nav-item .nav-link.active .d-none-lm {
  display: none !important;
}

.dark-mode .navbar-vertical .navbar-nav>.nav-item .nav-link.active .d-none-dm {
  display: block !important;
}

.dark-mode .navbar-vertical .navbar-nav>.nav-item .nav-link {
  color: var(--white-color) !important;
}

.dark-mode .navbar-vertical .navbar-nav>.nav-item .nav-link.active {
  background: var(--secondary-color) !important;
}

.dark-mode .navbar-vertical .navbar-nav>.nav-item .nav-link .icon {
  background: var(--secondary-color) !important
}

.dark-mode .navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
  background: var(--white-color) !important;
}

/* card */
.dark-mode .card {
  background: var(--bg-light-color) !important;
}

/* Navbar */

.navbar {
  flex-wrap: initial;
 }

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.nav-item-icon {
  width: 100%;
}

/* Header dropdown */
.list-group-item {
  border: none !important;
}

.nftysocialpass .form-check-input {
  background-color: rgba(121,8,142,.1) !important;
}

/* Table */

.dark-mode td,
.dark-mode td a.text-primary {
  color: #ffffff !important;
}
