<!DOCTYPE html>
<html lang="en" class="socialpass-event-discovery" spellcheck="false">
  <head>
    <style type="text/css">
      #app {
        width: 1000px;
        height: 500px;
        background: red;
      }
      #app1 {
        width: 500px;
        height: 500px;
        background: green;
      }
      #app2 {
        width: 500px;
        height: 500px;
        background: yellow;
      }
    </style>
  </head>
  <body>
    <div id="app" style="width: 1000px; height: 500px; background: red">
      teste
    </div>
    <div id="app1" style="width: 500px; height: 500px; background: green">
      teste
    </div>
    <div id="app2" style="width: 500px; height: 500px; background: yellow">
      teste
    </div>
  </body>
</html>
