{% extends "base.html" %}

{% block content %}
<div class="container mb-5">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <div class="row g-0">
        <div class="col-md-6 offset-md-3">
          <!-- Heading start -->
          <h1 class="display-4 text-prominent text-center mb-0">
            <strong>Contact <span class="text-secondary">Us</span></strong>
          </h1>
          <!-- Heading end -->

          <!-- Slogan start -->
          <p class="fs-5 fs-xs-6 text-center text-muted mt-3 mb-0">
            Get in touch with us if you have questions or feedback. We'd love to hear from you.
          </p>
          <!-- Slogan end -->
        </div>
      </div>
      <div class="text-center mt-4">
        <a href="https://t.me/joinchat/Ud9ibOvOa9WMhSkr" target="_blank" class="link-theme d-inline-block me-3 fs-4">
          <i class="fab fa-telegram" aria-hidden="true"></i>
          <span class="visually-hidden">Telegram</span>
        </a>
        <a href="https://discord.com/invite/3S9nyp7Zga" target="_blank" class="link-theme d-inline-block me-3 fs-4">
          <i class="fab fa-discord" aria-hidden="true"></i>
          <span class="visually-hidden">Discord</span>
        </a>
        <a href="https://twitter.com/NFTYLab" target="_blank" class="link-theme d-inline-block me-3 fs-4">
          <i class="fab fa-twitter" aria-hidden="true"></i>
          <span class="visually-hidden">Twitter</span>
        </a>
        <a href="mailto:nftylabs@gmail.com" class="link-theme d-inline-block fs-4">
          <i class="fas fa-envelope" aria-hidden="true"></i>
          <span class="visually-hidden">E-mail</span>
        </a>
      </div>
      <form action="" method="post" class="mt-4">
        <input type="hidden" name="csrfmiddlewaretoken" value="1727p53Jjcmwm98ypDcUsSiDcVzT9w8wxXotPwZlsiGzO90jRpqE7OFfuU823Tey">
        <div class="form-group mb-4">
          <!-- Label (and related) start -->
          <div class="">
              <label for="id_name" class="form-label">Name</label>
          </div>
          <!-- Label (and related) end -->

          <!-- Field (and related) start -->
          <div class="">
              <input type="text" name="name" placeholder="Your name" class="form-control" required="" id="id_name">
          </div>
          <!-- Field (and related) end -->
        </div>
      
        <div class="form-group mb-4">
          <!-- Label (and related) start -->
          <div class="">
            <label for="id_email" class="form-label">Email</label>
          </div>
          <!-- Label (and related) end -->

          <!-- Field (and related) start -->
          <div class="">
            <input type="email" name="email" placeholder="Your email we can reach out to" class="form-control" required="" id="id_email">
          </div>
          <!-- Field (and related) end -->
        </div>
      
        <div class="form-group mb-4">
          <!-- Label (and related) start -->
          <div class="">
            <label for="id_question" class="form-label">Question</label>
          </div>
          <!-- Label (and related) end -->

          <!-- Field (and related) start -->
          <div class="">
            <textarea name="question" cols="15" rows="4" placeholder="The question in details" class="form-control" required="" id="id_question"></textarea>
          </div>
          <!-- Field (and related) end -->
        </div>
        

        <!-- Submit button container start -->
        <div class="d-flex justify-content-end mt-3">
          <button type="submit" class="btn btn-gradient">Submit</button>
        </div>
        <!-- Submit button container end -->
      </form>
    </div>
  </div>
</div>

{% endblock %}