{% extends 'bases/base_scanner.html' %}
{% load static %}

{% block content %}
<div class="mt-auto">
	<div class="card text-base rounded-4 shadow-lg border-transparent fs-base-p2">
		<h1 class="fw-700 text-center fs-base-p10 mt-0">
			{{ object.title }}
		</h1>
		<div class="fw-700 text-primary mt-30">
			<i class="fa-regular fa-clock me-5"></i> Date:
		</div>
		<div>{{ object.start_date }}</div>
		<div class="fw-700 text-primary mt-15">
			<i class="fa-regular fa-location-dot me-5"></i> Venue:
		</div>
		<div>{{ object.localized_address_display }}</div>
	</div>
	<div class="content">
		<a href="{% url 'dashboard_organizer:scanner2' object.scanner_id %}" class="btn btn-secondary btn-block rounded-3 shadow btn-lg py-15 fs-base-p4">
			<strong class="antialiased">Start Scanning</strong>
		</a>
	</div>
</div>
{% endblock %}