/**
 * ----------------------------------------------------------------------------
 * Custom version of socialpass-theme.css for the Scanner's Landing Page
 * ----------------------------------------------------------------------------
 */

/* Landing Page Components */

.landing-page-card {
  position: relative;
  display: block;
  -webkit-font-smoothing: var(--card-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--card-moz-osx-font-smoothing);
  padding: 2.5rem;
  margin: 2.5rem;
  color: inherit;
  background-color: var(--white-color);
  background-image: url("../images/bg_image_logo.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border: solid;
  border-width: 0px;
  border-color: var(--gray-color-dim);
  border-radius: 1.4rem;
  box-shadow: none;
}

.landing-page-body {
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
}

.landing-page-card-text-1 {
  font-size: 2rem;
  line-height: 1.25;
  font-family: inherit;
  font-weight: 600;
  color: var(--secondary-color);
  -webkit-font-smoothing: var(--heading-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--heading-moz-osx-font-smoothing);
}

.landing-page-card-text-2 {
  font-size: 2rem;
  line-height: 1;
  font-family: var(--base-font-family);
  font-weight: 1.6rem;
  color: var(--gray-color-very-dim);
  -webkit-font-smoothing: var(--heading-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--heading-moz-osx-font-smoothing);
}

.landing-page-event-title {
  font-size: 2.6rem;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  color: var(--white-color);
  -webkit-font-smoothing: var(--heading-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--heading-moz-osx-font-smoothing);
  margin-bottom: 1.6rem;
}

.btn-start-scanning {
  border-radius: 1.4rem;
  border-width: 0rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: "Rubik";
  font-style: normal;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 2.4;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--secondary-color);
  background-image: none;
  border-color: none;
  box-shadow: none;
}

.btn-start-scanning:active {
  text-decoration: none;
  color: inherit;
  background-color: var(--secondary-color);
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}

/* Scanner Page Components */

.btn-back {
  position: left;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  padding: 8px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.btn-close {
  position: left;
  width: 40px;
  height: 40px;
  background: transparent;
  border-radius: 10px;
  padding: 8px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.scanner-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  color: #0c0f3c;
  margin-top: 15%;
  margin-bottom: 5%;
}

.scanner-subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: #0c0f3c;
  margin-bottom: 20px;
}

.scanner-body {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  background-color: #fafafa;
  box-shadow: none;
}

.live-statistics-btn-blue {
  border-radius: 5px;
  border-width: 0px;
  margin-right: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400px;
  line-height: 18px;
  text-decoration: none;
  color: var(--dark-color);
  background-color: #3995b833;
  background-image: none;
  border-color: none;
  box-shadow: none;
}

.live-statistics-btn-orange {
  border-radius: 5px;
  border-width: 0px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400px;
  line-height: 18px;
  text-decoration: none;
  color: var(--dark-color);
  background-color: #eb734733;
  background-image: none;
  border-color: none;
  box-shadow: none;
}

.btn-statistics {
  border-radius: 12px;
  border-width: 0rem;
  margin-top: 30px;
  width: 80vw;
  padding: 16px;
  position: center;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  color: var(--white-color);
  background-color: hsl(
    var(--socialpass-orange-color-hue),
    var(--socialpass-orange-color-saturation),
    var(--socialpass-orange-color-lightness)
  );
  background-image: none;
  border-color: none;
  box-shadow: none;
}

.btn-statistics:active {
  text-decoration: none;
  color: inherit;
  background-color: hsl(
    var(--socialpass-orange-color-hue),
    var(--socialpass-orange-color-saturation),
    var(--socialpass-orange-color-lightness-step-down-1)
  );
  background-image: none;
  border-color: transparent;
  box-shadow: none;
}

.statistics-body {
  position: absolute;
  display: block;
  color: inherit;
  box-shadow: none;
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.statistics-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #0c0f3c;
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: var(--white-color);
}

.statistics-subtitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #0c0f3c;
  margin-bottom: 20px;
  position: absolute;
  margin-left: -50%;
}

.statistics-table-card {
  position: relative;
  display: block;
  color: inherit;
  background-color: var(--white-color);
  border: 1px solid #c0c0c0;
  border-color: var(--gray-color-dim);
  box-shadow: 0px 4px 15px 1px rgba(44, 100, 121, 0.21);
  border-radius: 33px 33px 0px 0px;
}

.statistics-table-container {
  position: relative;
  display: block;
  margin-bottom: 20px;
  -webkit-font-smoothing: var(--card-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--card-moz-osx-font-smoothing);
  color: inherit;
  background-color: var(--white-color);
  border: 1px solid #c0c0c0;
  border-color: var(--gray-color-dim);
  border-radius: 1.4rem;
  box-shadow: 0px 4px 15px 1px rgba(44, 100, 121, 0.21);
}

.btn-non-selected-statistic {
  border-radius: 12px 12px 0px 0px;
  border-width: 0rem;
  margin-top: 30px;
  width: 35%;
  padding: 16px;
  position: relative;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #e7e7e7;
  background-color: rgb(170, 170, 170);
  background-image: none;
  border-color: none;
  box-shadow: none;
}

.btn-selected-statistic {
  border-radius: 12px 12px 0px 0px;
  border-width: 0rem;
  margin-top: 30px;
  width: 35%;
  padding: 16px;
  position: relative;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  border-color: none;
  box-shadow: none;
  color: var(--white-color);
  background-color: hsl(
    var(--socialpass-orange-color-hue),
    var(--socialpass-orange-color-saturation),
    var(--socialpass-orange-color-lightness)
  );
  background-image: none;
}

/* Statistics Table Components */
.btn-active {
  border-color: transparent;
  margin: 2px;
  color: var(--white-color);
  background-color: hsl(
    var(--socialpass-orange-color-hue),
    var(--socialpass-orange-color-saturation),
    var(--socialpass-orange-color-lightness)
  );
  background-image: none;
}

.btn-inactive {
  border-color: transparent;
  margin: 2px;
  color: #e7e7e7;
  background-color: rgb(170, 170, 170);
  background-image: none;
  border-color: none;
  box-shadow: none;
}

/* Capacity Reached Components */
.landing-page-background {
  background-color: white;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/nftyBg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  box-shadow: none;
}

.capacity-reached-title {
  font-size: 2.6rem;
  line-height: 1;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: hsl(
    var(--socialpass-orange-color-hue),
    var(--socialpass-orange-color-saturation),
    var(--socialpass-orange-color-lightness)
  );
  -webkit-font-smoothing: var(--heading-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--heading-moz-osx-font-smoothing);
  margin-bottom: 1.6rem;
  margin-top: 30%;
}

.capacity-reached-body {
  font-size: 2rem;
  line-height: 1.25;
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  color: hsl(
    var(--socialpass-blue-color-hue),
    var(--socialpass-blue-color-saturation),
    var(--socialpass-blue-color-lightness)
  );
  -webkit-font-smoothing: var(--heading-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--heading-moz-osx-font-smoothing);
}

.capacity-reached-footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  flex-grow: 1;
  background-image: url("../../assets/nftyBg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  box-shadow: none;
}

/* Error Pages Components */
.error-title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 26px;
  text-align: center;
  color: #0c0f3c;
}

.error-body {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.error-footer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  flex-grow: 1;
  background-color: var(--white-color);
  background-image: url("../../assets/nftyBg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  box-shadow: none;
}

.error-padding {
  margin-top: 60%;
}

/* Statistics Page Components */
.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 12px;
  color: #737373;
}

th {
  background-color: #ffffff;
  color: #000;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

td {
  background-color: #ffffff;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 10px;
}
