/**
 * ----------------------------------------------------------------------------
 * SocialPass theme
 * Version: Beta
 * Theme for Halfmoon 2.x.x
 * Copyright 2022 - Present, SocialPass. All rights reserved
 * ----------------------------------------------------------------------------
 * The above notice must be included in its entirety when this file is used.
 */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap");

:root {
    /* Font related (sizes, weights, family, etc.) */

    --base-font-family: "Rubik", sans-serif;
    --base-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --large-font-size: 1.8rem;
    --bold-font-weight: 600;

    /* Base background colors */

    --base-body-bg-color: var(--gray-color-very-light);

    /* Border related (mostly for utilities) */

    --base-border-radius: 0.2rem;
}

.dark-mode {
    /* Base background colors */

    --base-body-bg-color: var(--dark-color);
    --base-content-bg-color: var(--dark-color-very-light);
}

.readable-mode {
    /* Font related (sizes, weights, family, etc.) */

    --base-font-size: 1.8rem;
    --small-font-size: 1.6rem;
    --large-font-size: 2.0rem;
}

/* System colors */

:root {
    /* NFTY Finance purple */

    --nfty-purple-color-hue: 287;
    --nfty-purple-color-saturation: 47%;
    --nfty-purple-color-lightness: 40%;
    --nfty-purple-color-lightness-step-up-1: 45%;
    --nfty-purple-color-lightness-step-up-2: 50%;
    --nfty-purple-color-lightness-step-down-1: 35%;
    --nfty-purple-color-lightness-step-down-2: 30%;

    --nfty-purple-color-hsl: var(--nfty-purple-color-hue), var(--nfty-purple-color-saturation), var(--nfty-purple-color-lightness);
    --nfty-purple-color-light-hsl: var(--nfty-purple-color-hue), var(--nfty-purple-color-saturation), var(--nfty-purple-color-lightness-step-up-2);
    --nfty-purple-color-very-light-hsl: var(--nfty-purple-color-hue), var(--nfty-purple-color-saturation), 95%;
    --nfty-purple-color-dim-hsl: var(--nfty-purple-color-hue), var(--nfty-purple-color-saturation), var(--nfty-purple-color-lightness-step-down-2);
    --nfty-purple-color-very-dim-hsl: var(--nfty-purple-color-hue), 15%, 15%;

    --nfty-purple-color: hsl(var(--nfty-purple-color-hsl));
    --nfty-purple-color-light: hsl(var(--nfty-purple-color-light-hsl));
    --nfty-purple-color-very-light: hsl(var(--nfty-purple-color-very-light-hsl));
    --nfty-purple-color-dim: hsl(var(--nfty-purple-color-dim-hsl));
    --nfty-purple-color-very-dim: hsl(var(--nfty-purple-color-very-dim-hsl));

    --text-color-on-nfty-purple-color-bg: var(--white-color);

    /* NFTY Finance pink */

    --nfty-pink-color-hue: 340;
    --nfty-pink-color-saturation: 70%;
    --nfty-pink-color-lightness: 60%;
    --nfty-pink-color-lightness-step-up-1: 65%;
    --nfty-pink-color-lightness-step-up-2: 70%;
    --nfty-pink-color-lightness-step-down-1: 55%;
    --nfty-pink-color-lightness-step-down-2: 50%;

    --nfty-pink-color-hsl: var(--nfty-pink-color-hue), var(--nfty-pink-color-saturation), var(--nfty-pink-color-lightness);
    --nfty-pink-color-light-hsl: var(--nfty-pink-color-hue), var(--nfty-pink-color-saturation), var(--nfty-pink-color-lightness-step-up-2);
    --nfty-pink-color-very-light-hsl: var(--nfty-pink-color-hue), var(--nfty-pink-color-saturation), 95%;
    --nfty-pink-color-dim-hsl: var(--nfty-pink-color-hue), var(--nfty-pink-color-saturation), var(--nfty-pink-color-lightness-step-down-2);
    --nfty-pink-color-very-dim-hsl: var(--nfty-pink-color-hue), 15%, 15%;

    --nfty-pink-color: hsl(var(--nfty-pink-color-hsl));
    --nfty-pink-color-light: hsl(var(--nfty-pink-color-light-hsl));
    --nfty-pink-color-very-light: hsl(var(--nfty-pink-color-very-light-hsl));
    --nfty-pink-color-dim: hsl(var(--nfty-pink-color-dim-hsl));
    --nfty-pink-color-very-dim: hsl(var(--nfty-pink-color-very-dim-hsl));

    --text-color-on-nfty-pink-color-bg: var(--white-color);

    /* NFTY Finance midnight */

    --nfty-midnight-color: hsl(217, 100%, 20%);
    --nfty-midnight-color-light: hsl(217, 100%, 25%);
    --nfty-midnight-color-dim: hsl(217, 100%, 15%);
}

.dark-mode {
    /* NFTY Finance purple */

    --nfty-purple-color-lightness: 50%;
    --nfty-purple-color-lightness-step-up-1: 55%;
    --nfty-purple-color-lightness-step-up-2: 60%;
    --nfty-purple-color-lightness-step-down-1: 45%;
    --nfty-purple-color-lightness-step-down-2: 40%;

    /* NFTY Finance midnight */

    --nfty-midnight-color: hsl(217, 100%, 15%);
    --nfty-midnight-color-light: hsl(217, 100%, 20%);
    --nfty-midnight-color-dim: hsl(217, 100%, 10%);
}

/* Context colors */

:root {
    /* Primary colors */

    --primary-color-hue: var(--nfty-purple-color-hue);
    --primary-color-saturation: var(--nfty-purple-color-saturation);
    --primary-color-lightness: var(--nfty-purple-color-lightness);
    --primary-color-lightness-step-up-1: var(--nfty-purple-color-lightness-step-up-1);
    --primary-color-lightness-step-up-2: var(--nfty-purple-color-lightness-step-up-2);
    --primary-color-lightness-step-down-1: var(--nfty-purple-color-lightness-step-down-1);
    --primary-color-lightness-step-down-2: var(--nfty-purple-color-lightness-step-down-2);

    --primary-color-hsl: var(--nfty-purple-color-hsl);
    --primary-color-light-hsl: var(--nfty-purple-color-light-hsl);
    --primary-color-very-light-hsl: var(--nfty-purple-color-very-light-hsl);
    --primary-color-dim-hsl: var(--nfty-purple-color-dim-hsl);
    --primary-color-very-dim-hsl: var(--nfty-purple-color-very-dim-hsl);

    --primary-color: var(--nfty-purple-color);
    --primary-color-light: var(--nfty-purple-color-light);
    --primary-color-very-light: var(--nfty-purple-color-very-light);
    --primary-color-dim: var(--nfty-purple-color-dim);
    --primary-color-very-dim: var(--nfty-purple-color-very-dim);

    --text-color-on-primary-color-bg: var(--text-color-on-nfty-purple-color-bg);

    /* Secondary colors */

    --secondary-color-hue: var(--nfty-pink-color-hue);
    --secondary-color-saturation: var(--nfty-pink-color-saturation);
    --secondary-color-lightness: var(--nfty-pink-color-lightness);
    --secondary-color-lightness-step-up-1: var(--nfty-pink-color-lightness-step-up-1);
    --secondary-color-lightness-step-up-2: var(--nfty-pink-color-lightness-step-up-2);
    --secondary-color-lightness-step-down-1: var(--nfty-pink-color-lightness-step-down-1);
    --secondary-color-lightness-step-down-2: var(--nfty-pink-color-lightness-step-down-2);

    --secondary-color-hsl: var(--nfty-pink-color-hsl);
    --secondary-color-light-hsl: var(--nfty-pink-color-light-hsl);
    --secondary-color-very-light-hsl: var(--nfty-pink-color-very-light-hsl);
    --secondary-color-dim-hsl: var(--nfty-pink-color-dim-hsl);
    --secondary-color-very-dim-hsl: var(--nfty-pink-color-very-dim-hsl);

    --secondary-color: var(--nfty-pink-color);
    --secondary-color-light: var(--nfty-pink-color-light);
    --secondary-color-very-light: var(--nfty-pink-color-very-light);
    --secondary-color-dim: var(--nfty-pink-color-dim);
    --secondary-color-very-dim: var(--nfty-pink-color-very-dim);

    --text-color-on-secondary-color-bg: var(--text-color-on-nfty-pink-color-bg);
}

/* Lists */

:root {
    /* Unordered list */

    --unordered-list-item-bullet-width: 0.6rem;
}

/* Buttons */

:root {
    --button-vertical-padding: 0.6rem;

    --small-button-vertical-padding: 0.4rem;

    --large-button-vertical-padding: 0.8rem;

    /* Default button */

    --button-border-color: var(--border-color);
}

.dark-mode {
    /* Default button */

    --button-bg-clip: border-box;

    /* Primary button */

    --button-primary-border-color: transparent;

    /* Secondary button */

    --button-secondary-border-color: transparent;

    /* Success button */

    --button-success-border-color: transparent;

    /* Warning button */

    --button-warning-border-color: transparent;

    /* Danger button */

    --button-danger-border-color: transparent;
}

/* Form */

:root {
    /* Default input */

    --input-border-color: var(--border-color);

    /* Form label */

    --form-label-font-weight: var(--bold-font-weight);

    /* Input group text */

    --input-group-text-border-color: var(--border-color);

    /* Checkbox */

    --checkbox-border-color-focus: var(--input-border-color-focus);
    --checkbox-box-shadow-focus: var(--input-box-shadow-focus);
}

.dark-mode {
    /* Default input */

    --input-bg-clip: border-box;

    --input-border-color-focus: var(--primary-color-dim);
    --input-box-shadow-focus: 0 0 0 0.3rem hsla(var(--primary-color-hsl), 0.15);
}

/* Navbar */

:root {
    --navbar-height: 4.8rem;

    --navbar-text-color: hsla(var(--white-color-hsl), 0.85);
    --navbar-bg-color: var(--nfty-midnight-color-dim);
    --navbar-border-color: transparent;
}

.dark-mode {
    --navbar-border-color: hsla(var(--white-color-hsl), 0.15);
}

/* Sidebar */

:root {
    --sidebar-padding: 0;
    --sidebar-border-width: 0;

    --sidebar-text-color: hsla(var(--white-color-hsl), 0.85);
    --sidebar-bg-color: var(--nfty-midnight-color);
    --sidebar-border-color: hsla(var(--white-color-hsl), 0.15);

    --sidebar-content-padding: 0.4rem 2.5rem;

    /* Sidebar link */

    --sidebar-link-margin: 0;
    --sidebar-link-border-radius: 0;

    --sidebar-link-text-color: var(--sidebar-text-color);

    --sidebar-link-text-color-hover: var(--sidebar-link-text-color);
    --sidebar-link-bg-color-hover: hsla(var(--white-color-hsl), 0.1);

    /* Active sidebar link */

    --sidebar-link-active-text-color: var(--text-color-on-secondary-color-bg);
    --sidebar-link-active-bg-color: var(--secondary-color);
    --sidebar-link-active-bg-image: linear-gradient(60deg, var(--primary-color), var(--secondary-color));

    --sidebar-link-active-text-color-hover: var(--sidebar-link-active-text-color);
}

.dark-mode {
    --sidebar-border-width: var(--base-border-width);

    /* Sidebar link */

    --sidebar-link-bg-color-hover: hsla(var(--white-color-hsl), 0.05);
}

/* Card */

:root {
    --card-border-color: var(--border-color);
}

/* Dropdown */

:root {
    /* Dropdown menu */

    --dropdown-menu-bg-color: var(--base-content-bg-color);
    --dropdown-menu-border-color: var(--border-color);
}

/* Tooltips */

:root {
    --tooltip-text-color: var(--white-color);
    --tooltip-bg-color: var(--black-color);
    --tooltip-box-shadow: none;
}

/* Sticky alerts */

:root {
    --sticky-alerts-width: 34rem;
}

/**
 * Scanner specific styles
 */

.socialpass-scanner {
    --base-body-bg-color: var(--gray-color-light);
}

.socialpass-scanner.dark-mode {
    --base-body-bg-color: var(--dark-color-very-dim);
}

.socialpass-scanner .content-wrapper {
    color: var(--text-color-on-primary-color-bg);
    background-color: var(--primary-color);
}

.socialpass-scanner.dark-mode .content-wrapper {
    background-color: hsl(var(--primary-color-hue), 40%, 15%);
}

/* Content and card */

.socialpass-scanner {
    --content-and-card-spacing: 4rem;
}

@media (max-width: 576px) {
    .socialpass-scanner {
        --content-and-card-spacing: 3rem;
    }
}
